<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sasico || Contact Us - SaaS & Tech Startup HTML Template</title>
    <meta name="author" content="Vecuro">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--==============================
	   Google Web Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- swiper slider -->
    <link rel="stylesheet" href="assets/css/vendor/swiper-bundle.min.css">
    <!-- AOS css file -->
    <link rel="stylesheet" href="assets/css/vendor/aos.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="start-up">
    <!-- darkModeBtn -->
    <a href="#" id="darkModeBtn" class="dark-active">
        <img src="assets/images/icon/moon.png" alt="Moon Icon" class="moon">
        <img src="assets/images/icon/sun.png" alt="Sun Icon" class="sun">
    </a>

    <div class="video-modal" id="videoModal">
        <span class="close-video">✕</span>
        <iframe id="videoFrame"
            allow="autoplay; encrypted-media"
            allowfullscreen>
        </iframe>
    </div>


    <!--********************************
   		Code Start From Here
	******************************** -->

    <!--==============================
        Preloader
    ==============================-->
    <div id="preloader">
        <div class="loader">
            <img src="assets/images/logo.svg" alt="Website Logo">
        </div>
    </div>

    <div class="wrapper">
        <!-- Mobile Menu -->
        <div class="mobile-menu">
            <!-- Close Button -->
            <div class="close-btn">
                <img src="assets/images/icon/xmark2.svg" alt="Close Menu">
            </div>
            <nav class="main-menu11 menu-style11" aria-label="Main Navigation">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about-us.html">About</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li><a href="faqs.html">Help</a></li>
                    <li><a href="contact-us.html">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu-overlay"></div>

        <!-- search box -->
        <div class="search-popup">
            <form class="search-form">
                <input type="text" placeholder="Enter Keywords..." required>
                <button type="submit" class="submit-btn">
                    <img src="assets/images/icon/search.svg" alt="Search Icon">
                </button>
            </form>
        </div>
        <div class="search-overlay"></div>

        <!-- main-sec4 -->
        <section class="main-sec6 v2">
            <!-- Header -->
            <header class="header-main">
                <div class="header-bottom">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- Logo -->
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="header-logo">
                                    <a href="index.html" class="logo" title="Home">
                                        <img src="assets/images/logo2.svg" alt="web logo" class="light">
                                        <img src="assets/images/logo.svg" alt="web logo" class="dark">
                                    </a>
                                </div>
                            </div>

                            <!-- Navigation Menu -->
                            <div class="col-lg-6">
                                <nav class="main-menu11 menu-style11" aria-label="Main Navigation">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about-us.html">About</a></li>
                                        <li><a href="services.html">Services</a></li>
                                        <li><a href="pricing.html">Pricing</a></li>
                                        <li><a href="faqs.html">Help</a></li>
                                        <li><a href="contact-us.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>

                            <!-- Buttons -->
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="header-btn">
                                    <a href="#" class="search-btn" aria-label="Search">
                                        <img src="assets/images/icon/search.svg" alt="Search Icon">
                                    </a>
                                    <a href="#" class="btn-style1">
                                        Get a Demo
                                        <span>
                                            <img src="assets/images/icon/arrow.svg" alt="Arrow Icon">
                                        </span>
                                    </a>
                                    <button class="hamburger-btn" aria-label="Toggle Menu">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- End header -->

            <!-- page-banner -->
            <div class="page-banner">
                <div class="carousel-container">
                    <div class="page-content">
                        <span class="sub-title" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">Feel free to reach out</span>
                        <h1 class="title" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">Connect with us</h1>
                        <p data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">We’d love to hear from you! Whether you have question want discuss 
                            project just want to say hello team is here to help
                        </p>
                    </div>
                </div>
            </div>
            <!-- End page-banner -->
        </section>
        <!-- End main-sec4 -->

        <!-- contact-us-sec -->
        <section class="contact-us-sec space-bottom">
            <div class="carousel-container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="contact-content" data-aos="fade-right" data-aos-duration="900" data-aos-delay="300">
                            <img src="assets/images/icon/message.svg" alt="meassage icon">
                            <h2 class="title">Need support?</h2>
                            <p>Ready to start? Let’s join forces and 
                                make your ideas come alive.
                            </p>
                            <a href="#" title="" class="nmbr">supportsasico@gmail.com</a>
                            <p class="location">20 Cooper Square, New York, NY 10003, USA</p>
                            <a href="#" title="" class="nmbr mb-0">+1 (234) 567 88 99</a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="contact-form" data-aos="fade-left" data-aos-duration="900" data-aos-delay="300">
                            <h3 class="title">Send Us Message</h3>
                            <p>Let us know who you are and what you're looking for below.</p>
                            <form>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" placeholder="Full name" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="email" placeholder="Email Address">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" placeholder="Phone No">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" placeholder="Services">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <textarea placeholder="Message" ></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group mb-0">
                                            <a href="#" class="btn-style1">
                                                Send Message
                                                <span>
                                                    <img src="assets/images/icon/arrow.svg" alt="Arrow Icon">
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End contact-us-sec -->

        <!-- googel-map -->
        <section class="googel-map-sec space-bottom">
            <h2>googel map</h2>
            <div class="carousel-container">
                <div class="googel-map" data-aos="zoom-in" data-aos-duration="900" data-aos-delay="300">
                    <iframe
                        src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street,%20Dublin,%20Ireland+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                    </iframe>
                </div>
            </div>
        </section>
        <!-- End googel-map -->

        <!-- footer-style1 -->
        <footer class="footer-style1">
            <button id="scrollTopBtn">
                <img src="assets/images/icon/check1-3.svg" alt="Scroll to top arrow icon">
            </button>
            <div class="widget-area">
                <div class="carousel-container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="footer-widget about-widget" data-aos="fade-right" data-aos-duration="900" data-aos-delay="100">
                                <div class="footer-logo">
                                    <img src="assets/images/logo.svg" alt="Sasico SaaS Footer Logo Light Version">
                                </div>
                                <p>SaaS platform is built to simplify your 
                                    workflow, automate everyday tasks help team
                                </p>
                                <ul class="social-links">
                                    <li><a href="#" title=""><img src="assets/images/icon/facebook.svg" alt="Facebook Icon"></a></li>
                                    <li><a href="#" title=""><img src="assets/images/icon/twitter.svg" alt="Twitter Icon"></a></li>
                                    <li><a href="#" title=""><img src="assets/images/icon/linked-in.svg" alt="LinkedIn Icon"></a></li>
                                    <li><a href="#" title=""><img src="assets/images/icon/youtube.svg" alt="YouTube Icon"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="widget-info">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-4">
                                        <div class="footer-widget link-widgets" data-aos="fade-right" data-aos-duration="900" data-aos-delay="200">
                                            <h2 class="link-title">Product</h2>
                                            <ul class="footer-links">
                                                <li><a href="#" title="">Features</a></li>
                                                <li><a href="#" title="">Integrations</a></li>
                                                <li><a href="#" title="">Download</a></li>
                                                <li><a href="#" title="">Pricing</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-4">
                                        <div class="footer-widget link-widgets" data-aos="fade-right" data-aos-duration="900" data-aos-delay="300">
                                            <h2 class="link-title">Company</h2>
                                            <ul class="footer-links">
                                                <li><a href="#" title="">About us</a></li>
                                                <li><a href="#" title="">Latest Blog</a></li>
                                                <li><a href="#" title="">Our Clients</a></li>
                                                <li><a href="#" title="">Careers</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-4">
                                        <div class="footer-widget link-widgets" data-aos="fade-right" data-aos-duration="900" data-aos-delay="400">
                                            <h2 class="link-title">Features</h2>
                                            <ul class="footer-links">
                                                <li><a href="#" title="">Analytics</a></li>
                                                <li><a href="#" title="">Integrations</a></li>
                                                <li><a href="#" title="">Workflows</a></li>
                                                <li><a href="#" title="">Dashboards</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-4">
                                        <div class="footer-widget link-widgets" data-aos="fade-right" data-aos-duration="900" data-aos-delay="500">
                                            <h2 class="link-title">Links</h2>
                                            <ul class="footer-links">
                                                <li><a href="#" title="">My Account</a></li>
                                                <li><a href="#" title="">Privacy Policy</a></li>
                                                <li><a href="#" title="">FAQs</a></li>
                                                <li><a href="#" title="">Sign Up</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="footer-content" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                                <h2 class="title">Ready to transform your business?</h2>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <form class="footer-form" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
                                <div class="form-group">
                                    <input type="text" placeholder="your email address">
                                    <button type="submit" class="btn-style1">
                                        Subscribe
                                        <span>
                                            <img src="assets/images/icon/arrow.svg" alt="Arrow Icon">
                                        </span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-box">
                <div class="carousel-container">
                    <div class="footer-bottom" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                        <p>Sasico,2026 © All rights reserved</p>
                        <ul class="terms-list" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
                            <li><a href="#" title="">Terms & Conditions</a></li>
                            <li><a href="#" title="">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End ooter-style1 -->
    </div>


    <!--********************************
			Code End  Here 
	******************************** -->

    <!--==============================
        All Js File
    ============================== -->
    <!-- Bootstrap -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <!-- swiper -->
    <script src="assets/js/vendor/swiper-bundle.min.js"></script>
    <!-- AOS Js File -->
    <script src="assets/js/vendor/aos.js"></script>
    <!-- Main Js File -->
    <script src="assets/js/main.js"></script>
</body>
</html>