<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sasico || IT Solution - SaaS & Tech Startup HTML Template</title>
    <meta name="author" content="Vecuro">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--==============================
	   Google Web Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- swiper slider -->
    <link rel="stylesheet" href="assets/css/vendor/swiper-bundle.min.css">
    <!-- AOS css file -->
    <link rel="stylesheet" href="assets/css/vendor/aos.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="it-solution">

    <!-- Video Popup -->
    <div class="video-popup">
        <div class="video-popup-inner">
            <span class="video-close">&times;</span>
            <iframe
                allow="autoplay; fullscreen">
            </iframe>
        </div>
    </div>
    <!-- darkModeBtn -->
    <a href="#" id="darkModeBtn" class="dark-active">
        <img src="assets/images/icon/moon.png" alt="Moon Icon" class="moon">
        <img src="assets/images/icon/sun.png" alt="Sun Icon" class="sun">
    </a>


    <!--********************************
   		Code Start From Here
	******************************** -->

    <!--==============================
        Preloader
    ==============================-->
    <div id="preloader">
        <div class="loader">
            <img src="assets/images/logo.svg" alt="Website Logo" class="light">
            <img src="assets/images/dark-logo.svg" alt="Website Logo" class="dark">
        </div>
    </div>

    <div class="wrapper">
        <!-- Mobile Menu -->
        <div class="mobile-menu">
            <!-- Close Button -->
            <div class="close-btn">
                <img src="assets/images/icon/xmark2.svg" alt="Close Menu">
            </div>
            <nav class="main-menu11 menu-style11">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="solution.html">Solutions</a></li>
                    <li><a href="case-study.html">Works</a></li>
                    <li><a href="resource.html">Resources</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu-overlay"></div>

        <!-- search box -->
        <div class="search-popup">
            <form class="search-form">
                <input type="text" placeholder="Enter Keywords..." required>
                <button type="submit" class="submit-btn">
                    <img src="assets/images/icon/search.svg" alt="Search Icon">
                </button>
            </form>
        </div>
        <div class="search-overlay"></div>

        <!-- Header -->
        <header class="header-main">
            <div class="carousel-container">
                <div class="header-bottom">
                    <div class="row">

                        <!-- Logo -->
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="header-logo">
                                <a href="index.html" class="logo" title="Home">
                                    <img src="assets/images/logo.svg" alt="Sasico IT Solutions Logo">
                                </a>
                                <a href="index.html" title="Home">
                                    <img src="assets/images/dark-logo.svg" alt="Sasico IT Solutions Dark Logo">
                                </a>
                            </div>
                        </div>

                        <!-- Navigation Menu -->
                        <div class="col-lg-7">
                            <nav class="main-menu11 menu-style11" aria-label="Main Navigation">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="solution.html">Solutions</a></li>
                                    <li><a href="case-study.html">Works</a></li>
                                    <li><a href="resource.html">Resources</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>

                        <!-- Buttons -->
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="header-btn">
                                <a href="#" class="search-btn" aria-label="Search">
                                    <img src="assets/images/icon/search.svg" alt="Search Icon">
                                </a>
                                <a href="#" class="sign-btn menu-btn">Free Quote</a>

                                <!-- Hamburger for mobile -->
                                <button class="hamburger-btn" aria-label="Toggle Menu">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </header>
        <!-- End Header -->

        <!-- main-sec3 -->
        <section class="main-sec3">
            <!-- page-banner -->
            <div class="page-banner">
                <div class="carousel-container">
                    <div class="page-banner-info">
                        <div class="page-banner-content">
                            <span class="sub-title" data-aos="fade" data-aos-duration="900" data-aos-delay="200">Use Cases</span>
                            <h1 class="title" data-aos="fade" data-aos-duration="900" data-aos-delay="300">Transforming Businesses <span>Across Industries</span></h1>
                        </div>
                        <div class="page-banner-img" data-aos="zoom-in" data-aos-duration="900" data-aos-delay="400">
                            <img src="assets/images/hero/hero2-3.png" alt="Use Cases Banner Image">
                        </div>
                    </div>
                </div>
            </div>
            <!-- End page-banner -->

            <!-- marquee-style1 -->
            <div class="marquee-style1">
                <div class="marquee1">
                    <div class="marquee-track">
                        <span>IT Solution - Cyber Security</span>
                        <span>IT Solution - Cyber Security</span>
                        <span>IT Solution - Cyber Security</span>
                        <span>IT Solution - Cyber Security</span>
                    </div>
                </div>
            </div>
            <!-- End marquee-style1 -->
        </section>
        <!-- End main-sec3 -->

        <!-- project-sec2 -->
        <section class="project-sec2 space">
            <div class="carousel-container">
                <div class="project-info2">
                    <div class="project-card2">
                        <div class="project-content2" data-aos="fade-right" data-aos-duration="900" data-aos-delay="300">
                            <div class="project-tags">
                                <a href="#" title="" class="tag">IT Solutions</a>
                                <a href="#" title="" class="year m-0">Security</a>
                            </div>
                            <h3 class="title"><a href="#" title="">Analytics tools for actionable business insights.</a></h3>
                            <p>Automating customer service operations 
                                with intelligent chatbots enhance
                            </p>
                        </div>
                        <div class="project-img2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                            <img src="assets/images/event/pro2-1.png" alt="Analytics Tools for Actionable Business Insights">
                        </div>
                        <div class="pro-list-box" data-aos="fade-left" data-aos-duration="900" data-aos-delay="300">
                            <ul class="pro-list">
                                <li>User-Centric Design</li>
                                <li>Cloud-Ready Infrastructure</li>
                                <li>Support & Maintenance</li>
                            </ul>
                            <a href="#" class="btn-style1">
                                View projects <span><img src="assets/images/icon/arrow.svg" alt="Arrow icon"></span>
                            </a>
                        </div>
                    </div>
                    <div class="project-card2">
                        <div class="project-content2" data-aos="fade-right" data-aos-duration="900" data-aos-delay="400">
                            <div class="project-tags">
                                <a href="#" title="" class="tag">Cloud Migration</a>
                                <a href="#" title="" class="year m-0">2024</a>
                            </div>
                            <h3 class="title"><a href="#" title="">Helping businesses securely migrate their infrastructure.</a></h3>
                            <p>Guiding organizations through strategic 
                                technology adoption to modernize
                            </p>
                        </div>
                        <div class="project-img2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
                            <img src="assets/images/event/pro2-2.png" alt="Cloud Migration Infrastructure Project">
                        </div>
                        <div class="pro-list-box" data-aos="fade-left" data-aos-duration="900" data-aos-delay="400">
                            <ul class="pro-list">
                                <li>Database Optimization</li>
                                <li>System Automation</li>
                                <li>API Development</li>
                            </ul>
                            <a href="#" class="btn-style1">
                                View projects <span><img src="assets/images/icon/arrow.svg" alt="Arrow icon"></span>
                            </a>
                        </div>
                    </div>
                    <div class="project-card2">
                        <div class="project-content2" data-aos="fade-right" data-aos-duration="900" data-aos-delay="500">
                            <div class="project-tags">
                                <a href="#" title="" class="tag">Custom Software</a>
                                <a href="#" title="" class="year m-0">2024</a>
                            </div>
                            <h3 class="title"><a href="#" title="">Designing and developing tailor-made software </a></h3>
                            <p>Enabling remote teams work efficiently 
                                through secure, cloud-integrated.
                            </p>
                        </div>
                        <div class="project-img2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="500">
                            <img src="assets/images/event/pro2-3.png" alt="Custom Software Development Project">
                        </div>
                        <div class="pro-list-box" data-aos="fade-left" data-aos-duration="900" data-aos-delay="500">
                            <ul class="pro-list">
                                <li>Development Process</li>
                                <li>Quality Assurance & Testing</li>
                                <li>Future-Ready Solutions</li>
                            </ul>
                            <a href="#" class="btn-style1">
                                View projects <span><img src="assets/images/icon/arrow.svg" alt="Arrow icon"></span>
                            </a>
                        </div>
                    </div>
                    <div class="project-card2">
                        <div class="project-content2" data-aos="fade-right" data-aos-duration="900" data-aos-delay="600">
                            <div class="project-tags">
                                <a href="#" title="" class="tag">Security</a>
                                <a href="#" title="" class="year m-0">2025</a>
                            </div>
                            <h3 class="title"><a href="#" title="">Cybersecurity & Data<br> Protection</a></h3>
                            <p>Implementing advance security protocols to 
                                safeguard digital assets and ensure.
                            </p>
                        </div>
                        <div class="project-img2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="600">
                            <img src="assets/images/event/pro2-4.png" alt="Cybersecurity and Data Protection Project">
                        </div>
                        <div class="pro-list-box" data-aos="fade-left" data-aos-duration="900" data-aos-delay="600">
                            <ul class="pro-list">
                                <li>Performance Optimization</li>
                                <li>Monitoring & Support</li>
                                <li>On-Time Project Delivery</li>
                            </ul>
                            <a href="#" class="btn-style1">
                                View projects <span><img src="assets/images/icon/arrow.svg" alt="Arrow icon"></span>
                            </a>
                        </div>
                    </div>
                    <div class="project-card2">
                        <div class="project-content2" data-aos="fade-right" data-aos-duration="900" data-aos-delay="700">
                            <div class="project-tags">
                                <a href="#" title="" class="tag">AI-Powered</a>
                                <a href="#" title="" class="year m-0">2025</a>
                            </div>
                            <h3 class="title"><a href="#" title="">AI-Powered Customer Support Chatbots</a></h3>
                            <p>Seamlessly transition enterprise systems 
                                to the cloud with our comprehensive.
                            </p>
                        </div>
                        <div class="project-img2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="700">
                            <img src="assets/images/event/pro2-5.png" alt="AI-Powered Customer Support Chatbots Project">
                        </div>
                        <div class="pro-list-box" data-aos="fade-left" data-aos-duration="900" data-aos-delay="700">
                            <ul class="pro-list">
                                <li>AI-Powered Analytics</li>
                                <li>Blockchain Integration</li>
                                <li>Advanced UI/UX Design</li>
                            </ul>
                            <a href="#" class="btn-style1">
                                View projects <span><img src="assets/images/icon/arrow.svg" alt="Arrow icon"></span>
                            </a>
                        </div>
                    </div>
                    <div class="project-card2 mb-0">
                        <div class="project-content2" data-aos="fade-right" data-aos-duration="900" data-aos-delay="800">
                            <div class="project-tags">
                                <a href="#" title="" class="tag">Data Analytics</a>
                                <a href="#" title="" class="year m-0">2025</a>
                            </div>
                            <h3 class="title"><a href="#" title="">Data Analytics & Business Intelligence</a></h3>
                            <p>Turning raw data into actionable insights 
                                to support strategic decision-making
                            </p>
                        </div>
                        <div class="project-img2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="800">
                            <img src="assets/images/event/pro2-6.png" alt="Data Analytics and Business Intelligence Project">
                        </div>
                        <div class="pro-list-box" data-aos="fade-left" data-aos-duration="900" data-aos-delay="800">
                            <ul class="pro-list">
                                <li>Smart CRM Solutions</li>
                                <li>E-commerce Development</li>
                                <li>Future-Driven Innovation</li>
                            </ul>
                            <a href="#" class="btn-style1">
                                View projects <span><img src="assets/images/icon/arrow.svg" alt="Arrow icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End project-sec2 -->

        <!-- trial-sec -->
        <section class="trial-sec space-bottom">
            <div class="carousel-container">
                <div class="trial-info">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="trial-title" data-aos="fade-right" data-aos-duration="900" data-aos-delay="200">
                                <div class="sec-title">
                                    <span class="sub-title">Why Choose Us</span>
                                    <h2 class="title">Start your analytics <span>journey in minutes</span></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="trial-content" data-aos="fade-left" data-aos-duration="900" data-aos-delay="200">
                                <p>Ready to harness the full power of your data? Our platform 
                                    makes analytics simple actionable.
                                </p>
                                <ul class="trial-list">
                                    <li><img src="assets/images/icon/check1-2.svg" alt="Intelligence Reporting Icon">Intelligence Reporting</li>
                                    <li><img src="assets/images/icon/check1-2.svg" alt="Advanced Data Modeling Icon">Advanced Data Modeling</li>
                                    <li><img src="assets/images/icon/check1-2.svg" alt="Custom KPI Tracking Icon">Custom KPI Tracking</li>
                                    <li><img src="assets/images/icon/check1-2.svg" alt="Data-Driven Insights Icon">Data-Driven Insights</li>
                                </ul>
                                <a href="#" class="btn-style1">
                                    Get 14-days Free Trials <span><img src="assets/images/icon/arrow.svg" alt="Arrow icon"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End trial-sec -->

        <!-- footer-style1 -->
        <footer class="footer-style1">
            <button id="scrollTopBtn">
                <img src="assets/images/icon/arrow4.svg" alt="Scroll to top arrow icon">
            </button>
            <div class="carousel-container">
                <div class="footer-info">
                    <div class="footer-content space">
                        <div class="sec-title mb-0">
                            <span class="sub-title">Let’s Work Together</span>
                            <h2 class="title">Turn Your Ideas into Reality <br><span>with Our Expertise</span></h2>
                            <p>Let’s work together to bring your ideas to life and create solutions that make an impact.</p>
                        </div>
                        <div class="footer-btn">
                            <a href="#" class="btn-style1">
                                Start Your Project <span><img src="assets/images/icon/arrow.svg" alt="Arrow icon"></span>
                            </a>
                            <a href="#" class="btn-style1 v2">
                                Sell All Works <span><img src="assets/images/icon/arrow.svg" alt="Arrow icon"></span>
                            </a>
                        </div>
                    </div>
                    <div class="shade"></div>
                    <div class="footer-bottom">
                        <ul class="footer-links">
                            <li><a href="">Features</a></li>
                            <li><a href="">Integrations</a></li>
                            <li><a href="">Download</a></li>
                            <li><a href="">Pricing</a></li>
                        </ul>
                        <div class="copyright-area">
                            <p>Sasico 2025 © All rights reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End footer-style1 -->
    </div>


    <!--********************************
			Code End  Here 
	******************************** -->

    <!--==============================
        All Js File
    ============================== -->
    <!-- Bootstrap -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <!-- swiper -->
    <script src="assets/js/vendor/swiper-bundle.min.js"></script>
    <!-- AOS Js File -->
    <script src="assets/js/vendor/aos.js"></script>
    <!-- Main Js File -->
    <script src="assets/js/main.js"></script>
</body>
</html>