<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sasico || IT Solution - SaaS & Tech Startup HTML Template</title>
    <meta name="author" content="Vecuro">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--==============================
	   Google Web Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- swiper slider -->
    <link rel="stylesheet" href="assets/css/vendor/swiper-bundle.min.css">
    <!-- AOS css file -->
    <link rel="stylesheet" href="assets/css/vendor/aos.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="it-solution">

    <!-- Video Popup -->
    <div class="video-popup">
        <div class="video-popup-inner">
            <span class="video-close">&times;</span>
            <iframe
                allow="autoplay; fullscreen">
            </iframe>
        </div>
    </div>
    <!-- darkModeBtn -->
    <a href="#" id="darkModeBtn" class="dark-active">
        <img src="assets/images/icon/moon.png" alt="Moon Icon" class="moon">
        <img src="assets/images/icon/sun.png" alt="Sun Icon" class="sun">
    </a>


    <!--********************************
   		Code Start From Here
	******************************** -->

    <!--==============================
        Preloader
    ==============================-->
    <div id="preloader">
        <div class="loader">
            <img src="assets/images/logo.svg" alt="Website Logo" class="light">
            <img src="assets/images/dark-logo.svg" alt="Website Logo" class="dark">
        </div>
    </div>

    <div class="wrapper">
        <!-- Mobile Menu -->
        <div class="mobile-menu">
            <!-- Close Button -->
            <div class="close-btn">
                <img src="assets/images/icon/xmark2.svg" alt="Close Menu">
            </div>
            <nav class="main-menu11 menu-style11">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="solution.html">Solutions</a></li>
                    <li><a href="case-study.html">Works</a></li>
                    <li><a href="resource.html">Resources</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu-overlay"></div>

        <!-- search box -->
        <div class="search-popup">
            <form class="search-form">
                <input type="text" placeholder="Enter Keywords..." required>
                <button type="submit" class="submit-btn">
                    <img src="assets/images/icon/search.svg" alt="Search Icon">
                </button>
            </form>
        </div>
        <div class="search-overlay"></div>

        <!-- Header -->
        <header class="header-main">
            <div class="carousel-container">
                <div class="header-bottom">
                    <div class="row">

                        <!-- Logo -->
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="header-logo">
                                <a href="index.html" class="logo" title="Home">
                                    <img src="assets/images/logo.svg" alt="Sasico IT Solutions Logo">
                                </a>
                                <a href="index.html" title="Home">
                                    <img src="assets/images/dark-logo.svg" alt="Sasico IT Solutions Dark Logo">
                                </a>
                            </div>
                        </div>

                        <!-- Navigation Menu -->
                        <div class="col-lg-7">
                            <nav class="main-menu11 menu-style11" aria-label="Main Navigation">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="solution.html">Solutions</a></li>
                                    <li><a href="case-study.html">Works</a></li>
                                    <li><a href="resource.html">Resources</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>

                        <!-- Buttons -->
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="header-btn">
                                <a href="#" class="search-btn" aria-label="Search">
                                    <img src="assets/images/icon/search.svg" alt="Search Icon">
                                </a>
                                <a href="#" class="sign-btn menu-btn">Free Quote</a>

                                <!-- Hamburger for mobile -->
                                <button class="hamburger-btn" aria-label="Toggle Menu">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </header>
        <!-- End Header -->

        <!-- main-sec3 -->
        <section class="main-sec3">
            <!-- page-banner -->
            <div class="page-banner">
                <div class="carousel-container">
                    <div class="page-banner-info">
                        <div class="page-banner-content">
                            <span class="sub-title" data-aos="fade" data-aos-duration="900" data-aos-delay="200">IT Solutions</span>
                            <h1 class="title" data-aos="fade" data-aos-duration="900" data-aos-delay="300">Pioneering Smart IT for <span>Smarter Businesses</span></h1>
                        </div>
                        <div class="page-banner-img" data-aos="zoom-in" data-aos-duration="900" data-aos-delay="400">
                            <img src="assets/images/hero/hero2-4.png" alt="Smart IT Solutions for Smarter Businesses">
                        </div>
                    </div>
                </div>
            </div>
            <!-- End page-banner -->

            <!-- marquee-style1 -->
            <div class="marquee-style1">
                <div class="marquee1">
                    <div class="marquee-track">
                        <span>IT Solution - Cyber Security</span>
                        <span>IT Solution - Cyber Security</span>
                        <span>IT Solution - Cyber Security</span>
                        <span>IT Solution - Cyber Security</span>
                    </div>
                </div>
            </div>
            <!-- End marquee-style1 -->
        </section>
        <!-- End main-sec3 -->

        <!-- service-sec2 -->
        <section class="service-sec2 space">
            <div class="carousel-container">
                <div class="sec-title" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
                    <span class="sub-title">Latest Services</span>
                    <h2 class="title">Innovative Solutions for <span>Ambitious Startups</span></h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="ser-info2" data-aos="fade-right" data-aos-duration="900" data-aos-delay="400">
                            <div class="ser-block2">
                                <div class="ser-icon2">
                                    <img src="assets/images/icon/ser2-1.svg" alt="Custom AI Software Development Icon">
                                </div>
                                <div class="ser-block-content">
                                    <h4 class="title">Custom AI Software Development</h4>
                                    <p>Develop tailored AI-driven software solutions for 
                                        businesses, including predictive analytics tools.
                                    </p>
                                    <a href="#" class="btn-style1">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="ser-info2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="500">
                            <div class="ser-block2">
                                <div class="ser-icon2">
                                    <img src="assets/images/icon/ser2-2.svg" alt="Machine Learning & Data Science Icon">
                                </div>
                                <div class="ser-block-content">
                                    <h4 class="title">Machine Learning & Data Science</h4>
                                    <p>Implement machine learning models, data analysis, and predictive 
                                        insights to help businesses make smarter.
                                    </p>
                                    <a href="#" class="btn-style1">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="ser-info2" data-aos="fade-left" data-aos-duration="900" data-aos-delay="600">
                            <div class="ser-block2">
                                <div class="ser-icon2">
                                    <img src="assets/images/icon/ser2-3.svg" alt="Robotic Process Automation RPA Icon">
                                </div>
                                <div class="ser-block-content">
                                    <h4 class="title">Robotic Process Automation (RPA)</h4>
                                    <p>Automate repetitive business processes to reduce 
                                        operational costs and increase efficiency.
                                    </p>
                                    <a href="#" class="btn-style1">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="ser-info2" data-aos="fade-right" data-aos-duration="900" data-aos-delay="400">
                            <div class="ser-block2">
                                <div class="ser-icon2">
                                    <img src="assets/images/icon/ser2-4.svg" alt="Natural Language Processing NLP Solutions Icon">
                                </div>
                                <div class="ser-block-content">
                                    <h4 class="title">Natural Language Processing (NLP) Solutions</h4>
                                    <p>Develop chatbots, virtual assistants, and text 
                                        analysis systems using advanced NLP technologies.
                                    </p>
                                    <a href="#" class="btn-style1">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="ser-info2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="500">
                            <div class="ser-block2">
                                <div class="ser-icon2">
                                    <img src="assets/images/icon/ser2-5.svg" alt="AI-Driven Cybersecurity Icon">
                                </div>
                                <div class="ser-block-content">
                                    <h4 class="title">AI-Driven <br>Cybersecurity</h4>
                                    <p>Protect businesses with intelligent threat detection, 
                                        anomaly detection, and predictive security systems.
                                    </p>
                                    <a href="#" class="btn-style1">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="ser-info2" data-aos="fade-left" data-aos-duration="900" data-aos-delay="600">
                            <div class="ser-block2">
                                <div class="ser-icon2">
                                    <img src="assets/images/icon/ser2-6.svg" alt="Big Data Analytics & IT Consulting Icon">
                                </div>
                                <div class="ser-block-content">
                                    <h4 class="title">Big Data Analytics & IT Consulting</h4>
                                    <p>Provide data aggregation, processing, and insights 
                                        to support strategic business decisions.
                                    </p>
                                    <a href="#" class="btn-style1">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End service-sec2 -->

        <!-- process-banner -->
        <section class="process-banner space-bottom">
            <div class="carousel-container">
                <div class="process-info">
                    <div class="process-title">
                        <div class="row mb-0">
                            <div class="col-lg-5">
                                <div class="sec-title mb-0" data-aos="fade-right" data-aos-duration="900" data-aos-delay="400">
                                    <span class="sub-title">Working Process</span>
                                    <h2 class="title mb-0">Turning Ideas into <span>Scalable Solutions</span></h2>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <p class="paragraph" data-aos="fade-left" data-aos-duration="900" data-aos-delay="400">We follow a clear and strategic working 
                                    process designed to deliver efficient and
                                    result-driven IT solutions.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="shade"></div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="process-block" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                                <span>Step 01</span>
                                <h4 class="title">Discover & Plan</h4>
                                <p>We start by understanding your business
                                    goals, challenges, and technical needs.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="process-block" data-aos="fade-up" data-aos-duration="900" data-aos-delay="500">
                                <span>Step 02</span>
                                <h4 class="title">Design & Develop</h4>
                                <p>Our experts craft user-focused designs 
                                    and develop robust, scalable systems
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="process-block" data-aos="fade-up" data-aos-duration="900" data-aos-delay="700">
                                <span>Step 03</span>
                                <h4 class="title">Deliver & Support</h4>
                                <p>We ensure smooth deployment, monitor 
                                    performance, and provide ongoing.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End process-banner -->

        <!-- choose-us-sec2 -->
        <section class="choose-us-sec2">
            <div class="carousel-container">
                <div class="choose-us-info2 space-bottom">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="choose-us-content2" data-aos="fade-right" data-aos-duration="900" data-aos-delay="400">
                                <div class="sec-title">
                                    <span class="sub-title">Why Choose Us</span>
                                    <h2 class="title">Built on Trust, Driven <span>by Technology</span></h2>
                                    <p>We combine deep technical expertise with strategic thinking to
                                        deliver solutions that truly make a difference. Client-first 
                                        approach ensures every project is customized to meet goals.
                                    </p>
                                </div>
                                <ul class="choose-list2">
                                    <li><img src="assets/images/icon/check1-3.svg" alt="Customized Solutions Icon">Customized Solutions</li>
                                    <li><img src="assets/images/icon/check1-3.svg" alt="Quality Assurance Icon">Quality Assurance</li>
                                    <li><img src="assets/images/icon/check1-3.svg" alt="On-Time Delivery Icon">On-Time Delivery</li>
                                </ul>
                                <a href="#" class="btn-style1">
                                    Get Started With Us <span><img src="assets/images/icon/arrow.svg" alt="Arrow icon"></span>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="choose-img2" data-aos="fade-left" data-aos-duration="900" data-aos-delay="400">
                                <img src="assets/images/event/choose2-1.png" alt="Team Collaboration Illustration">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End choose-us-sec2 -->

        <!-- testimonial-sec11 -->
        <section class="testimonial-sec11 space">
            <div class="carousel-container">
                <div class="sec-title">
                    <span class="sub-title" data-aos="fade-up" data-aos-duration="900">Our Testimonials</span>
                    <h2 class="title" data-aos="fade-up" data-aos-duration="900">1000+ <span>Customer Say</span> Us</h2>
                    <p data-aos="fade-up" data-aos-duration="700">Hear how more than 1,000 users improved their 
                        productivity, streamlined their 
                        processes, and found lasting value through our solution.</p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="testi-card11" data-aos="fade-up" data-aos-duration="900" data-aos-delay="500">
                            <div class="testi-auther11">
                                <img src="assets/images/author/auther1-1.webp" alt="Portrait of Sarah Linda, Designer at Creative Studio">
                                <h4 class="name">Sarah Linda</h4>
                                <span class="designation">Designer, Creative Studio</span>
                            </div>
                            <p>“We’ve tried multiple tools, but this one hits the sweet spot between simplicity and powerful
                                features team’s.”</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="testi-card11" data-aos="fade-up" data-aos-duration="900" data-aos-delay="700">
                            <div class="testi-auther11">
                                <img src="assets/images/author/auther1-3.webp" alt="Portrait of James Bond, Freelance Consultant">
                                <h4 class="name">James Bond</h4>
                                <span class="designation">Freelance Consultant</span>
                            </div>
                            <p>“I love how easy it is to organize tasks, assign roles, and track progress. It helps me stay
                                of everything without .”</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="testi-card11" data-aos="fade-up" data-aos-duration="900" data-aos-delay="900">
                            <div class="testi-auther11">
                                <img src="assets/images/author/auther1-2.webp" alt="Portrait of Priya Donald, UX Designer at TaskHive">
                                <h4 class="name">Priya Donald</h4>
                                <span class="designation">UX Designer, TaskHive</span>
                            </div>
                            <p>“The integration options and the clean interface make this to best task manage tool we've
                                used so far!”</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="testi-card11" data-aos="fade-up" data-aos-duration="900" data-aos-delay="500">
                            <div class="testi-auther11">
                                <img src="assets/images/author/auther1-4.webp" alt="Portrait of Elena Rossi, Marketing Director at BrightPath">
                                <h4 class="name">Elena Rossi</h4>
                                <span class="designation">Marketing Director, BrightPath</span>
                            </div>
                            <p>“After testing countless apps, this one finally balances ease of use with the depth our team
                                needs.”</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="testi-card11" data-aos="fade-up" data-aos-duration="900" data-aos-delay="700">
                            <div class="testi-auther11">
                                <img src="assets/images/author/auther1-5.webp" alt="Portrait of Anna Carter, Team Lead at CloudShift">
                                <h4 class="name">Anna Carter</h4>
                                <span class="designation">Team Lead, CloudShift</span>
                            </div>
                            <p>“It’s rare to find a tool that’s both intuitive and packed with everything a growing team
                                requires.”</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="testi-card11" data-aos="fade-up" data-aos-duration="900" data-aos-delay="900">
                            <div class="testi-auther11">
                                <img src="assets/images/author/auther1-6.webp" alt="Portrait of Maria Lopez, Product Manager at FlowSync">
                                <h4 class="name">Maria Lopez</h4>
                                <span class="designation">Product Manager, FlowSync</span>
                            </div>
                            <p>“From setup to daily use, it delivers exactly what we need — clean, smart, and incredibly
                                efficient.”</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End testimonial-sec11 -->

        <!-- footer-style1 -->
        <footer class="footer-style1">
            <button id="scrollTopBtn">
                <img src="assets/images/icon/arrow4.svg" alt="Scroll to top arrow icon">
            </button>
            <div class="carousel-container">
                <div class="footer-info">
                    <div class="footer-content space">
                        <div class="sec-title mb-0">
                            <span class="sub-title">Let’s Work Together</span>
                            <h2 class="title">Turn Your Ideas into Reality <br><span>with Our Expertise</span></h2>
                            <p>Let’s work together to bring your ideas to life and create solutions that make an impact.</p>
                        </div>
                        <div class="footer-btn">
                            <a href="#" class="btn-style1">
                                Start Your Project <span><img src="assets/images/icon/arrow.svg" alt="Arrow icon"></span>
                            </a>
                            <a href="#" class="btn-style1 v2">
                                Sell All Works <span><img src="assets/images/icon/arrow.svg" alt="Arrow icon"></span>
                            </a>
                        </div>
                    </div>
                    <div class="shade"></div>
                    <div class="footer-bottom">
                        <ul class="footer-links">
                            <li><a href="">Features</a></li>
                            <li><a href="">Integrations</a></li>
                            <li><a href="">Download</a></li>
                            <li><a href="">Pricing</a></li>
                        </ul>
                        <div class="copyright-area">
                            <p>Sasico 2025 © All rights reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End footer-style1 -->
    </div>


    <!--********************************
			Code End  Here 
	******************************** -->

    <!--==============================
        All Js File
    ============================== -->
    <!-- Bootstrap -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <!-- swiper -->
    <script src="assets/js/vendor/swiper-bundle.min.js"></script>
    <!-- AOS Js File -->
    <script src="assets/js/vendor/aos.js"></script>
    <!-- Main Js File -->
    <script src="assets/js/main.js"></script>
</body>
</html>