<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sasico || Blog Fintech-Software - SaaS & Tech Startup HTML Template</title>
    <meta name="author" content="Vecuro">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--==============================
	   Google Web Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
        rel="stylesheet">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- swiper slider -->
    <link rel="stylesheet" href="assets/css/vendor/swiper-bundle.min.css">
    <!-- AOS css file -->
    <link rel="stylesheet" href="assets/css/vendor/aos.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="fintech-software">

    <!-- scrollTopBtn -->
    <button id="scrollTopBtn">
        <img src="assets/images/icon/arrow1-5.svg" alt="Scroll to top arrow icon">
    </button>

    <!-- darkModeBtn -->
    <a href="#" id="darkModeBtn" class="dark-active">
        <img src="assets/images/icon/moon.png" alt="Moon Icon" class="moon">
        <img src="assets/images/icon/sun.png" alt="Sun Icon" class="sun">
    </a>

    <div class="video-modal" id="videoModal">
        <span class="close-video">✕</span>
        <iframe id="videoFrame" allow="autoplay; encrypted-media" allowfullscreen>
        </iframe>
    </div>


    <!--********************************
   		Code Start From Here
	******************************** -->

    <!--==============================
        Preloader
    ==============================-->
    <div id="preloader">
        <div class="loader">
            <img src="assets/images/logo.svg" alt="Website Logo" class="light">
            <img src="assets/images/logo-dark.svg" alt="Website Logo" class="dark">
        </div>
    </div>

    <div class="wrapper">
        <!-- Mobile Menu -->
        <div class="mobile-menu">
            <!-- Close Button -->
            <div class="close-btn">
                <img src="assets/images/icon/xmark2.svg" alt="Close Menu">
            </div>
            <nav>
                <ul class="main-menu11 menu-style11">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about-us.html">About</a></li>
                    <li><a href="solutions.html">Solutions</a></li>
                    <li><a href="price.html">Pricing</a></li>
                    <li><a href="blog.html">News</a></li>
                    <li><a href="contact-us.html">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu-overlay"></div>

        <!-- search box -->
        <div class="search-popup">
            <form class="search-form">
                <input type="text" placeholder="Enter Keywords..." required>
                <button type="submit" class="submit-btn">
                    <img src="assets/images/icon/search.svg" alt="Search Icon">
                </button>
            </form>
        </div>
        <div class="search-overlay"></div>

        <!-- main-sec -->
        <section class="main-sec2">
            <div class="anim-img2">
                <img src="assets/images/event/dosts.png" alt="" class="anim-one light">
                <img src="assets/images/event/dosts-dark.png" alt="" class="anim-one dark">
                <img src="assets/images/event/dosts2.png" alt="" class="anim-two light">
                <img src="assets/images/event/dosts2-dark.png" alt="" class="anim-two dark">
            </div>
            <!-- Header -->
            <header class="header-main">
                <div class="header-bottom">
                    <div class="container">
                        <div class="row">
                            <!-- Logo -->
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="header-logo">
                                    <a href="index.html" class="logo" title="Home">
                                        <img src="assets/images/logo.svg" alt="Sasico SaaS Analytics Logo"
                                            class="light">
                                        <img src="assets/images/logo-dark.svg" alt="Website Logo" class="dark">
                                    </a>
                                </div>
                            </div>

                            <!-- Navigation Menu -->
                            <div class="col-lg-6">
                                <nav class="main-menu11 menu-style11" aria-label="Main Navigation">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about-us.html">About</a></li>
                                        <li><a href="solutions.html">Solutions</a></li>
                                        <li><a href="price.html">Pricing</a></li>
                                        <li><a href="blog.html">News</a></li>
                                        <li><a href="contact-us.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>

                            <!-- Buttons -->
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="header-btn">
                                    <a href="#" class="search-btn" aria-label="Search">
                                        <img src="assets/images/icon/search.svg" alt="Search Icon">
                                    </a>
                                    <a href="#" class="btn-style1">
                                        Sign Up
                                    </a>
                                    <button class="hamburger-btn" aria-label="Toggle Menu">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- End header -->

            <!-- page-banner -->
            <div class="page-banner">
                <div class="carousel-container">
                    <div class="page-content">
                        <span class="sub-title" data-aos="fade-up" data-aos-duration="900"
                            data-aos-delay="300"><small>Blog</small> Latest Blog</span>
                        <h1 class="title" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">Latest News &
                            Blog</h1>
                    </div>
                </div>
            </div>
            <!-- End page-banner -->
        </section>
        <!-- End main-sec -->

        <!-- blog-sec -->
        <section class="blog-sec space">
            <div class="carousel-container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-card" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                            <div class="blog-img">
                                <img src="assets/images/blog/blog1-1.png" alt="Blog image 1">
                            </div>
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li><a href="#" title="">Admin</a></li>
                                    <li>January 11, 2026</li>
                                </ul>
                                <h2 class="title"><a href="#" title="">Top Fintech Trends Shaping the
                                        Future of Digital Finance</a>
                                </h2>
                                <p>Fintech solutions are designed to deliver maximum
                                    value through a combination of security.
                                </p>
                                <a href="#" title="" class="btn-style1">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-card" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                            <div class="blog-img">
                                <img src="assets/images/blog/blog1-2.png" alt="Blog image 2">
                            </div>
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li><a href="#" title="">Admin</a></li>
                                    <li>December 12, 2025</li>
                                </ul>
                                <h3 class="title"><a href="#" title="">Fintech Software Strategies for Faster Financial
                                        Decision Making</a>
                                </h3>
                                <p>Financial planning aligns strategy, resources,
                                    and risk to sustain growth and success.
                                </p>
                                <a href="#" title="" class="btn-style1">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-card" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
                            <div class="blog-img">
                                <img src="assets/images/blog/blog1-3.png" alt="Blog image 3">
                            </div>
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li><a href="#" title="">Admin</a></li>
                                    <li>December 2, 2025</li>
                                </ul>
                                <h3 class="title"><a href="#" title="">Choosing the Right Fintech
                                        Software for Scalable Businesses</a>
                                </h3>
                                <p>Tech convergence and ethical values drive
                                    growth, loyalty, and smarter decision-making.
                                </p>
                                <a href="#" title="" class="btn-style1">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-card" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                            <div class="blog-img">
                                <img src="assets/images/blog/blog1-4.png" alt="Blog image 4">
                            </div>
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li><a href="#" title="">Admin</a></li>
                                    <li>November 20, 2025</li>
                                </ul>
                                <h3 class="title"><a href="#" title="">Top Fintech Software Trends
                                        Shaping the Future of Finance</a>
                                </h3>
                                <p>Risk management helps businesses anticipate
                                    challenges and maintain long-term stability.
                                </p>
                                <a href="#" title="" class="btn-style1">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-card" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                            <div class="blog-img">
                                <img src="assets/images/blog/blog1-5.png" alt="Blog image 5">
                            </div>
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li><a href="#" title="">Admin</a></li>
                                    <li>July 13, 2025</li>
                                </ul>
                                <h3 class="title"><a href="#" title="">Why Fintech Software Matters
                                        for Digital Banking Growth</a>
                                </h3>
                                <p>Data-driven retention strategies help businesses
                                    keep customers engaged and coming back.
                                </p>
                                <a href="#" title="" class="btn-style1">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-card" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
                            <div class="blog-img">
                                <img src="assets/images/blog/blog1-6.png" alt="Blog image 6">
                            </div>
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li><a href="#" title="">Admin</a></li>
                                    <li>25 December 2025</li>
                                </ul>
                                <h3 class="title"><a href="#" title="">Sustainability Consulting
                                        Building a Future-Ready Business
                                    </a>
                                </h3>
                                <p>Sustainable business models drive resilience
                                    and competitive advantage in evolving markets.
                                </p>
                                <a href="#" title="" class="btn-style1">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <nav aria-label="Page navigation example" data-aos="fade-up" data-aos-duration="900"
                    data-aos-delay="300">
                    <ul class="pagination blog-pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true"><img src="assets/images/icon/prev.svg"
                                        alt="Previous arrow"></span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true"><img src="assets/images/icon/next.svg" alt="Next arrow"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
        <!-- End blog-sec -->

        <!-- footer-style1 -->
        <footer class="footer-style1">
            <div class="widget-area">
                <div class="carousel-container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-8">
                            <div class="footer-widget about-widget" data-aos="fade-right" data-aos-duration="900"
                                data-aos-delay="100">
                                <div class="footer-logo">
                                    <img src="assets/images/logo.svg" alt="Sasico SaaS Footer Logo Light Version"
                                        class="light">
                                    <img src="assets/images/logo-dark.svg" alt="Sasico SaaS Footer Logo Light Version"
                                        class="dark">
                                </div>
                                <p>Fintech software empowers financial institutions and
                                    businesses to deliver faster, smarter, and more secure.
                                </p>
                                <ul class="social-links">
                                    <li><a href="#" title=""><img src="assets/images/icon/facebook.svg"
                                                alt="Facebook Icon"></a></li>
                                    <li><a href="#" title=""><img src="assets/images/icon/linked-in.svg"
                                                alt="LinkedIn Icon"></a></li>
                                    <li><a href="#" title=""><img src="assets/images/icon/twitter.svg"
                                                alt="Twitter Icon"></a></li>
                                    <li><a href="#" title=""><img src="assets/images/icon/behance.svg"
                                                alt="YouTube Icon"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="widget-info">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-4">
                                        <div class="footer-widget link-widgets" data-aos="fade-right"
                                            data-aos-duration="900" data-aos-delay="200">
                                            <h2 class="link-title">Resources</h2>
                                            <ul class="footer-links">
                                                <li><a href="#" title="">About</a></li>
                                                <li><a href="#" title="">Feature</a></li>
                                                <li><a href="#" title="">Pricing</a></li>
                                                <li><a href="#" title="">Contact</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-4">
                                        <div class="footer-widget link-widgets" data-aos="fade-right"
                                            data-aos-duration="900" data-aos-delay="300">
                                            <h2 class="link-title">Company</h2>
                                            <ul class="footer-links">
                                                <li><a href="#" title="">Blog</a></li>
                                                <li><a href="#" title="">Details</a></li>
                                                <li><a href="#" title="">StyleGuide</a></li>
                                                <li><a href="#" title="">404</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-4">
                                        <div class="footer-widget link-widgets" data-aos="fade-right"
                                            data-aos-duration="900" data-aos-delay="400">
                                            <h2 class="link-title">Follow Us</h2>
                                            <ul class="footer-links">
                                                <li><a href="#" title="">Instagram</a></li>
                                                <li><a href="#" title="">LinkedIn</a></li>
                                                <li><a href="#" title="">Twitter</a></li>
                                                <li><a href="#" title="">Contact</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                        <div class="footer-widget contact-widgets" data-aos="fade-right"
                                            data-aos-duration="900" data-aos-delay="500">
                                            <h2 class="link-title">Get In Touch</h2>
                                            <div class="contact-widget">
                                                <a href="" title="" class="gmail">support@Gmail.com</a>
                                                <a href="" title="" class="nmbr">+1 (200) 300 400</a>
                                                <p>1234 Market Street, Suite
                                                    500 CA 94103, USA
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-box">
                <div class="carousel-container">
                    <div class="footer-bottom" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                        <p>Copyright@ 2026 <a href="#" title="">Sasico</a>. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End footer-style1 -->

    </div>


    <!--********************************
			Code End  Here 
	******************************** -->

    <!--==============================
        All Js File
    ============================== -->
    <!-- Bootstrap -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <!-- swiper -->
    <script src="assets/js/vendor/swiper-bundle.min.js"></script>
    <!-- AOS Js File -->
    <script src="assets/js/vendor/aos.js"></script>
    <!-- Main Js File -->
    <script src="assets/js/main.js"></script>
</body>

</html>