<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sasico || Price Fintech-Software - SaaS & Tech Startup HTML Template</title>
    <meta name="author" content="Vecuro">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--==============================
	   Google Web Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
        rel="stylesheet">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- swiper slider -->
    <link rel="stylesheet" href="assets/css/vendor/swiper-bundle.min.css">
    <!-- AOS css file -->
    <link rel="stylesheet" href="assets/css/vendor/aos.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="fintech-software">
    <!-- scrollTopBtn -->
    <button id="scrollTopBtn">
        <img src="assets/images/icon/arrow1-5.svg" alt="Scroll to top arrow icon">
    </button>

    <!-- darkModeBtn -->
    <a href="#" id="darkModeBtn" class="dark-active">
        <img src="assets/images/icon/moon.png" alt="Moon Icon" class="moon">
        <img src="assets/images/icon/sun.png" alt="Sun Icon" class="sun">
    </a>

    <div class="video-modal" id="videoModal">
        <span class="close-video">✕</span>
        <iframe id="videoFrame" allow="autoplay; encrypted-media" allowfullscreen>
        </iframe>
    </div>


    <!--********************************
   		Code Start From Here
	******************************** -->

    <!--==============================
        Preloader
    ==============================-->
    <div id="preloader">
        <div class="loader">
            <img src="assets/images/logo.svg" alt="Website Logo" class="light">
            <img src="assets/images/logo-dark.svg" alt="Website Logo" class="dark">
        </div>
    </div>

    <div class="wrapper">
        <!-- Mobile Menu -->
        <div class="mobile-menu">
            <!-- Close Button -->
            <div class="close-btn">
                <img src="assets/images/icon/xmark2.svg" alt="Close Menu">
            </div>
            <nav>
                <ul class="main-menu11 menu-style11">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about-us.html">About</a></li>
                    <li><a href="solutions.html">Solutions</a></li>
                    <li><a href="price.html">Pricing</a></li>
                    <li><a href="blog.html">News</a></li>
                    <li><a href="contact-us.html">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu-overlay"></div>

        <!-- search box -->
        <div class="search-popup">
            <form class="search-form">
                <input type="text" placeholder="Enter Keywords..." required>
                <button type="submit" class="submit-btn">
                    <img src="assets/images/icon/search.svg" alt="Search Icon">
                </button>
            </form>
        </div>
        <div class="search-overlay"></div>

        <!-- main-sec -->
        <section class="main-sec3">
            <div class="anim-img2">
                <img src="assets/images/event/dosts.png" alt="" class="anim-one light">
                <img src="assets/images/event/dosts-dark.png" alt="" class="anim-one dark">
                <img src="assets/images/event/dosts2.png" alt="" class="anim-two light">
                <img src="assets/images/event/dosts2-dark.png" alt="" class="anim-two dark">
            </div>
            <!-- Header -->
            <header class="header-main">
                <div class="header-bottom">
                    <div class="container">
                        <div class="row">
                            <!-- Logo -->
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="header-logo">
                                    <a href="index.html" class="logo" title="Home">
                                        <img src="assets/images/logo.svg" alt="Sasico SaaS Analytics Logo"
                                            class="light">
                                        <img src="assets/images/logo-dark.svg" alt="Website Logo" class="dark">
                                    </a>
                                </div>
                            </div>

                            <!-- Navigation Menu -->
                            <div class="col-lg-6">
                                <nav class="main-menu11 menu-style11" aria-label="Main Navigation">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about-us.html">About</a></li>
                                        <li><a href="solutions.html">Solutions</a></li>
                                        <li><a href="price.html">Pricing</a></li>
                                        <li><a href="blog.html">News</a></li>
                                        <li><a href="contact-us.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>

                            <!-- Buttons -->
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="header-btn">
                                    <a href="#" class="search-btn" aria-label="Search">
                                        <img src="assets/images/icon/search.svg" alt="Search Icon">
                                    </a>
                                    <a href="#" class="btn-style1">
                                        Sign Up
                                    </a>
                                    <button class="hamburger-btn" aria-label="Toggle Menu">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- End header -->

            <!-- page-banner -->
            <div class="page-banner">
                <div class="carousel-container">
                    <div class="page-content">
                        <span class="sub-title" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">Pricing
                            Package</span>
                        <h1 class="title" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">Powerful
                            Fintech Solutions
                            at the Right Price
                        </h1>
                        <p data-aos="fade-up" data-aos-duration="700" data-aos-delay="400">Choose a plan that fits your
                            goals and scale as you grow</p>
                    </div>
                </div>
            </div>
            <!-- End page-banner -->

            <!-- pricing-sec2 -->
            <section class="pricing-sec2">
                <div class="carousel-container">
                    <div class="sec-title">
                        <div class="price-tabs" data-aos="fade-up" data-aos-duration="600" data-aos-delay="400">
                            <span class="sub-title2">Monthly</span>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                        data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                        aria-selected="true"></button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                        data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
                                        aria-selected="false"></button>
                                </li>
                            </ul>
                            <span class="sub-title2 v2">Yearly <small>20% off</small></span>
                        </div>
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="price-card" data-aos="fade" data-aos-duration="900"
                                        data-aos-delay="300">
                                        <span class="sub-title">Starter Plan</span>
                                        <p>Perfect for individuals and startups getting
                                            started with fintech solutions
                                        </p>
                                        <h2 class="price">$19.00</h2>
                                        <a href="#" title="" class="btn-style1">Get Started</a>
                                        <ul class="price-list">
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">Secure
                                                digital payments</li>
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">Basic
                                                financial analytics</li>
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">Scheduled
                                                transfers</li>
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">Standard
                                                security features</li>
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">Email
                                                support</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="price-card v2" data-aos="fade" data-aos-duration="900"
                                        data-aos-delay="400">
                                        <span class="sub-title">Growth Plan</span>
                                        <p>Designed for growing businesses
                                            ready to scale with financial tools
                                        </p>
                                        <h3 class="price">$59.00</h3>
                                        <a href="#" title="" class="btn-style1">Get Started</a>
                                        <ul class="price-list">
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">Advanced
                                                payment solutions</li>
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">Real-time
                                                financial analytics</li>
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">Automation &
                                                budgeting tools</li>
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">API & system
                                                integrations</li>
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">Priority
                                                support</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="price-card" data-aos="fade" data-aos-duration="900"
                                        data-aos-delay="500">
                                        <span class="sub-title">Enterprise Plan</span>
                                        <p>Built for large organizations that
                                            require advanced, secure, and scalable.
                                        </p>
                                        <h3 class="price">$999.00</h3>
                                        <a href="#" title="" class="btn-style1">Get Started</a>
                                        <ul class="price-list">
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">Custom
                                                fintech solutions</li>
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">Advanced
                                                risk & fraud management</li>
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">Blockchain &
                                                cloud infrastructure</li>
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">Dedicated
                                                account manager</li>
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">24/7 premium
                                                support</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="price-card" data-aos="fade" data-aos-duration="900"
                                        data-aos-delay="300">
                                        <span class="sub-title">Starter Plan</span>
                                        <p>Perfect for individuals and startups getting
                                            started with fintech solutions
                                        </p>
                                        <h3 class="price">$19.00</h3>
                                        <a href="#" title="" class="btn-style1">Get Started</a>
                                        <ul class="price-list">
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">Secure
                                                digital payments</li>
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">Basic
                                                financial analytics</li>
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">Scheduled
                                                transfers</li>
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">Standard
                                                security features</li>
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">Email
                                                support</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="price-card v2" data-aos="fade" data-aos-duration="900"
                                        data-aos-delay="400">
                                        <span class="sub-title">Growth Plan</span>
                                        <p>Designed for growing businesses
                                            ready to scale with financial tools
                                        </p>
                                        <h3 class="price">$59.00</h3>
                                        <a href="#" title="" class="btn-style1">Get Started</a>
                                        <ul class="price-list">
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">Advanced
                                                payment solutions</li>
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">Real-time
                                                financial analytics</li>
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">Automation &
                                                budgeting tools</li>
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">API & system
                                                integrations</li>
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">Priority
                                                support</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="price-card" data-aos="fade" data-aos-duration="900"
                                        data-aos-delay="500">
                                        <span class="sub-title">Enterprise Plan</span>
                                        <p>Built for large organizations that
                                            require advanced, secure, and scalable.
                                        </p>
                                        <h3 class="price">$999.00</h3>
                                        <a href="#" title="" class="btn-style1">Get Started</a>
                                        <ul class="price-list">
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">Custom
                                                fintech solutions</li>
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">Advanced
                                                risk & fraud management</li>
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">Blockchain &
                                                cloud infrastructure</li>
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">Dedicated
                                                account manager</li>
                                            <li><img src="assets/images/icon/check1-2.svg" alt="Check icon">24/7 premium
                                                support</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- End pricing-sec2 -->
        </section>
        <!-- End main-sec -->

        <!-- compare-plan -->
        <section class="compare-plan space">
            <div class="carousel-container">
                <div class="sec-title">
                    <span class="sub-title" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">Compare
                        Package</span>
                    <h2 class="title" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">Plans Compared
                        Side by Side</h2>
                    <p data-aos="fade-up" data-aos-duration="700" data-aos-delay="400">Easily compare our plans to find
                        the one that best fits your needs. Our side-by-side
                        comparison highlights key features, benefits, and pricing, allowing.
                    </p>
                </div>
                <div class="price-table" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
                    <div class="compare-row">
                        <div class="compare-title">
                            <h3 class="title">Feature / Plan</h3>
                        </div>
                        <div class="compare-content">
                            <h3 class="title">Starter</h3>
                            <p>Startups, Small Businesses</p>
                        </div>
                        <div class="compare-content">
                            <h3 class="title">Growth</h3>
                            <p>Growing SMEs</p>
                        </div>
                        <div class="compare-content">
                            <h3 class="title">Business Pro</h3>
                            <p>High-volume Platforms</p>
                        </div>
                    </div>

                    <div class="compare-row">
                        <div class="compare-title v2">
                            <h3 class="title">Payment Gateway Access</h3>
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/check1-4.svg" alt="Available">
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/check1-4.svg" alt="Available">
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/check1-4.svg" alt="Available">
                        </div>
                    </div>

                    <div class="compare-row">
                        <div class="compare-title v2">
                            <h3 class="title">Web & Mobile Integration</h3>
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/check1-4.svg" alt="Available">
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/check1-4.svg" alt="Available">
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/check1-4.svg" alt="Available">
                        </div>
                    </div>

                    <div class="compare-row">
                        <div class="compare-title v2">
                            <h3 class="title">Global & Multi-Currency Support</h3>
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/cros1-1.svg" alt="Not available">
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/check1-4.svg" alt="Available">
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/check1-4.svg" alt="Available">
                        </div>
                    </div>

                    <div class="compare-row">
                        <div class="compare-title v2">
                            <h3 class="title">Advanced Fraud Detection</h3>
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/cros1-1.svg" alt="Not available">
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/check1-4.svg" alt="Available">
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/check1-4.svg" alt="Available">
                        </div>
                    </div>

                    <div class="compare-row">
                        <div class="compare-title v2">
                            <h3 class="title">API Access & Customization</h3>
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/cros1-1.svg" alt="Not available">
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/check1-4.svg" alt="Available">
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/check1-4.svg" alt="Available">
                        </div>
                    </div>

                    <div class="compare-row">
                        <div class="compare-title v2">
                            <h3 class="title">Real-Time Analytics & Reporting</h3>
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/cros1-1.svg" alt="Not available">
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/check1-4.svg" alt="Available">
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/check1-4.svg" alt="Available">
                        </div>
                    </div>

                    <div class="compare-row">
                        <div class="compare-title v2">
                            <h3 class="title">Settlements & Reconciliation</h3>
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/cros1-1.svg" alt="Not available">
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/cros1-1.svg" alt="Not available">
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/check1-4.svg" alt="Available">
                        </div>
                    </div>

                    <div class="compare-row">
                        <div class="compare-title v2">
                            <h3 class="title">Dedicated Account Manager</h3>
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/cros1-1.svg" alt="Not available">
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/cros1-1.svg" alt="Not available">
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/cros1-1.svg" alt="Not available">
                        </div>
                    </div>

                    <div class="compare-row">
                        <div class="compare-title v2">
                            <h3 class="title">24/7 Premium Support</h3>
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/cros1-1.svg" alt="Not available">
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/cros1-1.svg" alt="Not available">
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/check1-4.svg" alt="Available">
                        </div>
                    </div>

                    <div class="compare-row">
                        <div class="compare-title v2">
                            <h3 class="title">Compliance Support</h3>
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/check1-4.svg" alt="Available">
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/check1-4.svg" alt="Available">
                        </div>
                        <div class="compare-content v2">
                            <img src="assets/images/icon/check1-4.svg" alt="Available">
                        </div>
                    </div>
                </div>

                <div class="compare-row v2">
                    <div class="compare-title">
                        <h3 class="title">Price Range</h3>
                    </div>
                    <div class="compare-content">
                        <h3 class="title">$49.00</h3>
                        <p>/monthly</p>
                        <a href="#" title="" class="btn-style1 v2">Get Started</a>
                    </div>
                    <div class="compare-content">
                        <h3 class="title">$149.00</h3>
                        <p>/monthly</p>
                        <a href="#" title="" class="btn-style1">Get Started</a>
                    </div>
                    <div class="compare-content">
                        <h3 class="title">$299.00</h3>
                        <p>/monthly</p>
                        <a href="#" title="" class="btn-style1">Get Started</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End compare-plan -->

        <!-- faq-sec -->
        <section class="faq-sec space">
            <div class="carousel-container">
                <div class="sec-title">
                    <span class="sub-title" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">FAQs</span>
                    <h2 class="title" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">Frequently Asked
                        Questions</h2>
                    <p data-aos="fade-up" data-aos-duration="700" data-aos-delay="400">Our FAQs are designed to give you
                        clear and concise
                        answers about our fintech solutions, services, and processes.
                    </p>
                </div>
                <div class="faq-box" data-aos="zoom-in" data-aos-duration="900" data-aos-delay="200">
                    <div class="accordion vs-accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span>1. What types of fintech solutions do you offer?</span>
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" role="region"
                                aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Security is our top priority. All solutions are built with
                                        advanced encryption, secure authentication, and regulatory
                                        compliance to protect sensitive financial data.
                                    </p>
                                    <ul class="faq-list">
                                        <li><img src="assets/images/icon/check1-2.svg" alt="check icon">Secure digital
                                            payments</li>
                                        <li><img src="assets/images/icon/check1-2.svg" alt="check icon">Basic financial
                                            analytics</li>
                                        <li><img src="assets/images/icon/check1-2.svg" alt="check icon">Customizable
                                            Solutions</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span>2. How secure are your platforms?</span>
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" role="region"
                                aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Security is our top priority. All solutions are built with
                                        advanced encryption, secure authentication, and regulatory
                                        compliance to protect sensitive financial data.
                                    </p>
                                    <ul class="faq-list">
                                        <li><img src="assets/images/icon/check1-2.svg" alt="check icon">Secure digital
                                            payments</li>
                                        <li><img src="assets/images/icon/check1-2.svg" alt="check icon">Basic financial
                                            analytics</li>
                                        <li><img src="assets/images/icon/check1-2.svg" alt="check icon">Customizable
                                            Solutions</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <span>3. Can your solutions integrate with existing systems?</span>
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" role="region"
                                aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Security is our top priority. All solutions are built with
                                        advanced encryption, secure authentication, and regulatory
                                        compliance to protect sensitive financial data.
                                    </p>
                                    <ul class="faq-list">
                                        <li><img src="assets/images/icon/check1-2.svg" alt="check icon">Secure digital
                                            payments</li>
                                        <li><img src="assets/images/icon/check1-2.svg" alt="check icon">Basic financial
                                            analytics</li>
                                        <li><img src="assets/images/icon/check1-2.svg" alt="check icon">Customizable
                                            Solutions</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <span>4. How long does it take to implement a fintech solution?</span>
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" role="region"
                                aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Security is our top priority. All solutions are built with
                                        advanced encryption, secure authentication, and regulatory
                                        compliance to protect sensitive financial data.
                                    </p>
                                    <ul class="faq-list">
                                        <li><img src="assets/images/icon/check1-2.svg" alt="check icon">Secure digital
                                            payments</li>
                                        <li><img src="assets/images/icon/check1-2.svg" alt="check icon">Basic financial
                                            analytics</li>
                                        <li><img src="assets/images/icon/check1-2.svg" alt="check icon">Customizable
                                            Solutions</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    <span>5. Do you offer customization for specific business needs?</span>
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" role="region"
                                aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Security is our top priority. All solutions are built with
                                        advanced encryption, secure authentication, and regulatory
                                        compliance to protect sensitive financial data.
                                    </p>
                                    <ul class="faq-list">
                                        <li><img src="assets/images/icon/check1-2.svg" alt="check icon">Secure digital
                                            payments</li>
                                        <li><img src="assets/images/icon/check1-2.svg" alt="check icon">Basic financial
                                            analytics</li>
                                        <li><img src="assets/images/icon/check1-2.svg" alt="check icon">Customizable
                                            Solutions</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- End faq-sec -->

        <!-- footer-style1 -->
        <footer class="footer-style1">
            <div class="widget-area">
                <div class="carousel-container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-8">
                            <div class="footer-widget about-widget" data-aos="fade-right" data-aos-duration="900"
                                data-aos-delay="100">
                                <div class="footer-logo">
                                    <img src="assets/images/logo.svg" alt="Sasico SaaS Footer Logo Light Version"
                                        class="light">
                                    <img src="assets/images/logo-dark.svg" alt="Sasico SaaS Footer Logo Light Version"
                                        class="dark">
                                </div>
                                <p>Fintech software empowers financial institutions and
                                    businesses to deliver faster, smarter, and more secure.
                                </p>
                                <ul class="social-links">
                                    <li><a href="#" title=""><img src="assets/images/icon/facebook.svg"
                                                alt="Facebook Icon"></a></li>
                                    <li><a href="#" title=""><img src="assets/images/icon/linked-in.svg"
                                                alt="LinkedIn Icon"></a></li>
                                    <li><a href="#" title=""><img src="assets/images/icon/twitter.svg"
                                                alt="Twitter Icon"></a></li>
                                    <li><a href="#" title=""><img src="assets/images/icon/behance.svg"
                                                alt="YouTube Icon"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="widget-info">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-4">
                                        <div class="footer-widget link-widgets" data-aos="fade-right"
                                            data-aos-duration="900" data-aos-delay="200">
                                            <h2 class="link-title">Resources</h2>
                                            <ul class="footer-links">
                                                <li><a href="#" title="">About</a></li>
                                                <li><a href="#" title="">Feature</a></li>
                                                <li><a href="#" title="">Pricing</a></li>
                                                <li><a href="#" title="">Contact</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-4">
                                        <div class="footer-widget link-widgets" data-aos="fade-right"
                                            data-aos-duration="900" data-aos-delay="300">
                                            <h2 class="link-title">Company</h2>
                                            <ul class="footer-links">
                                                <li><a href="#" title="">Blog</a></li>
                                                <li><a href="#" title="">Details</a></li>
                                                <li><a href="#" title="">StyleGuide</a></li>
                                                <li><a href="#" title="">404</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-4">
                                        <div class="footer-widget link-widgets" data-aos="fade-right"
                                            data-aos-duration="900" data-aos-delay="400">
                                            <h2 class="link-title">Follow Us</h2>
                                            <ul class="footer-links">
                                                <li><a href="#" title="">Instagram</a></li>
                                                <li><a href="#" title="">LinkedIn</a></li>
                                                <li><a href="#" title="">Twitter</a></li>
                                                <li><a href="#" title="">Contact</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                        <div class="footer-widget contact-widgets" data-aos="fade-right"
                                            data-aos-duration="900" data-aos-delay="500">
                                            <h2 class="link-title">Get In Touch</h2>
                                            <div class="contact-widget">
                                                <a href="" title="" class="gmail">support@Gmail.com</a>
                                                <a href="" title="" class="nmbr">+1 (200) 300 400</a>
                                                <p>1234 Market Street, Suite
                                                    500 CA 94103, USA
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-box">
                <div class="carousel-container">
                    <div class="footer-bottom" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                        <p>Copyright@ 2026 <a href="#" title="">Sasico</a>. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End footer-style1 -->

    </div>


    <!--********************************
			Code End  Here 
	******************************** -->

    <!--==============================
        All Js File
    ============================== -->
    <!-- Bootstrap -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <!-- swiper -->
    <script src="assets/js/vendor/swiper-bundle.min.js"></script>
    <!-- AOS Js File -->
    <script src="assets/js/vendor/aos.js"></script>
    <!-- Main Js File -->
    <script src="assets/js/main.js"></script>
</body>

</html>