<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sasico || business-school-lather-bag - SaaS & Tech Startup HTML Template</title>
    <meta name="author" content="Vecuro">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--==============================
	   Google Web Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- swiper slider -->
    <link rel="stylesheet" href="assets/css/vendor/swiper-bundle.min.css">
    <!-- AOS css file -->
    <link rel="stylesheet" href="assets/css/vendor/aos.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="main-home">
    <!-- darkModeBtn -->
    <a href="#" id="darkModeBtn" class="dark-active">
        <img src="assets/images/icon/moon.png" alt="Moon Icon" class="moon">
        <img src="assets/images/icon/sun.png" alt="Sun Icon" class="sun">
    </a>

    <div class="video-modal" id="videoModal">
        <span class="close-video">✕</span>
        <iframe id="videoFrame"
            allow="autoplay; encrypted-media"
            allowfullscreen>
        </iframe>
    </div>


    <!--********************************
   		Code Start From Here
	******************************** -->

    <!--==============================
        Preloader
    ==============================-->
    <div id="preloader">
        <div class="loader">
            <img src="assets/images/logo.svg" alt="Website Logo" class="light">
            <img src="assets/images/logo-dark.svg" alt="Website Logo dark" class="dark">
        </div>
    </div>

    <div class="wrapper">
        <!-- Mobile Menu -->
        <div class="mobile-menu">
            <div class="close-btn">
                <img src="assets/images/icon/xmark2.svg" alt="Close Menu">
            </div>
            <nav class="main-menu11 menu-style11" aria-label="Main Navigation">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class=" has-dropdown">
                        <a href="#">
                            Pages
                            <img src="assets/images/icon/angel.svg" alt="">
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="our-service.html">Our Services</a></li>
                            <li><a href="single-service.html">Single Service</a></li>
                            <li><a href="our-team.html">Our Team</a></li>
                            <li><a href="single-team.html">Single Team</a></li>
                            <li><a href="pricing-table.html">Pricing Table</a></li>
                            <li><a href="career.html">Career Page</a></li>
                            <li><a href="career-details.html">Career Details</a></li>

                            <li class="has-submenu">
                                <a href="#">Shop<img src="assets/images/icon/angel.svg" alt=""></a>
                                <ul class="sub-menu">
                                    <li><a href="shop.html">Product Catalog</a></li>
                                    <li><a href="business-school-lather-bag.html">Product Details</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                </ul>
                            </li>

                            <li><a href="contact-us.html">Contact Us</a></li>
                            <li><a href="faqs.html">FAQs</a></li>
                            <li><a href="404-page.html">404 Error</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                        </ul>
                    </li>
                    <li class="has-dropdown">
                        <a href="#">
                            Blog
                            <img src="assets/images/icon/angel.svg" alt="">
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="blog-standard.html">Blog List</a></li>
                            <li><a href="blog-grid.html">Blog Grid</a></li>
                            <li><a href="blog-horizon.html">Blog Horizon</a></li>
                            <li><a href="post-image.html">Image Post</a></li>
                            <li><a href="post-gallery.html">Gallery Post</a></li>
                            <li><a href="post-video.html">Video Post</a></li>
                            <li><a href="post-audio.html">Audio Post</a></li>
                        </ul>
                    </li>
                    <li class="has-dropdown v2">
                    <a href="#">
                        Portfolio
                        <img src="assets/images/icon/angel.svg" alt="">
                    </a>
                    <ul class="dropdown-menu">
                        <li class="has-submenu">
                        <a href="#">Portfolio Grid<img src="assets/images/icon/angel.svg" alt=""></a>
                        <ul class="sub-menu">
                            <li><a href="portfolio-grid-2-columns.html">2 Columns​</a></li>
                            <li><a href="portfolio-grid-3-columns.html">3 Columns​</a></li>
                            <li><a href="portfolio-grid-4-columns.html">4 Columns​</a></li>
                        </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#">Portfolio Masonry<img src="assets/images/icon/angel.svg" alt=""></a>
                            <ul class="sub-menu">
                                <li><a href="portfolio-masonry-2-columns.html">2 Columns​</a></li>
                                <li><a href="portfolio-masonry-3-columns.html">3 Columns​</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#">Single Portfolio<img src="assets/images/icon/angel.svg" alt=""></a>
                            <ul class="sub-menu">
                                <li><a href="digital-agency-design.html">Layout 1</a></li>
                                <li><a href="book-cover-print-design.html">Layout 2</a></li>
                                <li><a href="cosmetic-bottle-with-label.html">Layout 3</a></li>
                            </ul>
                        </li>
                    </ul>
                    </li>
                    <li><a href="our-service.html">Solutions</a></li>
                    <li><a href="pricing-table.html">pricing</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu-overlay"></div>

        <!-- search box -->
        <div class="search-popup">
            <form class="search-form">
                <input type="text" placeholder="Enter Keywords..." required>
                <button type="submit" class="submit-btn">
                    <img src="assets/images/icon/search.svg" alt="Search Icon">
                </button>
            </form>
        </div>
        <div class="search-overlay"></div>

        <!-- main-sec3 -->
        <section class="main-sec3">
            <!-- Header -->
            <header class="header-main">
                <div class="header-bottom">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- Logo -->
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="header-logo">
                                    <a href="index.html" class="logo" title="Home">
                                        <img src="assets/images/logo.svg" alt="Sasico SaaS Analytics Logo" class="light">
                                        <img src="assets/images/logo-dark.svg" alt="Sasico SaaS Analytics Logo" class="dark">
                                    </a>
                                </div>
                            </div>

                            <!-- Navigation Menu -->
                            <div class="col-lg-6">
                                <nav class="main-menu11 menu-style11" aria-label="Main Navigation">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li class=" has-dropdown">
                                            <a href="#">
                                                Pages
                                                <img src="assets/images/icon/angel.svg" alt="">
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="about-us.html">About Us</a></li>
                                                <li><a href="our-service.html">Our Services</a></li>
                                                <li><a href="single-service.html">Single Service</a></li>
                                                <li><a href="our-team.html">Our Team</a></li>
                                                <li><a href="single-team.html">Single Team</a></li>
                                                <li><a href="pricing-table.html">Pricing Table</a></li>
                                                <li><a href="career.html">Career Page</a></li>
                                                <li><a href="career-details.html">Career Details</a></li>

                                                <li class="has-submenu">
                                                    <a href="#">Shop<img src="assets/images/icon/angel.svg" alt=""></a>
                                                    <ul class="sub-menu">
                                                        <li><a href="shop.html">Product Catalog</a></li>
                                                        <li><a href="business-school-lather-bag.html">Product Details</a></li>
                                                        <li><a href="cart.html">Cart</a></li>
                                                        <li><a href="checkout.html">Checkout</a></li>
                                                    </ul>
                                                </li>

                                                <li><a href="contact-us.html">Contact Us</a></li>
                                                <li><a href="faqs.html">FAQs</a></li>
                                                <li><a href="404-page.html">404 Error</a></li>
                                                <li><a href="coming-soon.html">Coming Soon</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-dropdown">
                                            <a href="#">
                                                Blog
                                                <img src="assets/images/icon/angel.svg" alt="">
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="blog-standard.html">Blog List</a></li>
                                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                                <li><a href="blog-horizon.html">Blog Horizon</a></li>
                                                <li><a href="post-image.html">Image Post</a></li>
                                                <li><a href="post-gallery.html">Gallery Post</a></li>
                                                <li><a href="post-video.html">Video Post</a></li>
                                                <li><a href="post-audio.html">Audio Post</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-dropdown v2">
                                            <a href="#">
                                                Portfolio
                                                <img src="assets/images/icon/angel.svg" alt="">
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="has-submenu">
                                                    <a href="#">Portfolio Grid<img src="assets/images/icon/angel.svg" alt=""></a>
                                                    <ul class="sub-menu">
                                                        <li><a href="portfolio-grid-2-columns.html">2 Columns​</a></li>
                                                        <li><a href="portfolio-grid-3-columns.html">3 Columns​</a></li>
                                                        <li><a href="portfolio-grid-4-columns.html">4 Columns​</a></li>
                                                    </ul>
                                                </li>
                                                <li class="has-submenu">
                                                    <a href="#">Portfolio Masonry<img src="assets/images/icon/angel.svg" alt=""></a>
                                                    <ul class="sub-menu">
                                                        <li><a href="portfolio-masonry-2-columns.html">2 Columns​</a></li>
                                                        <li><a href="portfolio-masonry-3-columns.html">3 Columns​</a></li>
                                                    </ul>
                                                </li>
                                                <li class="has-submenu">
                                                    <a href="#">Single Portfolio<img src="assets/images/icon/angel.svg" alt=""></a>
                                                    <ul class="sub-menu">
                                                        <li><a href="digital-agency-design.html">Layout 1</a></li>
                                                        <li><a href="book-cover-print-design.html">Layout 2</a></li>
                                                        <li><a href="cosmetic-bottle-with-label.html">Layout 3</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="our-service.html">Solutions</a></li>
                                        <li><a href="pricing-table.html">pricing</a></li>
                                    </ul>
                                </nav>
                            </div>

                            <!-- Buttons -->
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="header-btn">
                                    <a href="#" class="search-btn" aria-label="Search">
                                        <img src="assets/images/icon/search.svg" alt="Search Icon">
                                    </a>
                                    <a href="#" class="btn-style1 v3">
                                        Log In
                                        <span>
                                            <img src="assets/images/icon/arrow.svg" alt="Arrow Icon">
                                        </span>
                                    </a>
                                    <a href="#" class="btn-style1 v2">
                                        Sign Up
                                        <span>
                                            <img src="assets/images/icon/arrow.svg" alt="Arrow Icon">
                                        </span>
                                    </a>
                                    <button class="hamburger-btn" aria-label="Toggle Menu">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- End header -->

            <!-- page-banner3 -->
            <div class="page-banner3">
                <div class="carousel-container">
                    <div class="page-info">
                        <div class="page-content3">
                            <h1 class="title" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">Product Details</h1>
                            <ul class="bread-crumbs mb-0" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
                                <li><a href="#" title="">Home</a></li>
                                <li class="dot"></li>
                                <li><a href="#" title="">Leather Bag</a></li>
                                <li class="dot"></li>
                                <li>Business school lather bag</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End page-banner3 -->
        </section>
        <!-- End main-sec3 -->

        <!-- product-detail -->
        <section class="product-detail space-top">
            <div class="carousel-container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="product-slider">
                            <div class="gallery">
                                <div class="main-image" id="main-image">
                                    <img id="current" src="https://sasico.pikathemes.site/wp-content/uploads/2025/08/product1-600x600.webp" alt="">
                                    <div class="magnifier" id="magnifier"><img src="assets/images/icon/search.svg" alt=""></div>
                                </div>
                                <div class="thumbnails" id="thumbnails">
                                    <img src="assets/images/event/bag1-1.webp" class="active" alt="" data-large="assets/images/event/bag1-1.webp">
                                    <img src="assets/images/event/bag1-2.webp" alt="" data-large="assets/images/event/bag1-2.webp">
                                    <img src="assets/images/event/bag1-3.webp" alt="" data-large="assets/images/event/bag1-3.webp">
                                    <img src="assets/images/event/bag1-4.webp" alt="" data-large="assets/images/event/bag1-4.webp">
                                </div>
                            </div>
                            <div class="lightbox" id="lightbox">
                                <span class="close-lightbox" id="close">&times;</span>
                                <div class="lightbox-content">
                                    <div class="arrow arrow-left" id="light-prev">&#10094;</div>
                                    <img id="lightbox-img" src="" alt="Lightbox Image">
                                    <div class="arrow arrow-right" id="light-next">&#10095;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="product-detail-content" data-aos="fade-left" data-aos-duration="900" data-aos-delay="300">
                            <span class="sales">Sale!</span>
                            <h2 class="title">Business school lather bag</h2>
                            <div class="product-rating">
                                <ul class="rating-area">
                                    <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                    <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                    <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                    <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                    <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                </ul>
                                <span>(2 customer reviews)</span>
                            </div>
                            <span class="price3"><del>$80.00</del>$69.00</span>
                            <p>Designed for cold-weather versatility, these sneakers combine sleek urban 
                                style with cozy functionality. The durable black exterior offers a timeless 
                                look, while the insulated lining keeps
                            </p>
                            <p>With a slip-resistant sole and cushioned insole, they’re perfect for 
                                everyday wear whether you’re exploring the city or heading
                            </p>
                            <ul class="digital-list">
                                <li><img src="assets/images/icon/check1-2.svg" alt="Check Icon">Premium Quality Materials</li>
                                <li><img src="assets/images/icon/check1-2.svg" alt="Check Icon">Eco-Conscious Manufacturing</li>
                                <li><img src="assets/images/icon/check1-2.svg" alt="Check Icon">Easy Returns & Support</li>
                            </ul>
                            <div class="cart-btn-box2">
                                <div class="qty-box">
                                    <button class="qty-btn minus">-</button>
                                    <input type="text" value="1" class="qty-input">
                                    <button class="qty-btn plus">+</button>
                                </div>
                                <a href="#" class="btn-style1">
                                    Add to Cart
                                    <span>
                                        <img src="assets/images/icon/arrow.svg" alt="Arrow Icon for Add to Cart">
                                    </span>
                                </a>
                            </div>
                            <ul class="detail-list">
                                <li><span>SKU:</span>MKS-880</li>
                                <li><span>Categories:</span>Leather bags</li>
                                <li><span>Tags:</span>Fashion, Shopping</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="detail-tabs" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Description</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Additional information</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Reviews (2)</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="tabs-body">
                                <p>Stay warm, stylish, and comfortable this winter with our premium Winter 
                                    Sneakers.Crafted with insulated lining and water-resistant materials, 
                                    these sneakers are designed to handle chilly days and unexpected weather. 
                                    The non-slip rubber sole ensures a firm grip on wet or icy surfaces, while 
                                    the cushioned insole offers all-day comfort. Whether you're hitting the 
                                    streets or heading out for a casual winter adventure, these sneakers combine 
                                    durability with sleek, urban style — perfect for cold-weather fashion.
                                </p>
                                <p>Designed for warmth and performance, these sneakers feature a soft fleece lining, 
                                    weatherproof exterior, and a high-traction outsole for reliable grip on winter 
                                    terrain. Lightweight yet durable, they offer a snug fit that keeps your feet cozy 
                                    without sacrificing breathability ideal for everyday wear
                                </p>
                                <ul class="digital-list">
                                    <li><img src="assets/images/icon/check1-2.svg" alt="Check Icon">Water-Resistant Outer Layer</li>
                                    <li><img src="assets/images/icon/check1-2.svg" alt="Check Icon">Non-Slip Rubber Sole</li>
                                    <li><img src="assets/images/icon/check1-2.svg" alt="Check Icon">Breathable Inner Fabric</li>
                                    <li><img src="assets/images/icon/check1-2.svg" alt="Check Icon">Durable Stitching & Materials</li>
                                    <li><img src="assets/images/icon/check1-2.svg" alt="Check Icon">Modern & Versatile Design</li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <table class="product-attributes">
                                <tbody>
                                    <tr>
                                        <th>Weight</th>
                                        <td>100 gm</td>
                                    </tr>
                                    <tr>
                                        <th>Dimensions</th>
                                        <td>15 × 10 × 5 cm</td>
                                    </tr>
                                    <tr>
                                        <th>Colors</th>
                                        <td>Black, Blue, Grey, Orange, Purple</td>
                                    </tr>
                                    <tr>
                                        <th>Size</th>
                                        <td>S, M, L, XL, XXL</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="woocommerce-Reviews">
                                <div class="comments-area2">
                                    <div class="reviews-info">
                                        <img src="assets/images/author/auther3-1.png" alt="Customer Profile Image">
                                        <div class="reviews-content">
                                            <span class="name">Kenton Semple <span class="date">– August 15, 2025</span></span>
                                            <p>I wore these every day during my trip to New York in my feet stayed warm and dry the entire time.</p>
                                        </div>
                                        <ul class="rating-area">
                                            <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                        </ul>
                                    </div>
                                    <div class="reviews-info mb-0">
                                        <img src="assets/images/author/auther3-1.png" alt="Customer Profile Image">
                                        <div class="reviews-content">
                                            <span class="name">Kenton Semple <span class="date">– August 15, 2025</span></span>
                                            <p>I wore these every day during my trip to New York in my feet stayed warm and dry the entire time.</p>
                                        </div>
                                        <ul class="rating-area">
                                            <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                        </ul>
                                    </div>
                                </div>
                                <form class="comment-form3">
                                    <p>
                                        <span>Your email address will not be published.</span>
                                        <span>Required fields are marked *</span>
                                    </p>
                                    <div class="comment-form-rating">
                                        <span>Your rating *</span>
                                        <ul class="rating-area">
                                            <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                        </ul>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>Your review *</label>
                                                <textarea id="message" name="message" rows="4"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>Name *</label>
                                                <input type="text" id="name" name="name" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>Email *</label>
                                                <input type="email" id="email" name="email" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="radio-btn">
                                                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                                                <label for="javascript">Save my name, email, and website in this browser for the next time I comment.</label>
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-12">
                                            <button type="submit" class="btn-style1">
                                            Submit Review
                                                <span>
                                                    <img src="assets/images/icon/arrow.svg" alt="Arrow Icon for Submit Review">
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End product-detail -->

        <!-- shop-sec2 -->
        <section class="shop-sec2">
            <div class="carousel-container">
                <div class="shop-title">
                    <h2 class="title">Related Projects</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="shop-card" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                            <div class="shop-img">
                                <a href="#" title=""><img src="assets/images/shop/shop2-1.webp" alt="Yellow woman bag"></a>
                                <span class="sale">Sale!</span>
                                <a href="#" class="btn-style1">
                                    Add to Cart
                                    <span>
                                        <img src="assets/images/icon/arrow.svg" alt="Arrow Icon for Add to Cart">
                                    </span>
                                </a>
                            </div>
                            <div class="shop-content">
                                <h3 class="title"><a href="#" title="">Yellow woman bag</a></h3>
                                <ul class="rating-area">
                                    <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                    <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                    <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                    <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                    <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                </ul>
                                <span class="price2"><del>$119.00</del><span>$89.00</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="shop-card" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
                            <div class="shop-img">
                                <a href="#" title=""><img src="assets/images/shop/shop2-2.webp" alt="Stylish golden watch"></a>
                                <span class="sale">Sale!</span>
                                <a href="#" class="btn-style1">
                                    Add to Cart
                                    <span>
                                        <img src="assets/images/icon/arrow.svg" alt="Arrow Icon for Add to Cart">
                                    </span>
                                </a>
                            </div>
                            <div class="shop-content">
                                <h3 class="title"><a href="#" title="">Stylish golden watch</a></h3>
                                <ul class="rating-area">
                                    <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                    <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                    <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                    <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                    <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                </ul>
                                <span class="price2"><del>$69.00</del><span>$39.00</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="shop-card" data-aos="fade-up" data-aos-duration="900" data-aos-delay="500">
                            <div class="shop-img">
                                <a href="#" title=""><img src="assets/images/shop/shop2-3.webp" alt="Headphones for DJs"></a>
                                <span class="sale">Sale!</span>
                                <a href="#" class="btn-style1">
                                    Add to Cart
                                    <span>
                                        <img src="assets/images/icon/arrow.svg" alt="Arrow Icon for Add to Cart">
                                    </span>
                                </a>
                            </div>
                            <div class="shop-content">
                                <h3 class="title"><a href="#" title="">Headphones for DJs</a></h3>
                                <ul class="rating-area">
                                    <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                    <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                    <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                    <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                    <li><img src="assets/images/icon/rating2.svg" alt="Star Rating"></li>
                                </ul>
                                <span class="price2"><del>$90.00</del><span>$79.00</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End shop-sec2 -->

        <!-- cta-banner -->
        <section class="cta-banner space-top">
            <div class="carousel-container">
                <div class="cta-info space-md">
                    <div class="cta-content" data-aos="zoom-in" data-aos-duration="900" data-aos-delay="300">
                        <div class="sec-title">
                            <span class="sub-title"> Launch with ease</span>
                            <h2 class="title">Launch Your Free Trial Today</h2>
                            <p>Experience the full power of our platform—free for 14 days. No
                                credit card required, no strings attached.
                            </p>
                            <a href="#" class="btn-style1">
                                Start Your 14-Day Free Trial
                                <span>
                                    <img src="assets/images/icon/arrow.svg" alt="Arrow Icon">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End cta-banner -->
        
        <!-- footer-style1 -->
        <footer class="footer-style1">
            <div class="widget-area">
                <div class="carousel-container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="footer-widget about-widget" data-aos="fade-right" data-aos-duration="900" data-aos-delay="100">
                                <div class="footer-logo">
                                    <img src="assets/images/logo2.svg" alt="Sasico SaaS Footer Logo Light Version" class="light">
                                    <img src="assets/images/logo2-dark.svg" alt="Sasico SaaS Footer Logo Dark Version" class="dark">
                                </div>
                                <p>SaaS platform is built to simplify your 
                                    workflow, automate everyday tasks help team
                                </p>
                                <ul class="social-links">
                                    <li><a href="#" title=""><img src="assets/images/icon/facebook.svg" alt="Facebook Icon"></a></li>
                                    <li><a href="#" title=""><img src="assets/images/icon/twitter.svg" alt="Twitter Icon"></a></li>
                                    <li><a href="#" title=""><img src="assets/images/icon/linked-in.svg" alt="LinkedIn Icon"></a></li>
                                    <li><a href="#" title=""><img src="assets/images/icon/youtube.svg" alt="YouTube Icon"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="widget-info">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-4">
                                        <div class="footer-widget link-widgets" data-aos="fade-right" data-aos-duration="900" data-aos-delay="200">
                                            <h2 class="link-title">Product</h2>
                                            <ul class="footer-links">
                                                <li><a href="#" title="">Features</a></li>
                                                <li><a href="#" title="">Integrations</a></li>
                                                <li><a href="#" title="">Download</a></li>
                                                <li><a href="#" title="">Pricing</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-4">
                                        <div class="footer-widget link-widgets" data-aos="fade-right" data-aos-duration="900" data-aos-delay="300">
                                            <h2 class="link-title">Company</h2>
                                            <ul class="footer-links">
                                                <li><a href="#" title="">About us</a></li>
                                                <li><a href="#" title="">Latest Blog</a></li>
                                                <li><a href="#" title="">Our Clients</a></li>
                                                <li><a href="#" title="">Careers</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-4">
                                        <div class="footer-widget link-widgets" data-aos="fade-right" data-aos-duration="900" data-aos-delay="400">
                                            <h2 class="link-title">Features</h2>
                                            <ul class="footer-links">
                                                <li><a href="#" title="">Analytics</a></li>
                                                <li><a href="#" title="">Integrations</a></li>
                                                <li><a href="#" title="">Workflows</a></li>
                                                <li><a href="#" title="">Dashboards</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-4">
                                        <div class="footer-widget link-widgets" data-aos="fade-right" data-aos-duration="900" data-aos-delay="500">
                                            <h2 class="link-title">Links</h2>
                                            <ul class="footer-links">
                                                <li><a href="#" title="">My Account</a></li>
                                                <li><a href="#" title="">Privacy Policy</a></li>
                                                <li><a href="#" title="">FAQs</a></li>
                                                <li><a href="#" title="">Sign Up</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content">
                <img src="assets/images/event/footer1-1.png" alt="Footer decorative illustration light version" class="light">
                <img src="assets/images/event/footer1-1-dark.png" alt="Footer decorative illustration dark version" class="dark">
            </div>
            <div class="footer-box">
                <div class="carousel-container">
                    <div class="footer-bottom" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                        <p>Sasico,2025 © All rights reserved</p>
                        <div class="scrol-btn-box">
                            <span>Back to top</span>
                            <button id="scrollTopBtn">
                                <img src="assets/images/icon/check1-3.svg" alt="Scroll to top arrow icon">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End ooter-style1 -->
        
    </div>


    <!--********************************
			Code End  Here 
	******************************** -->

    <!--==============================
        All Js File
    ============================== -->
    <!-- Bootstrap -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <!-- swiper -->
    <script src="assets/js/vendor/swiper-bundle.min.js"></script>
    <!-- AOS Js File -->
    <script src="assets/js/vendor/aos.js"></script>
    <!-- Main Js File -->
    <script src="assets/js/main.js"></script>
</body>
</html>