<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sasico || page not found - SaaS & Tech Startup HTML Template</title>
    <meta name="author" content="Vecuro">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--==============================
	   Google Web Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- swiper slider -->
    <link rel="stylesheet" href="assets/css/vendor/swiper-bundle.min.css">
    <!-- AOS css file -->
    <link rel="stylesheet" href="assets/css/vendor/aos.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="main-home">
    <!-- darkModeBtn -->
    <a href="#" id="darkModeBtn" class="dark-active">
        <img src="assets/images/icon/moon.png" alt="Moon Icon" class="moon">
        <img src="assets/images/icon/sun.png" alt="Sun Icon" class="sun">
    </a>


    <!--********************************
   		Code Start From Here
	******************************** -->

    <!--==============================
        Preloader
    ==============================-->
    <div id="preloader">
        <div class="loader">
            <img src="assets/images/logo.svg" alt="Website Logo" class="light">
            <img src="assets/images/logo-dark.svg" alt="Website Logo dark" class="dark">
        </div>
    </div>

    <div class="wrapper">
        
    <!-- coming-soon -->
    <section class="coming-soon">
        <div class="carousel-container">
            <div class="coming-soon-content">
                <div class="coming-soon-info">
                    <span class="sub-title">We are</span>
                    <h1 class="title">Coming</h1>
                    <span class="sub-title2"> Soon</span>
                </div>
                <div class="timer">
                    <div class="timer-content"><span id="days" class="time">00</span><span class="days">Days</span></div>
                    <div class="timer-content"><span id="hours" class="time">00</span><span class="days">Hours</span></div>
                    <div class="timer-content"><span id="minutes" class="time">00</span><span class="days">Minutes</span></div>
                    <div class="timer-content"><span id="seconds" class="time">00</span><span class="days">Seconds</span></div>
                </div>
                <p>We’re working hard behind the scenes to bring you a brand new experience.</p>
                <form class="notify-form">
                    <div class="form-group">
                        <input type="text" placeholder="Enter gmail" required>
                        <a href="#" class="btn-style1">
                            Notify me
                            <span>
                                <img src="assets/images/icon/arrow.svg" alt="Arrow Icon">
                            </span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- End coming-soon -->
        
    </div>


    <!--********************************
			Code End  Here 
	******************************** -->

    <!--==============================
        All Js File
    ============================== -->
    <!-- Bootstrap -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <!-- swiper -->
    <script src="assets/js/vendor/swiper-bundle.min.js"></script>
    <!-- AOS Js File -->
    <script src="assets/js/vendor/aos.js"></script>
    <!-- Main Js File -->
    <script src="assets/js/main.js"></script>
    
</body>
</html>