<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sasico || Shop - SaaS & Tech Startup HTML Template</title>
    <meta name="author" content="Vecuro">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--==============================
	   Google Web Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- swiper slider -->
    <link rel="stylesheet" href="assets/css/vendor/swiper-bundle.min.css">
    <!-- AOS css file -->
    <link rel="stylesheet" href="assets/css/vendor/aos.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="main-home">
    <!-- darkModeBtn -->
    <a href="#" id="darkModeBtn" class="dark-active">
        <img src="assets/images/icon/moon.png" alt="Moon Icon" class="moon">
        <img src="assets/images/icon/sun.png" alt="Sun Icon" class="sun">
    </a>

    <div class="video-modal" id="videoModal">
        <span class="close-video">✕</span>
        <iframe id="videoFrame"
            allow="autoplay; encrypted-media"
            allowfullscreen>
        </iframe>
    </div>


    <!--********************************
   		Code Start From Here
	******************************** -->

    <!--==============================
        Preloader
    ==============================-->
    <div id="preloader">
        <div class="loader">
            <img src="assets/images/logo.svg" alt="Website Logo" class="light">
            <img src="assets/images/logo-dark.svg" alt="Website Logo dark" class="dark">
        </div>
    </div>

    <div class="wrapper">
        <!-- Mobile Menu -->
        <div class="mobile-menu">
            <div class="close-btn">
                <img src="assets/images/icon/xmark2.svg" alt="Close Menu">
            </div>
            <nav class="main-menu11 menu-style11" aria-label="Main Navigation">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class=" has-dropdown">
                        <a href="#">
                            Pages
                            <img src="assets/images/icon/angel.svg" alt="">
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="our-service.html">Our Services</a></li>
                            <li><a href="single-service.html">Single Service</a></li>
                            <li><a href="our-team.html">Our Team</a></li>
                            <li><a href="single-team.html">Single Team</a></li>
                            <li><a href="pricing-table.html">Pricing Table</a></li>
                            <li><a href="career.html">Career Page</a></li>
                            <li><a href="career-details.html">Career Details</a></li>

                            <li class="has-submenu">
                                <a href="#">Shop<img src="assets/images/icon/angel.svg" alt=""></a>
                                <ul class="sub-menu">
                                    <li><a href="shop.html">Product Catalog</a></li>
                                    <li><a href="business-school-lather-bag.html">Product Details</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                </ul>
                            </li>

                            <li><a href="contact-us.html">Contact Us</a></li>
                            <li><a href="faqs.html">FAQs</a></li>
                            <li><a href="404-page.html">404 Error</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                        </ul>
                    </li>
                    <li class="has-dropdown">
                        <a href="#">
                            Blog
                            <img src="assets/images/icon/angel.svg" alt="">
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="blog-standard.html">Blog List</a></li>
                            <li><a href="blog-grid.html">Blog Grid</a></li>
                            <li><a href="blog-horizon.html">Blog Horizon</a></li>
                            <li><a href="post-image.html">Image Post</a></li>
                            <li><a href="post-gallery.html">Gallery Post</a></li>
                            <li><a href="post-video.html">Video Post</a></li>
                            <li><a href="post-audio.html">Audio Post</a></li>
                        </ul>
                    </li>
                    <li class="has-dropdown v2">
                    <a href="#">
                        Portfolio
                        <img src="assets/images/icon/angel.svg" alt="">
                    </a>
                    <ul class="dropdown-menu">
                        <li class="has-submenu">
                        <a href="#">Portfolio Grid<img src="assets/images/icon/angel.svg" alt=""></a>
                        <ul class="sub-menu">
                            <li><a href="portfolio-grid-2-columns.html">2 Columns​</a></li>
                            <li><a href="portfolio-grid-3-columns.html">3 Columns​</a></li>
                            <li><a href="portfolio-grid-4-columns.html">4 Columns​</a></li>
                        </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#">Portfolio Masonry<img src="assets/images/icon/angel.svg" alt=""></a>
                            <ul class="sub-menu">
                                <li><a href="portfolio-masonry-2-columns.html">2 Columns​</a></li>
                                <li><a href="portfolio-masonry-3-columns.html">3 Columns​</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#">Single Portfolio<img src="assets/images/icon/angel.svg" alt=""></a>
                            <ul class="sub-menu">
                                <li><a href="digital-agency-design.html">Layout 1</a></li>
                                <li><a href="book-cover-print-design.html">Layout 2</a></li>
                                <li><a href="cosmetic-bottle-with-label.html">Layout 3</a></li>
                            </ul>
                        </li>
                    </ul>
                    </li>
                    <li><a href="our-service.html">Solutions</a></li>
                    <li><a href="pricing-table.html">pricing</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu-overlay"></div>

        <!-- search box -->
        <div class="search-popup">
            <form class="search-form">
                <input type="text" placeholder="Enter Keywords..." required>
                <button type="submit" class="submit-btn">
                    <img src="assets/images/icon/search.svg" alt="Search Icon">
                </button>
            </form>
        </div>
        <div class="search-overlay"></div>

        <!-- main-sec3 -->
        <section class="main-sec3">
            <!-- Header -->
            <header class="header-main">
                <div class="header-bottom">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- Logo -->
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="header-logo">
                                    <a href="index.html" class="logo" title="Home">
                                        <img src="assets/images/logo.svg" alt="Sasico SaaS Analytics Logo" class="light">
                                        <img src="assets/images/logo-dark.svg" alt="Sasico SaaS Analytics Logo" class="dark">
                                    </a>
                                </div>
                            </div>

                            <!-- Navigation Menu -->
                            <div class="col-lg-6">
                                <nav class="main-menu11 menu-style11" aria-label="Main Navigation">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li class=" has-dropdown">
                                            <a href="#">
                                                Pages
                                                <img src="assets/images/icon/angel.svg" alt="">
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="about-us.html">About Us</a></li>
                                                <li><a href="our-service.html">Our Services</a></li>
                                                <li><a href="single-service.html">Single Service</a></li>
                                                <li><a href="our-team.html">Our Team</a></li>
                                                <li><a href="single-team.html">Single Team</a></li>
                                                <li><a href="pricing-table.html">Pricing Table</a></li>
                                                <li><a href="career.html">Career Page</a></li>
                                                <li><a href="career-details.html">Career Details</a></li>

                                                <li class="has-submenu">
                                                    <a href="#">Shop<img src="assets/images/icon/angel.svg" alt=""></a>
                                                    <ul class="sub-menu">
                                                        <li><a href="shop.html">Product Catalog</a></li>
                                                        <li><a href="business-school-lather-bag.html">Product Details</a></li>
                                                        <li><a href="cart.html">Cart</a></li>
                                                        <li><a href="checkout.html">Checkout</a></li>
                                                    </ul>
                                                </li>

                                                <li><a href="contact-us.html">Contact Us</a></li>
                                                <li><a href="faqs.html">FAQs</a></li>
                                                <li><a href="404-page.html">404 Error</a></li>
                                                <li><a href="coming-soon.html">Coming Soon</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-dropdown">
                                            <a href="#">
                                                Blog
                                                <img src="assets/images/icon/angel.svg" alt="">
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="blog-standard.html">Blog List</a></li>
                                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                                <li><a href="blog-horizon.html">Blog Horizon</a></li>
                                                <li><a href="post-image.html">Image Post</a></li>
                                                <li><a href="post-gallery.html">Gallery Post</a></li>
                                                <li><a href="post-video.html">Video Post</a></li>
                                                <li><a href="post-audio.html">Audio Post</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-dropdown v2">
                                            <a href="#">
                                                Portfolio
                                                <img src="assets/images/icon/angel.svg" alt="">
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="has-submenu">
                                                    <a href="#">Portfolio Grid<img src="assets/images/icon/angel.svg" alt=""></a>
                                                    <ul class="sub-menu">
                                                        <li><a href="portfolio-grid-2-columns.html">2 Columns​</a></li>
                                                        <li><a href="portfolio-grid-3-columns.html">3 Columns​</a></li>
                                                        <li><a href="portfolio-grid-4-columns.html">4 Columns​</a></li>
                                                    </ul>
                                                </li>
                                                <li class="has-submenu">
                                                    <a href="#">Portfolio Masonry<img src="assets/images/icon/angel.svg" alt=""></a>
                                                    <ul class="sub-menu">
                                                        <li><a href="portfolio-masonry-2-columns.html">2 Columns​</a></li>
                                                        <li><a href="portfolio-masonry-3-columns.html">3 Columns​</a></li>
                                                    </ul>
                                                </li>
                                                <li class="has-submenu">
                                                    <a href="#">Single Portfolio<img src="assets/images/icon/angel.svg" alt=""></a>
                                                    <ul class="sub-menu">
                                                        <li><a href="digital-agency-design.html">Layout 1</a></li>
                                                        <li><a href="book-cover-print-design.html">Layout 2</a></li>
                                                        <li><a href="cosmetic-bottle-with-label.html">Layout 3</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="our-service.html">Solutions</a></li>
                                        <li><a href="pricing-table.html">pricing</a></li>
                                    </ul>
                                </nav>
                            </div>

                            <!-- Buttons -->
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="header-btn">
                                    <a href="#" class="search-btn" aria-label="Search">
                                        <img src="assets/images/icon/search.svg" alt="Search Icon">
                                    </a>
                                    <a href="#" class="btn-style1 v3">
                                        Log In
                                        <span>
                                            <img src="assets/images/icon/arrow.svg" alt="Arrow Icon">
                                        </span>
                                    </a>
                                    <a href="#" class="btn-style1 v2">
                                        Sign Up
                                        <span>
                                            <img src="assets/images/icon/arrow.svg" alt="Arrow Icon">
                                        </span>
                                    </a>
                                    <button class="hamburger-btn" aria-label="Toggle Menu">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- End header -->

            <!-- page-banner3 -->
            <div class="page-banner3">
                <div class="carousel-container">
                    <div class="page-info">
                        <div class="page-content3">
                            <h1 class="title" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">Shop</h1>
                            <ul class="bread-crumbs mb-0" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
                                <li><a href="#" title="">Home</a></li>
                                <li class="dot"></li>
                                <li>Shop</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End page-banner3 -->
        </section>
        <!-- End main-sec3 -->

        <!-- shop-sec -->
        <section class="shop-sec space">
            <div class="carousel-container">
                <div class="row">
                    <div class="col-xl-9 col-lg-8">
                        <div class="shop-area" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <h2 class="title2">Showing 1–9 of 10 results</h2>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <form class="shop-form">
                                        <select class="form-select">
                                            <option value="">Default sorting</option>
                                            <option value="design">Design</option>
                                            <option value="development">Development</option>
                                            <option value="marketing">Marketing</option>
                                            <option value="saas">SaaS</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="shop-card" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                                    <div class="shop-img">
                                        <a href="#"><img src="assets/images/shop/shop1-1.png" alt="Winter Black Sneakers"></a>
                                        <span class="sale">Sale!</span>
                                        <a href="#" class="btn-style1">
                                            Add to Cart
                                            <span><img src="assets/images/icon/arrow.svg" alt="Arrow Icon"></span>
                                        </a>
                                    </div>
                                    <div class="shop-content">
                                        <h3 class="title"><a href="#">Winter Black Sneakers</a></h3>
                                        <ul class="rating-area">
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                        </ul>
                                        <span class="price2"><del>$79.00</del><span>$59.00</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="shop-card" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                                    <div class="shop-img">
                                        <a href="#"><img src="assets/images/shop/shop1-2.png" alt="Stylish golden watch"></a>
                                        <span class="sale">Sale!</span>
                                        <a href="#" class="btn-style1">
                                            Add to Cart
                                            <span><img src="assets/images/icon/arrow.svg" alt="Arrow Icon"></span>
                                        </a>
                                    </div>
                                    <div class="shop-content">
                                        <h3 class="title"><a href="#">Stylish golden watch</a></h3>
                                        <ul class="rating-area">
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                        </ul>
                                        <span class="price2"><del>$69.00</del><span>$39.00</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="shop-card" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
                                    <div class="shop-img">
                                        <a href="#"><img src="assets/images/shop/shop1-3.png" alt="Leather women handbag"></a>
                                        <span class="sale">Sale!</span>
                                        <a href="#" class="btn-style1">
                                            Add to Cart
                                            <span><img src="assets/images/icon/arrow.svg" alt="Arrow Icon"></span>
                                        </a>
                                    </div>
                                    <div class="shop-content">
                                        <h3 class="title"><a href="#">Leather women handbag</a></h3>
                                        <ul class="rating-area">
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                        </ul>
                                        <span class="price2"><del>$89.00</del><span>$49.00</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="shop-card" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                                    <div class="shop-img">
                                        <a href="#"><img src="assets/images/shop/shop1-4.png" alt="Yellow woman bag"></a>
                                        <span class="sale">Sale!</span>
                                        <a href="#" class="btn-style1">
                                            Add to Cart
                                            <span><img src="assets/images/icon/arrow.svg" alt="Arrow Icon"></span>
                                        </a>
                                    </div>
                                    <div class="shop-content">
                                        <h3 class="title"><a href="#">Yellow woman bag</a></h3>
                                        <ul class="rating-area">
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                        </ul>
                                        <span class="price2"><del>$119.00</del><span>$89.00</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="shop-card" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                                    <div class="shop-img">
                                        <a href="#"><img src="assets/images/shop/shop1-5.png" alt="Antique wall clock"></a>
                                        <span class="sale">Sale!</span>
                                        <a href="#" class="btn-style1">
                                            Add to Cart
                                            <span><img src="assets/images/icon/arrow.svg" alt="Arrow Icon"></span>
                                        </a>
                                    </div>
                                    <div class="shop-content">
                                        <h3 class="title"><a href="#">Antique wall clock</a></h3>
                                        <ul class="rating-area">
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                        </ul>
                                        <span class="price2"><del>$79.00</del><span>$69.00</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="shop-card" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
                                    <div class="shop-img">
                                        <a href="#"><img src="assets/images/shop/shop1-6.png" alt="Cinturón con fondo Blanco"></a>
                                        <span class="sale">Sale!</span>
                                        <a href="#" class="btn-style1">
                                            Add to Cart
                                            <span><img src="assets/images/icon/arrow.svg" alt="Arrow Icon"></span>
                                        </a>
                                    </div>
                                    <div class="shop-content">
                                        <h3 class="title"><a href="#">Cinturón con fondo Blanco</a></h3>
                                        <ul class="rating-area">
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                        </ul>
                                        <span class="price2"><del>$99.00</del><span>$59.00</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="shop-card" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                                    <div class="shop-img">
                                        <a href="#"><img src="assets/images/shop/shop1-7.png" alt="Close-up of baby shoe"></a>
                                        <span class="sale">Sale!</span>
                                        <a href="#" class="btn-style1">
                                            Add to Cart
                                            <span><img src="assets/images/icon/arrow.svg" alt="Arrow Icon"></span>
                                        </a>
                                    </div>
                                    <div class="shop-content">
                                        <h3 class="title"><a href="#">Close-up of baby shoe</a></h3>
                                        <ul class="rating-area">
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                        </ul>
                                        <span class="price2"><span>$89.00</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="shop-card" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
                                    <div class="shop-img">
                                        <a href="#"><img src="assets/images/shop/shop1-8.png" alt="Headphones for DJs"></a>
                                        <span class="sale">Sale!</span>
                                        <a href="#" class="btn-style1">
                                            Add to Cart
                                            <span><img src="assets/images/icon/arrow.svg" alt="Arrow Icon"></span>
                                        </a>
                                    </div>
                                    <div class="shop-content">
                                        <h3 class="title"><a href="#">Headphones for DJs</a></h3>
                                        <ul class="rating-area">
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                        </ul>
                                        <span class="price2"><del>$90.00</del><span>$79.00</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="shop-card" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                                    <div class="shop-img">
                                        <a href="#"><img src="assets/images/shop/shop1-9.png" alt="Business school lather bag"></a>
                                        <span class="sale">Sale!</span>
                                        <a href="#" class="btn-style1">
                                            Add to Cart
                                            <span><img src="assets/images/icon/arrow.svg" alt="Arrow Icon"></span>
                                        </a>
                                    </div>
                                    <div class="shop-content">
                                        <h3 class="title"><a href="#">Business school lather bag</a></h3>
                                        <ul class="rating-area">
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                        </ul>
                                        <span class="price2"><del>$89.00</del><span>$69.00</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pagination -->
                        <nav aria-label="Page navigation example" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                            <ul class="pagination blog-pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">
                                            <img src="assets/images/icon/pagi1-1.svg" alt="Previous page navigation arrow">
                                        </span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">01</a></li>
                                <li class="page-item"><a class="page-link" href="#">02</a></li>
                                <li class="page-item"><a class="page-link" href="#">03</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">
                                            <img src="assets/images/icon/pagi1-2.svg" alt="Next page navigation arrow">
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </div>

                    <!-- Sidebar -->
                    <div class="col-xl-3 col-lg-4">
                        <div class="side-bar">
                            <!-- Search -->
                            <div class="side-widget2 form-widget2">
                                <form class="comment-form2">
                                    <div class="form-group">
                                        <input type="text" name="name" placeholder="Search" required>
                                        <button type="submit">
                                            <img src="assets/images/icon/search.svg" alt="Search submit button icon">
                                        </button>
                                    </div>
                                </form>
                            </div>

                            <!-- Price filter -->
                            <div class="side-widget2 price-filter-widget">
                                <h4 class="side-bar-title">Filter by price</h4>
                                <div class="range-slider">
                                    <div class="progress"></div>
                                    <input type="range" min="30" max="90" value="30" id="minRange">
                                    <input type="range" min="30" max="90" value="380" id="maxRange">
                                </div>
                                <div class="filter-btn">
                                    <p class="price-text">Price: <span>$</span><span id="minPrice">40</span> — <span>$</span><span id="maxPrice">70</span></p>
                                    <a href="#" title="" class="price-btn">Filter</a>
                                </div>
                            </div>

                            <!-- Product categories -->
                            <div class="side-widget2 product-list-widget">
                                <h4 class="side-bar-title">Product categories</h4>
                                <ul class="product-list2">
                                    <li><a href="#">Headphone<span>(2)</span></a></li>
                                    <li><a href="#">Leather Bag<span>(3)</span></a></li>
                                    <li><a href="#">Men Fashion<span>(4)</span></a></li>
                                    <li><a href="#">Smart Watch<span>(2)</span></a></li>
                                    <li><a href="#">Steel Wall Clock<span>(2)</span></a></li>
                                    <li><a href="#">Uncategorized<span>(1)</span></a></li>
                                    <li><a href="#">Winter Shoes<span>(2)</span></a></li>
                                </ul>
                            </div>

                            <!-- Top rated products -->
                            <div class="side-widget2 product-widget">
                                <h4 class="side-bar-title">Top rated products</h4>
                                <div class="product-block">
                                    <div class="product-img2">
                                        <a href="#"><img src="assets/images/event/product2-1.webp" alt="Stylish golden watch"></a>
                                    </div>
                                    <div class="shop-content2">
                                        <h3 class="title"><a href="#">Stylish golden watch</a></h3>
                                        <ul class="rating-area">
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                        </ul>
                                        <span class="price2"><del>$69.00</del><span>$39.00</span></span>
                                    </div>
                                </div>

                                <div class="product-block">
                                    <div class="product-img2">
                                        <a href="#"><img src="assets/images/event/product2-2.webp" alt="Yellow woman bag"></a>
                                    </div>
                                    <div class="shop-content2">
                                        <h3 class="title"><a href="#">Yellow woman bag</a></h3>
                                        <ul class="rating-area">
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                        </ul>
                                        <span class="price2"><del>$119.00</del><span>$89.00</span></span>
                                    </div>
                                </div>

                                <div class="product-block">
                                    <div class="product-img2">
                                        <a href="#"><img src="assets/images/event/product2-3.webp" alt="Leather women bag"></a>
                                    </div>
                                    <div class="shop-content2">
                                        <h3 class="title"><a href="#">Leather women bag</a></h3>
                                        <ul class="rating-area">
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                            <li><img src="assets/images/icon/rating2.svg" alt="Rating star"></li>
                                        </ul>
                                        <span class="price2"><del>$89.00</del><span>$49.00</span></span>
                                    </div>
                                </div>
                            </div>

                            <!-- Product tags -->
                            <div class="side-widget2 tag-widget">
                                <h4 class="side-bar-title">Product tags</h4>
                                <ul class="tag-list m-0">
                                    <li><a href="#">Fashion</a></li>
                                    <li><a href="#">Furniture</a></li>
                                    <li><a href="#">Leather</a></li>
                                    <li><a href="#">Shopping</a></li>
                                    <li><a href="#">Smart</a></li>
                                    <li><a href="#">Watch</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End shop-sec -->

        <!-- cta-banner -->
        <section class="cta-banner">
            <div class="carousel-container">
                <div class="cta-info space-md">
                    <div class="cta-content" data-aos="zoom-in" data-aos-duration="900" data-aos-delay="300">
                        <div class="sec-title">
                            <span class="sub-title"> Launch with ease</span>
                            <h2 class="title">Launch Your Free Trial Today</h2>
                            <p>Experience the full power of our platform—free for 14 days. No
                                credit card required, no strings attached.
                            </p>
                            <a href="#" class="btn-style1">
                                Start Your 14-Day Free Trial
                                <span>
                                    <img src="assets/images/icon/arrow.svg" alt="Arrow Icon">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End cta-banner -->
        
        <!-- footer-style1 -->
        <footer class="footer-style1">
            <div class="widget-area">
                <div class="carousel-container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="footer-widget about-widget" data-aos="fade-right" data-aos-duration="900" data-aos-delay="100">
                                <div class="footer-logo">
                                    <img src="assets/images/logo2.svg" alt="Sasico SaaS Footer Logo Light Version" class="light">
                                    <img src="assets/images/logo2-dark.svg" alt="Sasico SaaS Footer Logo Dark Version" class="dark">
                                </div>
                                <p>SaaS platform is built to simplify your 
                                    workflow, automate everyday tasks help team
                                </p>
                                <ul class="social-links">
                                    <li><a href="#" title=""><img src="assets/images/icon/facebook.svg" alt="Facebook Icon"></a></li>
                                    <li><a href="#" title=""><img src="assets/images/icon/twitter.svg" alt="Twitter Icon"></a></li>
                                    <li><a href="#" title=""><img src="assets/images/icon/linked-in.svg" alt="LinkedIn Icon"></a></li>
                                    <li><a href="#" title=""><img src="assets/images/icon/youtube.svg" alt="YouTube Icon"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="widget-info">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-4">
                                        <div class="footer-widget link-widgets" data-aos="fade-right" data-aos-duration="900" data-aos-delay="200">
                                            <h2 class="link-title">Product</h2>
                                            <ul class="footer-links">
                                                <li><a href="#" title="">Features</a></li>
                                                <li><a href="#" title="">Integrations</a></li>
                                                <li><a href="#" title="">Download</a></li>
                                                <li><a href="#" title="">Pricing</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-4">
                                        <div class="footer-widget link-widgets" data-aos="fade-right" data-aos-duration="900" data-aos-delay="300">
                                            <h2 class="link-title">Company</h2>
                                            <ul class="footer-links">
                                                <li><a href="#" title="">About us</a></li>
                                                <li><a href="#" title="">Latest Blog</a></li>
                                                <li><a href="#" title="">Our Clients</a></li>
                                                <li><a href="#" title="">Careers</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-4">
                                        <div class="footer-widget link-widgets" data-aos="fade-right" data-aos-duration="900" data-aos-delay="400">
                                            <h2 class="link-title">Features</h2>
                                            <ul class="footer-links">
                                                <li><a href="#" title="">Analytics</a></li>
                                                <li><a href="#" title="">Integrations</a></li>
                                                <li><a href="#" title="">Workflows</a></li>
                                                <li><a href="#" title="">Dashboards</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-4">
                                        <div class="footer-widget link-widgets" data-aos="fade-right" data-aos-duration="900" data-aos-delay="500">
                                            <h2 class="link-title">Links</h2>
                                            <ul class="footer-links">
                                                <li><a href="#" title="">My Account</a></li>
                                                <li><a href="#" title="">Privacy Policy</a></li>
                                                <li><a href="#" title="">FAQs</a></li>
                                                <li><a href="#" title="">Sign Up</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content">
                <img src="assets/images/event/footer1-1.png" alt="Footer decorative illustration light version" class="light">
                <img src="assets/images/event/footer1-1-dark.png" alt="Footer decorative illustration dark version" class="dark">
            </div>
            <div class="footer-box">
                <div class="carousel-container">
                    <div class="footer-bottom" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                        <p>Sasico,2025 © All rights reserved</p>
                        <div class="scrol-btn-box">
                            <span>Back to top</span>
                            <button id="scrollTopBtn">
                                <img src="assets/images/icon/check1-3.svg" alt="Scroll to top arrow icon">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End ooter-style1 -->
        
    </div>


    <!--********************************
			Code End  Here 
	******************************** -->

    <!--==============================
        All Js File
    ============================== -->
    <!-- Bootstrap -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <!-- swiper -->
    <script src="assets/js/vendor/swiper-bundle.min.js"></script>
    <!-- AOS Js File -->
    <script src="assets/js/vendor/aos.js"></script>
    <!-- Main Js File -->
    <script src="assets/js/main.js"></script>
</body>
</html>