<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sasico || How Predictive Ai-Software - SaaS & Tech Startup HTML Template</title>
    <meta name="author" content="Vecuro">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--==============================
	   Google Web Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- swiper slider -->
    <link rel="stylesheet" href="assets/css/vendor/swiper-bundle.min.css">
    <!-- AOS css file -->
    <link rel="stylesheet" href="assets/css/vendor/aos.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="ai-software">

    <!-- Popup -->
    <div class="video-modal" id="videoModal" style="display:none;">
        <button class="video-close-btn">✕</button>
        <div class="video-modal-box">
            <iframe id="videoFrame2"
                width="560" height="315"
                allow="autoplay; encrypted-media"
                allowfullscreen
                style="border:0;">
            </iframe>
        </div>
    </div>
    
    <!-- darkModeBtn -->
    <a href="#" id="darkModeBtn" class="dark-active">
        <img src="assets/images/icon/moon.png" alt="Moon Icon" class="moon">
        <img src="assets/images/icon/sun.png" alt="Sun Icon" class="sun">
    </a>


    <!--********************************
   		Code Start From Here
	******************************** -->

    <!--==============================
        Preloader
    ==============================-->
    <div id="preloader">
        <div class="loader">
            <img src="assets/images/logo2.svg" alt="Website Logo" class="light">
            <img src="assets/images/logo2-dark.svg" alt="Website Logo" class="dark">
        </div>
    </div>

    <div class="wrapper">
        <!-- Mobile Menu -->
        <div class="mobile-menu">
            <!-- Close Button -->
            <div class="close-btn">
                <img src="assets/images/icon/xmark2.svg" alt="Close Menu">
            </div>
            <nav>
                <ul class="main-menu11 menu-style11">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="feature.html">Features</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li><a href="blog-standard.html">News</a></li>
                    <li><a href="help.html">Help</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu-overlay"></div>

        <!-- search box -->
        <div class="search-popup">
            <form class="search-form">
                <input type="text" placeholder="Enter Keywords..." required>
                <button type="submit" class="submit-btn">
                    <img src="assets/images/icon/search.svg" alt="Search Icon">
                </button>
            </form>
        </div>
        <div class="search-overlay"></div>

        <!-- main-sec2 -->
        <section class="main-sec2 v5">
            <!-- Header -->
            <header class="header-main v2">
                <div class="header-bottom">
                    <div class="carousel-container">
                        <div class="row">
                            <!-- Logo -->
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="header-logo">
                                    <a href="index.html" class="logo light" title="Home">
                                        <img src="assets/images/logo3.svg" alt="Sasico SaaS Analytics Light Logo">
                                    </a>
                                    <a href="index.html" title="Home" class="dark">
                                        <img src="assets/images/dark-logo.svg" alt="Sasico SaaS Analytics Dark Mode Logo">
                                    </a>
                                </div>
                            </div>

                            <!-- Navigation Menu -->
                            <div class="col-lg-6">
                                <nav class="main-menu11 v2 menu-style11" aria-label="Main Navigation">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="feature.html">Features</a></li>
                                        <li><a href="pricing.html">Pricing</a></li>
                                        <li><a href="blog-standard.html">News</a></li>
                                        <li><a href="help.html">Help</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>

                            <!-- Buttons -->
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="header-btn">
                                    <a href="#" class="search-btn" aria-label="Search">
                                        <img src="assets/images/icon/search.svg" alt="Website Search Icon">
                                    </a>
                                    <a href="#" class="btn-style1 v2">
                                        Sign In
                                        <span>
                                            <img src="assets/images/icon/arrow.svg" alt="Arrow Icon for Sign In Button">
                                        </span>
                                    </a>
                                    <button class="hamburger-btn" aria-label="Toggle Menu">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- End header -->

            <!-- page-banner -->
            <div class="page-banner">
                <div class="carousel-container">
                    <div class="page-content">
                        <ul class="bread-crumbs3" data-aos="fade" data-aos-duration="900" data-aos-delay="300">
                            <li><a href="#" title="">Home</a></li>
                            <li class="dots"></li>
                            <li><a href="#" title="">Blog Standard</a></li>
                            <li class="dots"></li>
                            <li>Blog Details</li>
                        </ul>
                        <h1 class="title" data-aos="fade" data-aos-duration="900" data-aos-delay="400">
                            How Predictive Analytics Helps You Stay Ahead of Competitors
                        </h1>
                        <ul class="bread-crumbs2" data-aos="fade" data-aos-duration="900" data-aos-delay="500">
                            <li><a href="#" title="">dashboard</a></li>
                            <li><a href="#" title="">September 10, 2025</a></li>
                            <li><a href="#comments" title="">0 Comments</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End page-banner -->
        </section>
        <!-- End main-sec2 -->

        <!-- blog-detail-sec -->
        <section class="blog-detail-sec">
            <div class="carousel-container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog-detail-content" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                            <div class="video-wrap">
                                <iframe 
                                    id="videoFrame"
                                    width="100%" 
                                    height="450"
                                    src="https://www.youtube.com/embed/y25tTCPRcHs?rel=0&modestbranding=1"
                                    title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                </iframe>

                            </div>
                            <p class="paragraph">Software as a Service (SaaS) is transforming how businesses operate, 
                                offering flexibility, scalability, and cost-efficiency all in one platform. In today’s 
                                competitive digital landscape, adopting the right SaaS solution can streamline 
                                operations, improve collaboration, and unlock new levels of productivity. Whether 
                                you’re a small startup or a growing enterprise, understanding the full potential
                                of SaaS technology
                            </p>

                            <p class="paragraph">Visual aids play a crucial role in helping users understand how our 
                                SaaS platform works in real time. From intuitive dashboard screenshots and user flow 
                                diagrams to feature highlight videos and interactive demos, we provide clear, engaging 
                                visuals that break down complex processes into simple
                            </p>

                            <blockquote class="testimonial">
                                <img src="assets/images/icon/comas.png" alt="Quotation mark icon for testimonial">
                                <p>
                                    “This platform has completely transformed the way our team works.
                                    The UI is clean, the features are powerful, and the automation tools
                                    have saved us countless hours.”
                                </p>
                            </blockquote>

                            <p class="paragraph">We believe great design is not just about how looks, but how it works. 
                                Through thoughtful visualizations, we translate complex SaaS features into intuitive 
                                interfaces that users can understand and engage with effortlessly. These visual assets 
                                help communicate the product’s core value, simplify onboarding, and build trust from 
                                the first interaction.
                            </p>

                            <ul class="tag-list">
                                <li><span>Popular Tags:</span></li>
                                <li><a href="#" title="">dashboard</a></li>
                                <li><a href="#" title="">SasS</a></li>
                            </ul>

                            <div class="auther-bio">
                                <div class="author-image">
                                    <img src="assets/images/author/auther1-1.png" alt="Author profile photo of admin user">
                                </div>
                                <div class="author-info">
                                    <h1 class="name">Admin</h1>
                                    <p>SaaS product enthusiast and digital strategist with a passion building 
                                        and optimizing user-focused experiences. With years of experience in 
                                        product design, UX, and cloud-based.
                                    </p>
                                    <ul class="social-link2">
                                        <li><a href="#" title=""><img src="assets/images/icon/twitter.svg" alt="Twitter social media icon"></a></li>
                                        <li><a href="#" title=""><img src="assets/images/icon/facbook.svg" alt="Facebook social media icon"></a></li>
                                        <li><a href="#" title=""><img src="assets/images/icon/linkedin.svg" alt="LinkedIn social media icon"></a></li>
                                        <li><a href="#" title=""><img src="assets/images/icon/youtube.svg" alt="YouTube social media icon"></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="post-nav">
                                <div class="btn-nav post-prev">
                                    <a href="#" title="">
                                        <div class="nav-thumb">
                                            <img src="assets/images/author/thumb.webp" alt="Previous post author thumbnail image">
                                            <img src="assets/images/icon/arrow1-5.svg" alt="Arrow icon for previous post navigation" class="post-btn">
                                        </div>
                                        <div class="nav-text">
                                            <h1 class="title">Enhancing Help Desk Efficiency 
                                                Through Collaboration
                                            </h1>
                                            <span>Read more</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="btn-nav post-prev">
                                    <a href="#" title="">
                                        <div class="nav-text">
                                            <h1 class="title">Enhancing Help Desk Efficiency 
                                                Through Collaboration
                                            </h1>
                                            <span>Read more</span>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="comment-respond" id="comments">
                                <h2 class="comment-reply-title">Leave a comment</h2>
                                <p class="comment-notes">Your email address will not be published.Required fields are marked*</p>
                                <form class="comment-form">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <textarea id="message" name="message" rows="4" placeholder="Write Comment*"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" id="name" name="name" placeholder="Your Name*" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="email" id="email" name="email" placeholder="Your Email*" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="radio-btn">
                                                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                                                <label for="javascript">Save my name, email, and website in this browser for the next time I comment.</label>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <button type="submit" class="btn-style1">
                                            Post Comment
                                                <span>
                                                    <img src="assets/images/icon/arrow.svg" alt="Arrow icon for post comment button">
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="side-bar">
                            <div class="form-widget2">
                                <form class="comment-form2">
                                    <div class="form-group">
                                        <input type="text" name="name" placeholder="Search" required>
                                        <button type="submit">
                                            <img src="assets/images/icon/search.svg" alt="Search submit button icon">
                                        </button>
                                    </div>
                                </form>
                            </div>

                            <div class="side-widget categorie-widegt">
                                <h3 class="side-bar-title">Categories</h3>
                                <ul class="blog-detail-list">
                                    <li><a href="#" title="">AI & Technology</a></li>
                                    <li><a href="#" title="">Dashboard Design</a></li>
                                    <li><a href="#" title="">Mobile Apps Development</a></li>
                                    <li><a href="#" title="">Product Design</a></li>
                                    <li><a href="#" title="">SaaS Landing Template</a></li>
                                    <li><a href="#" title="">UX/UI Design</a></li>
                                </ul>
                            </div>

                            <div class="side-widget news-widegt">
                                <h4 class="side-bar-title">Latest News</h4>

                                <div class="news-content">
                                    <a href="#" title="">
                                        <img src="assets/images/blog/blog2-2.webp" alt="How a solid design system transforms SaaS products">
                                    </a>
                                    <span class="date">July 24, 2025</span>
                                    <h4 class="title"><a href="#" title="">How a Solid Design System Transform SaaS Product</a></h4>
                                </div>

                                <div class="news-content">
                                    <a href="#" title="">
                                        <img src="assets/images/blog/blog2-3.webp" alt="Enhancing help desk efficiency through collaboration article image">
                                    </a>
                                    <span class="date">July 23, 2025</span>
                                    <h4 class="title"><a href="#" title="">Enhancing Help Desk Efficiency Through Collaboration</a></h4>
                                </div>

                                <div class="news-content">
                                    <a href="#" title="">
                                        <img src="assets/images/blog/blog2-4.webp" alt="Solving complex IT issues through team collaboration article image">
                                    </a>
                                    <span class="date">July 22, 2025</span>
                                    <h4 class="title"><a href="#" title="">Solving Complex IT Issues Through Team Collaboration</a></h4>
                                </div>
                            </div>

                            <div class="side-widget tag-widget">
                                <h4 class="side-bar-title">Tags</h4>
                                <ul class="tag-list m-0">
                                    <li><a href="#" title="">Dashboard</a></li>
                                    <li><a href="#" title="">Design</a></li>
                                    <li><a href="#" title="">Mobile</a></li>
                                    <li><a href="#" title="">SasS</a></li>
                                    <li><a href="#" title="">Software</a></li>
                                    <li><a href="#" title="">Technology</a></li>
                                </ul>
                            </div>

                            <div class="side-widget form-widget2">
                                <p>Stay ahead of the curve with the latest 
                                    product updates, expert tips
                                </p>
                                <form class="comment-form3">
                                    <div class="form-group">
                                        <input type="text" name="name" placeholder="Enter your email" required>
                                        <button type="submit" class="btn-style1">
                                            Subscribe now
                                            <span>
                                                <img src="assets/images/icon/arrow.svg" alt="Arrow icon for subscribe button">
                                            </span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End blog-detail-sec -->

        <!-- cta-sec -->
        <section class="cta-sec space">
            <div class="carousel-container">
                <div class="cta-content">
                    <div class="sec-title white">
                        <img src="assets/images/icon/Icon2.png" alt=""  data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                        <h2 class="title"  data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">Revolutionize Your Business
                            with Cutting-Edge AI
                        </h2>
                        <p  data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">Harness the power of advanced AI solutions to revolutionize your business operations and
                            unlock new growth opportunities. Our cutting-edge technology empowers .
                        </p>
                    </div>
                    <form class="hero-form" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                        <input type="text" name="name" placeholder="Email Address" required>
                        <button type="submit" class="btn-style1">
                            Request a Demo
                            <span>
                                <img src="assets/images/icon/arrow.svg" alt="Arrow Icon">
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </section>
        <!-- End cta-sec -->

        <!-- footer-style1 -->
        <footer class="footer-style1 space-top">
            <button id="scrollTopBtn">
                <img src="assets/images/icon/check1-3.svg" alt="Scroll to top arrow icon">
            </button>
            <div class="footer-widget">
                <div class="carousel-container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="footer-widget about-widget" data-aos="fade-right" data-aos-duration="900" data-aos-delay="300">
                                <div class="footer-logo">
                                    <a href="#" title="" class="light">
                                        <img src="assets/images/logo2.svg" alt="Sasico AI SaaS footer logo light version">
                                    </a>
                                    <a href="#" title="" class="dark">
                                        <img src="assets/images/logo2-dark.svg" alt="Sasico AI SaaS footer logo dark version">
                                    </a>
                                </div>
                                <p>We are passionate about harnessing the power 
                                    artificial intelligence to businesses
                                </p>
                                <img src="assets/images/event/sasico.png" alt="Sasico AI brand partner badge light" class="light">
                                <img src="assets/images/event/sasico-dark.webp" alt="Sasico AI brand partner badge dark" class="dark">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="footer-widget footer-links-widget" data-aos="fade-left" data-aos-duration="900" data-aos-delay="300">
                                <div class="link-widget">
                                    <h3 class="widget-title">Product</h3>
                                    <ul class="footer-link">
                                        <li><a href="#" title="">Features</a></li>
                                        <li><a href="#" title="">Integrations</a></li>
                                        <li><a href="#" title="">Download</a></li>
                                        <li><a href="#" title="">Pricing</a></li>
                                    </ul>
                                </div>
                                <div class="link-widget">
                                    <h3 class="widget-title">Company</h3>
                                    <ul class="footer-link">
                                        <li><a href="#" title="">About us</a></li>
                                        <li><a href="#" title="">Latest Blog</a></li>
                                        <li><a href="#" title="">Our Clients</a></li>
                                        <li><a href="#" title="">Careers</a></li>
                                    </ul>
                                </div>
                                <div class="link-widget">
                                    <h3 class="widget-title">Resources</h3>
                                    <ul class="footer-link">
                                        <li><a href="#" title="">Support center</a></li>
                                        <li><a href="#" title="">Documentation</a></li>
                                        <li><a href="#" title="">Community</a></li>
                                        <li><a href="#" title="">Hosting</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="footer-widget footer-contact" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                                <div class="form-widget">
                                    <h3 class="title">Join Our Newsletter</h3>
                                    <p>Never Miss an Update — Sign Up Today</p>
                                    <form class="footer-form">
                                        <input type="text" name="name" placeholder="Enter email" required>
                                        <button type="submit">
                                            <img src="assets/images/icon/check1-3.svg" alt="Submit newsletter form button icon">
                                        </button>
                                    </form>
                                </div>
                                <div class="social-widget">
                                    <h3 class="title">Social Media</h3>
                                    <ul class="social-links">
                                        <li><a href="#" title=""><img src="assets/images/icon/facebook.svg" alt="Facebook social media icon"></a></li>
                                        <li><a href="#" title=""><img src="assets/images/icon/twitter.svg" alt="Twitter social media icon"></a></li>
                                        <li><a href="#" title=""><img src="assets/images/icon/linkedin.svg" alt="LinkedIn social media icon"></a></li>
                                        <li><a href="#" title=""><img src="assets/images/icon/behance.svg" alt="Behance social media icon"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="carousel-container">
                    <div class="footer-box" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                        <div class="copyright-area">
                            <p>Sasico,2025 © All rights reserved</p>
                        </div>
                        <ul class="terms-list">
                            <li><a href="#" title="">Terms & Conditions</a></li>
                            <li><a href="#" title="">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End footer-style1 -->
       
    </div>


    <!--********************************
			Code End  Here 
	******************************** -->

    <!--==============================
        All Js File
    ============================== -->
    <!-- Bootstrap -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <!-- swiper -->
    <script src="assets/js/vendor/swiper-bundle.min.js"></script>
    <!-- AOS Js File -->
    <script src="assets/js/vendor/aos.js"></script>
    <!-- Main Js File -->
    <script src="assets/js/main.js"></script>


</body>
</html>