<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sasico || Feature - Ai Software - SaaS & Tech Startup HTML Template</title>
    <meta name="author" content="Vecuro">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--==============================
	   Google Web Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- swiper slider -->
    <link rel="stylesheet" href="assets/css/vendor/swiper-bundle.min.css">
    <!-- AOS css file -->
    <link rel="stylesheet" href="assets/css/vendor/aos.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="ai-software">

    <!-- Popup -->
    <div class="video-modal" id="videoModal" style="display:none;">
        <button class="video-close-btn">✕</button>
        <div class="video-modal-box">
            <iframe id="videoFrame2"
                width="560" height="315"
                allow="autoplay; encrypted-media"
                allowfullscreen
                style="border:0;">
            </iframe>
        </div>
    </div>
    
    <!-- darkModeBtn -->
    <a href="#" id="darkModeBtn" class="dark-active">
        <img src="assets/images/icon/moon.png" alt="Moon Icon" class="moon">
        <img src="assets/images/icon/sun.png" alt="Sun Icon" class="sun">
    </a>


    <!--********************************
   		Code Start From Here
	******************************** -->

    <!--==============================
        Preloader
    ==============================-->
    <div id="preloader">
        <div class="loader">
            <img src="assets/images/logo2.svg" alt="Website Logo" class="light">
            <img src="assets/images/logo2-dark.svg" alt="Website Logo" class="dark">
        </div>
    </div>

    <div class="wrapper">
        <!-- Mobile Menu -->
        <div class="mobile-menu">
            <!-- Close Button -->
            <div class="close-btn">
                <img src="assets/images/icon/xmark2.svg" alt="Close Menu">
            </div>
            <nav>
                <ul class="main-menu11 menu-style11">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="feature.html">Features</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li><a href="blog-standard.html">News</a></li>
                    <li><a href="help.html">Help</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu-overlay"></div>

        <!-- search box -->
        <div class="search-popup">
            <form class="search-form">
                <input type="text" placeholder="Enter Keywords..." required>
                <button type="submit" class="submit-btn">
                    <img src="assets/images/icon/search.svg" alt="Search Icon">
                </button>
            </form>
        </div>
        <div class="search-overlay"></div>

        <!-- main-sec2 -->
        <section class="main-sec2">
            <!-- Header -->
            <header class="header-main v2">
                <div class="header-bottom">
                    <div class="carousel-container">
                        <div class="row">
                            <!-- Logo -->
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="header-logo">
                                    <a href="index.html" class="logo light" title="Home">
                                        <img src="assets/images/logo3.svg" alt="Sasico SaaS Analytics Light Logo">
                                    </a>
                                    <a href="index.html" title="Home" class="dark">
                                        <img src="assets/images/dark-logo.svg" alt="Sasico SaaS Analytics Dark Mode Logo">
                                    </a>
                                </div>
                            </div>

                            <!-- Navigation Menu -->
                            <div class="col-lg-6">
                                <nav class="main-menu11 v2 menu-style11" aria-label="Main Navigation">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="feature.html">Features</a></li>
                                        <li><a href="pricing.html">Pricing</a></li>
                                        <li><a href="blog-standard.html">News</a></li>
                                        <li><a href="help.html">Help</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>

                            <!-- Buttons -->
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="header-btn">
                                    <a href="#" class="search-btn" aria-label="Search">
                                        <img src="assets/images/icon/search.svg" alt="Website Search Icon">
                                    </a>
                                    <a href="#" class="btn-style1 v2">
                                        Sign In
                                        <span>
                                            <img src="assets/images/icon/arrow.svg" alt="Arrow Icon for Sign In Button">
                                        </span>
                                    </a>
                                    <button class="hamburger-btn" aria-label="Toggle Menu">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- End header -->

            <!-- page-banner -->
            <div class="page-banner">
                <div class="carousel-container">
                    <div class="page-content">
                        <span class="sub-title" data-aos="fade" data-aos-duration="900" data-aos-delay="300">Ai-power Software Solutions</span>
                        <h1 class="title" data-aos="fade" data-aos-duration="900" data-aos-delay="300">Powerful Features and Smarter Solutions</h1>
                        <p data-aos="fade" data-aos-duration="900" data-aos-delay="300">Cutting-Edge Tools for a Smarter Future</p>
                    </div>
                </div>
            </div>
            <!-- End page-banner -->

        </section>
        <!-- End main-sec2 -->

        <!-- feature-sec2 -->
        <section class="feature-sec2 space">
            <div class="carousel-container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="feature-content2" data-aos="fade-right" data-aos-duration="900" data-aos-delay="300">
                            <div class="sec-title mb-0">
                                <span class="sub-title">Effective Strategy</span>
                                <h2 class="title">Intelligent Planning for
                                    Smarter Outcomes
                                </h2>
                                <p>We believe that every successful project starts with a well-crafted strategy. 
                                    Our approach blends in-depth market research, data-driven insights, and advanced 
                                    AI tools to create strategies
                                </p>
                            </div>
                            <a href="#" class="btn-style1 v2">
                                Get Started
                                <span>
                                    <img src="assets/images/icon/arrow.svg" alt="Arrow icon for get started button">
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="feature-img2 mb-0" data-aos="fade-left" data-aos-duration="900" data-aos-delay="300">
                            <img src="assets/images/feature/feature2-1.png" alt="AI strategy and intelligent planning illustration light mode" class="light">
                            <img src="assets/images/feature/feature2-1-dark.webp" alt="AI strategy and intelligent planning illustration dark mode" class="dark">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- End feature-sec2 -->

        <!-- feature-sec2 -->
        <section class="feature-sec2 space-bottom">
            <div class="carousel-container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="feature-img2 m-0" data-aos="fade-right" data-aos-duration="900" data-aos-delay="300">
                            <img src="assets/images/feature/feature3-1.png" alt="Task management dashboard illustration light mode" class="light">
                            <img src="assets/images/feature/feature3-1-dark.webp" alt="Task management dashboard illustration dark mode" class="dark">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="feature-content2 v2" data-aos="fade-left" data-aos-duration="900" data-aos-delay="300">
                            <div class="sec-title mb-0">
                                <span class="sub-title">Task Management</span>
                                <h2 class="title">Master Every Task with 
                                    Ease and Precision
                                </h2>
                                <p>We believe that every successful project starts with a well-crafted strategy. Our approach blends 
                                    in-depth market research, data-driven insights, and advanced AI tools to create strategies
                                </p>
                            </div>
                            <ul class="feature-list2">
                                <li><img src="assets/images/icon/check2-1.svg" alt="Check icon">Turn Busy Work into Productive Wins</li>
                                <li><img src="assets/images/icon/check2-1.svg" alt="Check icon">Command Your Workflow, Conquer Your Goals</li>
                                <li><img src="assets/images/icon/check2-1.svg" alt="Check icon">Powerful Task Management for Unstoppable Teams</li>
                            </ul>
                            <a href="#" class="btn-style1 v2">
                                Get Started
                                <span>
                                    <img src="assets/images/icon/arrow.svg" alt="Arrow icon for get started button">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End feature-sec2 -->

        <!-- main-sec3 -->
        <section class="main-sec3 space">
            <!-- why-choose-sec -->
            <div class="why-choose-sec space-bottom">
                <div class="carousel-container">
                    <div class="choose-title2">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="sec-title white" data-aos="fade-right" data-aos-duration="900" data-aos-delay="300">
                                    <span class="sub-title">How to Choose Us</span>
                                    <h2 class="title">Transforming Visions into Reality—Choose Us
                                    </h2>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <p data-aos="fade-left" data-aos-duration="900" data-aos-delay="300">Our commitment to innovation, reliability, and continuous support 
                                    ensures that you not only meet today’s challenges but also stay 
                                    ahead of tomorrow’s opportunities.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">  
                                <div class="choose-block v2">
                                    <img src="assets/images/icon/choose1-1.svg" alt="Intelligent automation AI icon">
                                    <h3 class="title">Intelligent Automation</h3>
                                    <p>Eliminate repetitive tasks and
                                        boost productivity with AI.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div data-aos="fade-up" data-aos-duration="900" data-aos-delay="500">  
                                <div class="choose-block v2">
                                    <img src="assets/images/icon/choose1-2.svg" alt="Data driven analytics insight icon">
                                    <h3 class="title">Data-Driven Insights</h3>
                                    <p>Make smarter decisions with
                                        real-time analytics.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div data-aos="fade-up" data-aos-duration="900" data-aos-delay="700">  
                                <div class="choose-block v2">
                                    <img src="assets/images/icon/choose1-3.svg" alt="Seamless integration system connection icon">
                                    <h3 class="title">Seamless Integration</h3>
                                    <p>Easily connect with existing
                                        tools, systems, workflows.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div data-aos="fade-up" data-aos-duration="900" data-aos-delay="900">  
                                <div class="choose-block v2">
                                    <img src="assets/images/icon/choose1-4.svg" alt="Scalable AI solution growth icon">
                                    <h3 class="title">Scalable & Ready</h3>
                                    <p>Adapt grow with AI solutions
                                        evolve alongside business.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End why-choose-sec -->

            <!-- quote-sec -->
            <div class="quote-sec">
                <div class="carousel-container">
                    <div class="quote-info">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="quote-content" data-aos="fade-right" data-aos-duration="900" data-aos-delay="300">
                                    <img src="assets/images/event/trello.png" alt="Trello company logo testimonial image">
                                    <p>"Switching to their AI platform completely transformed workflow
                                        tasks that used to take hours are now done in minutes."
                                    </p>
                                    <h3 class="name">Sarah Mitchell</h3>
                                    <span class="designation">CO-Founder</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="quote-img" data-aos="fade-left" data-aos-duration="900" data-aos-delay="300">
                                    <img src="assets/images/event/quote.png" alt="Client testimonial quote illustration">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End quote-sec -->
        </section>
        <!-- End main-sec3 -->

        <!-- feature-sec2 -->
        <section class="feature-sec2 space">
            <div class="carousel-container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="feature-img2 v2 m-0" data-aos="fade-right" data-aos-duration="900" data-aos-delay="300">
                            <img src="assets/images/feature/feature3-2.png" alt="Ultimate solution illustration light mode" class="light">
                            <img src="assets/images/feature/feature3-2-dark.webp" alt="Ultimate solution illustration dark mode" class="dark">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="feature-content2 v2" data-aos="fade-left" data-aos-duration="900" data-aos-delay="300">
                            <div class="sec-title mb-0">
                                <span class="sub-title">Ultimate Solution</span>
                                <h2 class="title">Simplifying Success with 
                                    One Powerful Solution
                                </h2>
                                <p>By combining advanced automation, real-time analytics, and seamless integration, 
                                    we deliver a platform that addresses every challenge with precision and ease.
                                </p>
                            </div>
                            <a href="#" class="btn-style1 v2">
                                Get Started
                                <span>
                                    <img src="assets/images/icon/arrow.svg" alt="Arrow icon for get started button">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End feature-sec2 -->

        <!-- integration-sec -->
        <section class="integration-sec v2 space-bottom">
            <div class="carousel-container">
                <div class="sec-title">
                    <span class="sub-title" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">Integrations</span>
                    <h2 class="title" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">Powerful Integrations &
                        Essential Tools
                    </h2>
                </div>
                <div class="row g-0">
                    <div class="col-lg-4 col-md-6">
                        <div class="integration-img" data-aos="fade-right" data-aos-duration="900" data-aos-delay="300">
                            <img src="assets/images/event/integrat1-1.png" alt="Integration tool 1 logo light mode" class="light">
                            <img src="assets/images/event/integrat1-1-dark.png" alt="Integration tool 1 logo dark mode" class="dark">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="integration-img" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                            <img src="assets/images/event/integrat1-2.png" alt="Integration tool 2 logo light mode" class="light">
                            <img src="assets/images/event/integrat1-2-dark.png" alt="Integration tool 2 logo dark mode" class="dark">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="integration-img" data-aos="fade-left" data-aos-duration="900" data-aos-delay="300">
                            <img src="assets/images/event/integrat1-3.png" alt="Integration tool 3 logo light mode" class="light">
                            <img src="assets/images/event/integrat1-3-dark.png" alt="Integration tool 3 logo dark mode" class="dark">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End integration-sec -->

        <!-- cta-sec -->
        <section class="cta-sec space">
            <div class="carousel-container">
                <div class="cta-content">
                    <div class="sec-title white">
                        <img src="assets/images/icon/Icon2.png" alt=""  data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                        <h2 class="title"  data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">Revolutionize Your Business
                            with Cutting-Edge AI
                        </h2>
                        <p  data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">Harness the power of advanced AI solutions to revolutionize your business operations and
                            unlock new growth opportunities. Our cutting-edge technology empowers .
                        </p>
                    </div>
                    <form class="hero-form" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                        <input type="text" name="name" placeholder="Email Address" required>
                        <button type="submit" class="btn-style1">
                            Request a Demo
                            <span>
                                <img src="assets/images/icon/arrow.svg" alt="Arrow Icon">
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </section>
        <!-- End cta-sec -->

        <!-- footer-style1 -->
        <footer class="footer-style1 space-top">
            <button id="scrollTopBtn">
                <img src="assets/images/icon/check1-3.svg" alt="Scroll to top arrow icon">
            </button>
            <div class="footer-widget">
                <div class="carousel-container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="footer-widget about-widget" data-aos="fade-right" data-aos-duration="900" data-aos-delay="300">
                                <div class="footer-logo">
                                    <a href="#" title="" class="light">
                                        <img src="assets/images/logo2.svg" alt="Sasico AI SaaS footer logo light version">
                                    </a>
                                    <a href="#" title="" class="dark">
                                        <img src="assets/images/logo2-dark.svg" alt="Sasico AI SaaS footer logo dark version">
                                    </a>
                                </div>
                                <p>We are passionate about harnessing the power 
                                    artificial intelligence to businesses
                                </p>
                                <img src="assets/images/event/sasico.png" alt="Sasico AI brand partner badge light" class="light">
                                <img src="assets/images/event/sasico-dark.webp" alt="Sasico AI brand partner badge dark" class="dark">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="footer-widget footer-links-widget" data-aos="fade-left" data-aos-duration="900" data-aos-delay="300">
                                <div class="link-widget">
                                    <h3 class="widget-title">Product</h3>
                                    <ul class="footer-link">
                                        <li><a href="#" title="">Features</a></li>
                                        <li><a href="#" title="">Integrations</a></li>
                                        <li><a href="#" title="">Download</a></li>
                                        <li><a href="#" title="">Pricing</a></li>
                                    </ul>
                                </div>
                                <div class="link-widget">
                                    <h3 class="widget-title">Company</h3>
                                    <ul class="footer-link">
                                        <li><a href="#" title="">About us</a></li>
                                        <li><a href="#" title="">Latest Blog</a></li>
                                        <li><a href="#" title="">Our Clients</a></li>
                                        <li><a href="#" title="">Careers</a></li>
                                    </ul>
                                </div>
                                <div class="link-widget">
                                    <h3 class="widget-title">Resources</h3>
                                    <ul class="footer-link">
                                        <li><a href="#" title="">Support center</a></li>
                                        <li><a href="#" title="">Documentation</a></li>
                                        <li><a href="#" title="">Community</a></li>
                                        <li><a href="#" title="">Hosting</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="footer-widget footer-contact" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                                <div class="form-widget">
                                    <h3 class="title">Join Our Newsletter</h3>
                                    <p>Never Miss an Update — Sign Up Today</p>
                                    <form class="footer-form">
                                        <input type="text" name="name" placeholder="Enter email" required>
                                        <button type="submit">
                                            <img src="assets/images/icon/check1-3.svg" alt="Submit newsletter form button icon">
                                        </button>
                                    </form>
                                </div>
                                <div class="social-widget">
                                    <h3 class="title">Social Media</h3>
                                    <ul class="social-links">
                                        <li><a href="#" title=""><img src="assets/images/icon/facebook.svg" alt="Facebook social media icon"></a></li>
                                        <li><a href="#" title=""><img src="assets/images/icon/twitter.svg" alt="Twitter social media icon"></a></li>
                                        <li><a href="#" title=""><img src="assets/images/icon/linkedin.svg" alt="LinkedIn social media icon"></a></li>
                                        <li><a href="#" title=""><img src="assets/images/icon/behance.svg" alt="Behance social media icon"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="carousel-container">
                    <div class="footer-box" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                        <div class="copyright-area">
                            <p>Sasico,2025 © All rights reserved</p>
                        </div>
                        <ul class="terms-list">
                            <li><a href="#" title="">Terms & Conditions</a></li>
                            <li><a href="#" title="">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End footer-style1 -->
        
    </div>


    <!--********************************
			Code End  Here 
	******************************** -->

    <!--==============================
        All Js File
    ============================== -->
    <!-- Bootstrap -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <!-- swiper -->
    <script src="assets/js/vendor/swiper-bundle.min.js"></script>
    <!-- AOS Js File -->
    <script src="assets/js/vendor/aos.js"></script>
    <!-- Main Js File -->
    <script src="assets/js/main.js"></script>
</body>

</html>