<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sasico || Help Desk - SaaS & Tech Startup HTML Template</title>
    <meta name="author" content="Vecuro">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--==============================
	   Google Web Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- swiper slider -->
    <link rel="stylesheet" href="assets/css/vendor/swiper-bundle.min.css">
    <!-- AOS css file -->
    <link rel="stylesheet" href="assets/css/vendor/aos.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="helpdesk-home">
    <button id="scrollTopBtn">
        <img src="assets/images/icon/arrow4.svg" alt="Scroll to top arrow icon">
    </button>

    <!-- Video Popup -->
    <div class="video-popup" id="videoPopup">
        <div class="video-popup-content">
            <span class="close-popup">&times;</span>
            <iframe id="popupVideo" allow="autoplay" allowfullscreen></iframe>
        </div>
    </div>
    <!-- darkModeBtn -->
    <a href="#" id="darkModeBtn" class="dark-active">
        <img src="assets/images/icon/moon.png" alt="Moon Icon" class="moon">
        <img src="assets/images/icon/sun.png" alt="Sun Icon" class="sun">
    </a>

    <!--********************************
   		Code Start From Here
	******************************** -->

    <!--==============================
        Preloader
    ==============================-->
    <div id="preloader">
        <div class="loader">
            <img src="assets/images/logo.svg" alt="Website Logo" class="light">
            <img src="assets/images/dark-logo.svg" alt="Website Logo" class="dark">
        </div>
    </div>

    <div class="wrapper">
        <!-- Mobile Menu -->
        <div class="mobile-menu">
            <!-- Close Button -->
            <div class="close-btn">
                <img src="assets/images/icon/xmark2.svg" alt="Close Menu">
            </div>
            <nav class="main-menu11 menu-style11">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="feature.html">Features</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu-overlay"></div>

        <!-- search box -->
        <div class="search-popup">
            <form class="search-form">
                <input type="text" placeholder="Enter Keywords..." required>
                <button type="submit" class="submit-btn">
                    <img src="assets/images/icon/search.svg" alt="Search Icon">
                </button>
            </form>
        </div>
        <div class="search-overlay"></div>

        <!-- main-sec6 -->
        <section class="main-sec6 space-bottom">
            <!-- Header -->
            <header class="header-main">
                <div class="carousel-container">
                    <div class="header-bottom">
                        <div class="row">
                            <!-- Logo -->
                            <div class="col-lg-2 col-md-6 col-sm-6">
                                <div class="header-logo">
                                    <a href="index.html" class="logo" title="Home">
                                        <img src="assets/images/logo.svg" alt="Sasico Logo">
                                    </a>
                                    <a href="index.html" title="Home" class="dark-logo">
                                        <img src="assets/images/dark-logo.svg" alt="Sasico Dark Logo">
                                    </a>
                                </div>
                            </div>

                            <!-- Navigation Menu -->
                            <div class="col-lg-7">
                                <nav class="main-menu11 menu-style11" aria-label="Main Navigation">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="feature.html">Features</a></li>
                                        <li><a href="pricing.html">Pricing</a></li>
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>

                            <!-- Buttons -->
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="header-btn">
                                    <a href="#" class="search-btn" aria-label="Search">
                                        <img src="assets/images/icon/search.svg" alt="Search Icon">
                                    </a>
                                    <a href="#" class="btn-style1">
                                        Sign Up
                                        <span>
                                            <img src="assets/images/icon/arrow.svg" alt="Arrow icon for sign up button">
                                        </span>
                                    </a>
                                    <!-- Hamburger for mobile -->
                                    <button class="hamburger-btn" aria-label="Toggle Menu">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- End Header -->

            <!-- page-banner2 -->
            <div class="page-banner2">
                <div class="carousel-container">
                    <div class="page-info2">
                        <div class="page-content2 mb-0">
                            <ul class="bread-crumbs">
                                <li><a href="">Home</a></li>
                                <li>-</li>
                                <li>Pricing</li>
                            </ul>
                            <h1 class="title mb-0" data-aos="fade" data-aos-duration="900" data-aos-delay="300">Pricing Package</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End page-banner2 -->

            <!-- pricing-sec2 -->
            <div class="pricing-sec2 space-top">
                <div class="container-fluid">
                    <div class="pricing-info">
                        <div class="sec-title">
                            <span class="sub-title" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">Pricing plan</span>
                            <h2 class="title" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">Simple & Affordable Plan</h2>
                            <p data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">Platform provides a comprehensive suite of analytics tools
                                designed to help businesses turn data into insights.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="price-card" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                                    <span class="sub-title">Regular</span>
                                    <h4 class="price">$18<span>/month</span></h4>
                                    <p>Powerful & Simple Solution</p>
                                    <a href="#" class="btn-style1">
                                        Choose Package
                                        <span>
                                            <img src="assets/images/icon/arrow.svg" alt="Arrow icon for regular package button">
                                        </span>
                                    </a>
                                    <h4 class="title">Features:</h4>
                                    <ul class="price-list">
                                        <li><img src="assets/images/icon/check1-1.svg" alt="Check icon">1 chatbot platforms</li>
                                        <li><img src="assets/images/icon/check1-1.svg" alt="Check icon">100 conversations/month</li>
                                        <li><img src="assets/images/icon/check1-1.svg" alt="Check icon">Basic NLP support</li>
                                        <li><img src="assets/images/icon/check1-1.svg" alt="Check icon">Limited customization</li>
                                        <li><img src="assets/images/icon/check1-1.svg" alt="Check icon">Basic SEO Optimization</li>
                                        <li><img src="assets/images/icon/check1-1.svg" alt="Check icon">Email support</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="price-card v2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
                                    <span class="sub-title">Standard</span>
                                    <h4 class="price">$39<span>/month</span></h4>
                                    <p>Powerful & Simple Solution</p>
                                    <a href="#" class="btn-style1">
                                        Choose Package
                                        <span>
                                            <img src="assets/images/icon/arrow.svg" alt="Arrow icon for standard package button">
                                        </span>
                                    </a>
                                    <h4 class="title">Features:</h4>
                                    <ul class="price-list">
                                        <li><img src="assets/images/icon/check1-1.svg" alt="Check icon">1 chatbot platforms</li>
                                        <li><img src="assets/images/icon/check1-1.svg" alt="Check icon">100 conversations/month</li>
                                        <li><img src="assets/images/icon/check1-1.svg" alt="Check icon">Basic NLP support</li>
                                        <li><img src="assets/images/icon/check1-1.svg" alt="Check icon">Limited customization</li>
                                        <li><img src="assets/images/icon/check1-1.svg" alt="Check icon">Basic SEO Optimization</li>
                                        <li><img src="assets/images/icon/check1-1.svg" alt="Check icon">Email support</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="price-card" data-aos="fade-up" data-aos-duration="900" data-aos-delay="600">
                                    <span class="sub-title">Custom</span>
                                    <h4 class="price">$293<span>/month</span></h4>
                                    <p>Powerful & Simple Solution</p>
                                    <a href="#" class="btn-style1">
                                        Choose Package
                                        <span>
                                            <img src="assets/images/icon/arrow.svg" alt="Arrow icon for custom package button">
                                        </span>
                                    </a>
                                    <h4 class="title">Features:</h4>
                                    <ul class="price-list">
                                        <li><img src="assets/images/icon/check1-1.svg" alt="Check icon">1 chatbot platforms</li>
                                        <li><img src="assets/images/icon/check1-1.svg" alt="Check icon">100 conversations/month</li>
                                        <li><img src="assets/images/icon/check1-1.svg" alt="Check icon">Basic NLP support</li>
                                        <li><img src="assets/images/icon/check1-1.svg" alt="Check icon">Limited customization</li>
                                        <li><img src="assets/images/icon/check1-1.svg" alt="Check icon">Basic SEO Optimization</li>
                                        <li><img src="assets/images/icon/check1-1.svg" alt="Check icon">Email support</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End pricing-sec2 -->
            </div>
        </section>
        <!-- End main-sec6 -->

        <!-- faq-sec2 -->
        <section class="faq-sec2 space">
            <div class="carousel-container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="faq-content" data-aos="fade-right" data-aos-duration="900" data-aos-delay="300">
                            <div class="sec-title mb-0">
                                <span class="sub-title">Asked Questions</span>
                                <h2 class="title">Frequently asked questions</h2>
                                <p>Our Frequently Asked Questions are designed to give you quick, 
                                    clear, and reliable answers to the things you want to know most.
                                </p>
                                <a href="#" class="btn-style1">
                                    Get a Quote
                                    <span>
                                        <img src="assets/images/icon/arrow.svg" alt="Arrow icon for get a quote button">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="faq-box" data-aos="fade-left" data-aos-duration="900" data-aos-delay="300">
                            <div class="vs-accordion accordion" id="vsaccordion">
                                <div class="accordion-item active">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                            1. What is AI automation?
                                            <span><img src="assets/images/icon/faq-icon.svg" alt="FAQ icon"></span>
                                        </button>
                                    </h2>
                                    <div id="collapse1" class="accordion-collapse collapse show" data-bs-parent="#vsaccordion">
                                        <div class="accordion-body">
                                            <p>Our AI automation solutions are designed to simplify your workflows, 
                                                save time, and boost productivity. From seamless integrations with 
                                                your favorite tools to a no-code.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                            2. Do I need coding skills?
                                            <span><img src="assets/images/icon/faq-icon.svg" alt="FAQ icon"></span>
                                        </button>
                                    </h2>
                                    <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#vsaccordion">
                                        <div class="accordion-body">
                                            <p>Our AI automation solutions are designed to simplify your workflows, 
                                                save time, and boost productivity. From seamless integrations with 
                                                your favorite tools to a no-code.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                            3. Can it connect to my tools?
                                            <span><img src="assets/images/icon/faq-icon.svg" alt="FAQ icon"></span>
                                        </button>
                                    </h2>
                                    <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#vsaccordion">
                                        <div class="accordion-body">
                                            <p>Our AI automation solutions are designed to simplify your workflows, 
                                                save time, and boost productivity. From seamless integrations with 
                                                your favorite tools to a no-code.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                            4. Is my data secure?
                                            <span><img src="assets/images/icon/faq-icon.svg" alt="FAQ icon"></span>
                                        </button>
                                    </h2>
                                    <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#vsaccordion">
                                        <div class="accordion-body">
                                            <p>Our AI automation solutions are designed to simplify your workflows, 
                                                save time, and boost productivity. From seamless integrations with 
                                                your favorite tools to a no-code.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                            5. How secure are AI Agent solutions?
                                            <span><img src="assets/images/icon/faq-icon.svg" alt="FAQ icon"></span>
                                        </button>
                                    </h2>
                                    <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#vsaccordion">
                                        <div class="accordion-body">
                                            <p>Our AI automation solutions are designed to simplify your workflows, 
                                                save time, and boost productivity. From seamless integrations with 
                                                your favorite tools to a no-code.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                            6. How quickly can AI Agents be implemented?
                                            <span><img src="assets/images/icon/faq-icon.svg" alt="FAQ icon"></span>
                                        </button>
                                    </h2>
                                    <div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#vsaccordion">
                                        <div class="accordion-body">
                                            <p>Our AI automation solutions are designed to simplify your workflows, 
                                                save time, and boost productivity. From seamless integrations with 
                                                your favorite tools to a no-code.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item mb-0">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                            7. Do AI Agents replace humans?
                                            <span><img src="assets/images/icon/faq-icon.svg" alt="FAQ icon"></span>
                                        </button>
                                    </h2>
                                    <div id="collapse7" class="accordion-collapse collapse" data-bs-parent="#vsaccordion">
                                        <div class="accordion-body">
                                            <p>Our AI automation solutions are designed to simplify your workflows, 
                                                save time, and boost productivity. From seamless integrations with 
                                                your favorite tools to a no-code.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End faq-sec2 -->

        <!-- feature-sec7 -->
        <section class="feature-sec7 space-bottom">
            <div class="carousel-container">
                <div class="sec-title">
                    <span class="sub-title" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">Our Testimonials</span>
                    <h2 class="title" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">Lovely Clients Say Us</h2>
                </div>
                <div class="swiper feature">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="feature-card7" data-aos="fade" data-aos-duration="900" data-aos-delay="300">
                                <div class="feature-img7">
                                    <img src="assets/images/feature/feature5-1.png" alt="Client James Anderson">
                                </div>
                                <div class="feature-content7">
                                    <h4 class="name">James Anderson,</h4>
                                    <span class="designation">Operations Manager</span>
                                    <p>"This platform com transformed how we manage our workflows. Its 
                                        intuitive reliable, and has saved our team countless every week!"
                                    </p>
                                    <img src="assets/images/feature/pycharm.png" alt="Pycharm Light Icon" class="light">
                                    <img src="assets/images/feature/pycharm-dark.png" alt="Pycharm Dark Icon" class="dark">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="feature-card7" data-aos="fade" data-aos-duration="900" data-aos-delay="400">
                                <div class="feature-img7">
                                    <img src="assets/images/feature/feature5-2.png" alt="Client Brandon Cooper">
                                </div>
                                <div class="feature-content7">
                                    <h4 class="name">Brandon Cooper,</h4>
                                    <span class="designation">Operations Manager</span>
                                    <p>"This platform com transformed how we manage our workflows. Its 
                                        intuitive reliable, and has saved our team countless every week!"
                                    </p>
                                    <img src="assets/images/feature/pycharm.png" alt="Pycharm Light Icon" class="light">
                                    <img src="assets/images/feature/pycharm-dark.png" alt="Pycharm Dark Icon" class="dark">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="feature-card7" data-aos="fade" data-aos-duration="900" data-aos-delay="300">
                                <div class="feature-img7">
                                    <img src="assets/images/feature/feature5-1.png" alt="Client James Anderson">
                                </div>
                                <div class="feature-content7">
                                    <h4 class="name">James Anderson,</h4>
                                    <span class="designation">Operations Manager</span>
                                    <p>"This platform com transformed how we manage our workflows. Its 
                                        intuitive reliable, and has saved our team countless every week!"
                                    </p>
                                    <img src="assets/images/feature/pycharm.png" alt="Pycharm Light Icon" class="light">
                                    <img src="assets/images/feature/pycharm-dark.png" alt="Pycharm Dark Icon" class="dark">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="feature-card7" data-aos="fade" data-aos-duration="900" data-aos-delay="400">
                                <div class="feature-img7">
                                    <img src="assets/images/feature/feature5-2.png" alt="Client Brandon Cooper">
                                </div>
                                <div class="feature-content7">
                                    <h4 class="name">Brandon Cooper,</h4>
                                    <span class="designation">Operations Manager</span>
                                    <p>"This platform com transformed how we manage our workflows. Its 
                                        intuitive reliable, and has saved our team countless every week!"
                                    </p>
                                    <img src="assets/images/feature/pycharm.png" alt="Pycharm Light Icon" class="light">
                                    <img src="assets/images/feature/pycharm-dark.png" alt="Pycharm Dark Icon" class="dark">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pagination -->
                    <div class="swiper-pagination feature-pagination"></div>
                </div>
            </div>
        </section>
        <!-- End feature-sec7 -->

        <!-- footer-style1 -->
        <footer class="footer-style1 space-md">
            <div class="footer-top">
                <div class="carousel-container">
                    <div class="footer-top-content">
                        <div class="sec-title mb-0">
                            <span class="sub-title" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                                Simplify Your Finances
                            </span>
                            <h2 class="title" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
                                Begin automating smarter workflows today
                            </h2>
                            <p data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">
                                Ready to harness the full power of your data? Get started with us
                            </p>
                            <a href="#" class="btn-style1" data-aos="fade-up" data-aos-duration="900" data-aos-delay="600">
                                Get 14-days Free Trials
                                <span>
                                    <img src="assets/images/icon/arrow.svg" alt="Arrow icon">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-info space-md-top" data-aos="zoom-in" data-aos-duration="900" data-aos-delay="300">
                <div class="carousel-container">
                    <div class="widget-area">
                        <div class="row">

                            <div class="col-lg-4">
                                <div class="footer-widget about-widget">
                                    <div class="footer-logo">
                                        <img src="assets/images/logo2.svg" alt="Company logo light" class="light">
                                        <img src="assets/images/logo2-dark.svg" alt="Company logo dark" class="dark">
                                    </div>
                                    <p>We empower businesses to connect with their audience 
                                        in smarter, faster, and more meaningful ways.
                                    </p>
                                    <ul class="social-link2">
                                        <li><a href="#" title=""><img src="assets/images/icon/facbook.svg" alt="Facebook icon"></a></li>
                                        <li><a href="#" title=""><img src="assets/images/icon/twitter.svg" alt="Twitter icon"></a></li>
                                        <li><a href="#" title=""><img src="assets/images/icon/linkedin.svg" alt="LinkedIn icon"></a></li>
                                        <li><a href="#" title=""><img src="assets/images/icon/youtube.svg" alt="YouTube icon"></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-8">
                                <div class="footer-content">
                                    <div class="footer-widget link-widget">
                                        <h4 class="widget-title">Product</h4>
                                        <ul class="footer-link">
                                            <li><a href="#" title="">Features</a></li>
                                            <li><a href="#" title="">Integrations</a></li>
                                            <li><a href="#" title="">Download</a></li>
                                            <li><a href="#" title="">Pricing</a></li>
                                        </ul>
                                    </div>
                                    <div class="footer-widget link-widget">
                                        <h4 class="widget-title">Company</h4>
                                        <ul class="footer-link">
                                            <li><a href="#" title="">About us</a></li>
                                            <li><a href="#" title="">Latest Blog</a></li>
                                            <li><a href="#" title="">Our Clients</a></li>
                                            <li><a href="#" title="">Careers</a></li>
                                        </ul>
                                    </div>
                                    <div class="footer-widget link-widget">
                                        <h4 class="widget-title">Support</h4>
                                        <ul class="footer-link">
                                            <li><a href="#" title="">Privacy Policy</a></li>
                                            <li><a href="#" title="">Terms & Condition</a></li>
                                            <li><a href="#" title="">Waitlist</a></li>
                                            <li><a href="#" title="">Changelog</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="footer-bottom">
                            <div class="copyright-area">
                                <p>Sasico,2025 © All rights reserved</p>
                            </div>
                            <ul class="terms-list">
                                <li><a href="#" title="">Terms & Conditions</a></li>
                                <li><a href="#" title="">Privacy Policy</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
        <!-- End footer-style1 -->
       
    </div>


    <!--********************************
			Code End  Here 
	******************************** -->

    <!--==============================
        All Js File
    ============================== -->
    <!-- Bootstrap -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <!-- swiper -->
    <script src="assets/js/vendor/swiper-bundle.min.js"></script>
    <!-- AOS Js File -->
    <script src="assets/js/vendor/aos.js"></script>
    <!-- Main Js File -->
    <script src="assets/js/main.js"></script>
</body>
</html>