<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sasico || The Ultimate Guide to Choosing - CRM - SaaS & Tech Startup HTML Template</title>
    <meta name="author" content="Vecuro">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--==============================
	   Google Web Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- swiper slider -->
    <link rel="stylesheet" href="assets/css/vendor/swiper-bundle.min.css">
    <!-- AOS css file -->
    <link rel="stylesheet" href="assets/css/vendor/aos.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="crm-home">

    <!-- Popup -->
    <div class="video-modal" id="videoModal" style="display:none;">
        <button class="video-close-btn">✕</button>
        <div class="video-modal-box">
            <iframe id="videoFrame2"
                width="560" height="315"
                allow="autoplay; encrypted-media"
                allowfullscreen
                style="border:0;">
            </iframe>
        </div>
    </div>
    
    <!-- darkModeBtn -->
    <a href="#" id="darkModeBtn" class="dark-active">
        <img src="assets/images/icon/moon.png" alt="Moon Icon" class="moon">
        <img src="assets/images/icon/sun.png" alt="Sun Icon" class="sun">
    </a>


    <!--********************************
   		Code Start From Here
	******************************** -->

    <!--==============================
        Preloader
    ==============================-->
    <div id="preloader">
        <div class="loader">
            <img src="assets/images/logo.svg" alt="Website Logo" class="light">
            <img src="assets/images/dark-logo.svg" alt="Website Logo" class="dark">
        </div>
    </div>

    <div class="wrapper">
        <!-- Mobile Menu -->
        <div class="mobile-menu">
            <!-- Close Button -->
            <div class="close-btn">
                <img src="assets/images/icon/xmark2.svg" alt="Close Menu">
            </div>
            <nav>
                <ul class="main-menu11 menu-style11">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="solutions.html">Solutions</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li><a href="blog-standard.html">News</a></li>
                    <li><a href="help.html">Help</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu-overlay"></div>

        <!-- search box -->
        <div class="search-popup">
            <form class="search-form">
                <input type="text" placeholder="Enter Keywords..." required>
                <button type="submit" class="submit-btn">
                    <img src="assets/images/icon/search.svg" alt="Search Icon">
                </button>
            </form>
        </div>
        <div class="search-overlay"></div>

        <!-- main-sec4 -->
        <section class="main-sec4 v2">
            <!-- Header -->
            <header class="header-main">
                <div class="carousel-container">
                    <div class="header-bottom">
                        <div class="row">
                            <!-- Logo -->
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="header-logo">
                                    <a href="index.html" class="logo light" title="Home">
                                        <img src="assets/images/logo.svg" alt="Sasico SaaS Analytics Logo">
                                    </a>
                                    <a href="index.html" title="Home" class="dark">
                                        <img src="assets/images/dark-logo.svg" alt="Sasico SaaS Analytics Dark Logo">
                                    </a>
                                </div>
                            </div>

                            <!-- Navigation Menu -->
                            <div class="col-lg-6">
                                <nav class="main-menu11 menu-style11" aria-label="Main Navigation">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="solutions.html">Solutions</a></li>
                                        <li><a href="pricing.html">Pricing</a></li>
                                        <li><a href="help.html">Help</a></li>
                                        <li><a href="blog-standard.html">News</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>

                            <!-- Buttons -->
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="header-btn">
                                    <a href="#" class="search-btn" aria-label="Search">
                                        <img src="assets/images/icon/search.svg" alt="Search Icon">
                                    </a>
                                    <a href="#" class="btn-style1">
                                        Sign In
                                        <span>
                                            <img src="assets/images/icon/arrow.svg" alt="Arrow Icon">
                                        </span>
                                    </a>
                                    <button class="hamburger-btn" aria-label="Toggle Menu">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- End header -->

            <!-- hero-sec -->
            <div class="page-banner2">
                <div class="carousel-container">
                    <div class="page-content2">
                        <h1 class="title" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">The Ultimate Guide to Choosing the Right CRM</h1>
                        <ul class="breadcrumb2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                            <li><a href="#" title="">Home</a></li>
                            <li>The Ultimate Guide to Choosing the Right CRM</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End hero-sec -->

            <!-- blog-sec2 -->
            <div class="blog-sec2 space">
                <div class="carousel-container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="blog-card v2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                                        <div class="blog-img">
                                            <a href="blog-detail.html" title="">
                                                <img src="assets/images/blog/blog1-1.png" alt="Predictive analytics competitors SaaS blog image">
                                            </a>
                                        </div>
                                        <div class="blog-content">
                                            <ul class="blog-meta">
                                                <li><a href="#" title="">Admin</a></li>
                                                <li><a href="#" title="">September 10, 2025</a></li>
                                            </ul>
                                            <h1 class="title"><a href="blog-detail.html" title="">How Predictive Analytics Helps You Stay Ahead of Competitors</a></h1>
                                            <a href="#" class="btn-style1">
                                                Read More
                                                <span>
                                                    <img src="assets/images/icon/arrow.svg" alt="Arrow icon for read more button">
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="blog-card v2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="500">
                                        <div class="blog-img">
                                            <a href="blog-detail.html" title="">
                                                <img src="assets/images/blog/blog1-2.png" alt="AI trends and future technology blog image">
                                            </a>
                                        </div>
                                        <div class="blog-content">
                                            <ul class="blog-meta">
                                                <li><a href="#" title="">Admin</a></li>
                                                <li><a href="#" title="">September 7, 2025</a></li>
                                            </ul>
                                            <h1 class="title"><a href="blog-detail.html" title="">Trends Shaping the Future of Artificial Intelligence in 2025</a></h1>
                                            <a href="#" class="btn-style1">
                                                Read More
                                                <span>
                                                    <img src="assets/images/icon/arrow.svg" alt="Arrow icon for read more button">
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="blog-card v2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="700">
                                        <div class="blog-img">
                                            <a href="blog-detail.html" title="">
                                                <img src="assets/images/blog/blog1-3.png" alt="Conversational AI business applications blog image">
                                            </a>
                                        </div>
                                        <div class="blog-content">
                                            <ul class="blog-meta">
                                                <li><a href="#" title="">Admin</a></li>
                                                <li><a href="#" title="">July 20, 2025</a></li>
                                            </ul>
                                            <h1 class="title"><a href="blog-detail.html" title="">Understanding Conversational AI and Its Business Applications</a></h1>
                                            <a href="#" class="btn-style1">
                                                Read More
                                                <span>
                                                    <img src="assets/images/icon/arrow.svg" alt="Arrow icon for read more button">
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="blog-card v2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                                        <div class="blog-img">
                                            <a href="blog-detail.html" title="">
                                                <img src="assets/images/blog/blog1-4.png" alt="Predictive analytics business growth blog image">
                                            </a>
                                        </div>
                                        <div class="blog-content">
                                            <ul class="blog-meta">
                                                <li><a href="#" title="">Admin</a></li>
                                                <li><a href="#" title="">September 10, 2025</a></li>
                                            </ul>
                                            <h1 class="title"><a href="blog-detail.html" title="">How Predictive Analytics Helps You Stay Ahead of Competitors</a></h1>
                                            <a href="#" class="btn-style1">
                                                Read More
                                                <span>
                                                    <img src="assets/images/icon/arrow.svg" alt="Arrow icon for read more button">
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="blog-card v2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="500">
                                        <div class="blog-img">
                                            <a href="blog-detail.html" title="">
                                                <img src="assets/images/blog/blog1-5.png" alt="Artificial intelligence trends SaaS blog image">
                                            </a>
                                        </div>
                                        <div class="blog-content">
                                            <ul class="blog-meta">
                                                <li><a href="#" title="">Admin</a></li>
                                                <li><a href="#" title="">September 7, 2025</a></li>
                                            </ul>
                                            <h1 class="title"><a href="blog-detail.html" title="">Trends Shaping the Future of Artificial Intelligence in 2025</a></h1>
                                            <a href="#" class="btn-style1">
                                                Read More
                                                <span>
                                                    <img src="assets/images/icon/arrow.svg" alt="Arrow icon for read more button">
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="blog-card v2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="700">
                                        <div class="blog-img">
                                            <a href="blog-detail.html" title="">
                                                <img src="assets/images/blog/blog1-6.png" alt="Conversational AI enterprise solutions blog image">
                                            </a>
                                        </div>
                                        <div class="blog-content">
                                            <ul class="blog-meta">
                                                <li><a href="#" title="">Admin</a></li>
                                                <li><a href="#" title="">July 20, 2025</a></li>
                                            </ul>
                                            <h1 class="title"><a href="blog-detail.html" title="">Understanding Conversational AI and Its Business Applications</a></h1>
                                            <a href="#" class="btn-style1">
                                                Read More
                                                <span>
                                                    <img src="assets/images/icon/arrow.svg" alt="Arrow icon for read more button">
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <nav aria-label="Page navigation example" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                                <ul class="pagination blog-pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">
                                                <img src="assets/images/icon/arrow1-1.svg" alt="Previous page navigation arrow">
                                            </span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">
                                                <img src="assets/images/icon/arrow1-2.svg" alt="Next page navigation arrow">
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-4">
                            <div class="side-bar m-0" data-aos="fade-left" data-aos-duration="900" data-aos-delay="300">
                                <div class="form-widget2">
                                    <form class="comment-form2">
                                        <div class="form-group">
                                            <input type="text" name="name" placeholder="Search" required>
                                            <button type="submit">
                                                <img src="assets/images/icon/search.svg" alt="Search submit icon">
                                            </button>
                                        </div>
                                    </form>
                                </div>

                                <div class="side-widget categorie-widegt">
                                    <h1 class="side-bar-title">Categories</h1>
                                    <ul class="blog-detail-list">
                                        <li><a href="#" title="">AI & Technology</a></li>
                                        <li><a href="#" title="">Dashboard Design</a></li>
                                        <li><a href="#" title="">Mobile Apps Development</a></li>
                                        <li><a href="#" title="">Product Design</a></li>
                                        <li><a href="#" title="">SaaS Landing Template</a></li>
                                        <li><a href="#" title="">UX/UI Design</a></li>
                                    </ul>
                                </div>

                                <div class="side-widget news-widegt">
                                    <h1 class="side-bar-title">Latest News</h1>

                                    <div class="news-content">
                                        <a href="#" title="">
                                            <img src="assets/images/blog/blog2-2.webp" alt="Predictive analytics SaaS blog thumbnail">
                                        </a>
                                        <span class="date">September 10, 2025</span>
                                        <h2 class="title"><a href="#" title="">How Predictive Analytics Helps You Stay Ahead of Competitors</a></h2>
                                    </div>

                                    <div class="news-content">
                                        <a href="#" title="">
                                            <img src="assets/images/blog/blog2-3.webp" alt="AI trends 2025 blog thumbnail image">
                                        </a>
                                        <span class="date">September 7, 2025</span>
                                        <h2 class="title"><a href="#" title="">Trends Shaping the Future of Artificial Intelligence in 2025</a></h2>
                                    </div>

                                    <div class="news-content">
                                        <a href="#" title="">
                                            <img src="assets/images/blog/blog2-4.webp" alt="Conversational AI business applications blog thumbnail">
                                        </a>
                                        <span class="date">September 6, 2025</span>
                                        <h2 class="title"><a href="#" title="">Understanding Conversational AI and Its Business Applications</a></h2>
                                    </div>
                                </div>

                                <div class="side-widget tag-widget">
                                    <h1 class="side-bar-title">Tags</h1>
                                    <ul class="tag-list m-0">
                                        <li><a href="#" title="">Dashboard</a></li>
                                        <li><a href="#" title="">Design</a></li>
                                        <li><a href="#" title="">Mobile</a></li>
                                        <li><a href="#" title="">SasS</a></li>
                                        <li><a href="#" title="">Software</a></li>
                                        <li><a href="#" title="">Technology</a></li>
                                    </ul>
                                </div>

                                <div class="side-widget form-widget2">
                                    <p>Stay ahead of the curve with the latest 
                                        product updates, expert tips
                                    </p>
                                    <form class="comment-form3">
                                        <div class="form-group">
                                            <input type="text" name="name" placeholder="Enter your email" required>
                                            <button type="submit" class="btn-style1">
                                                Subscribe now
                                                <span>
                                                    <img src="assets/images/icon/arrow.svg" alt="Arrow icon for subscribe button">
                                                </span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End blog-sec2 -->
        </section>
        <!-- End main-sec4 -->

        <!-- main-sec3 -->
        <section class="main-sec3">
            <!-- platform-sec -->
            <div class="platform-sec space">
                <div class="carousel-container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="platform-content" data-aos="fade-right" data-aos-duration="900" data-aos-delay="300">
                                <div class="sec-title">
                                    <span class="sub-title">Easy to Get Sasico</span>
                                    <h2 class="title">One Platform. Every Customer.</h2>
                                    <p>Ready to Take Your Business to the Next Level? Start Your CRM Journey Now,It’s Time to Work Smarter, Not Harder</p>
                                </div>
                                <a href="#" class="btn-style1">
                                    Get Started With Sasico
                                    <span>
                                        <img src="assets/images/icon/arrow.svg" alt="Arrow Icon">
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="platform-img" data-aos="fade-left" data-aos-duration="900" data-aos-delay="300">
                                <img src="assets/images/event/platform1-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End platform-sec -->

            <!-- footer-style1 -->
            <footer class="footer-style1 space-top">
                <button id="scrollTopBtn">
                    <img src="assets/images/icon/check1-3.svg" alt="Scroll to top arrow icon">
                </button>
                <div class="footer-top">
                    <div class="carousel-container">
                        <div class="widget-area">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="footer-widget footer-links">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-6">
                                                <div class="link-widget" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                                                    <h3 class="widget-title">Product</h3>
                                                    <ul class="footer-link">
                                                        <li><a href="#" title="">Features</a></li>
                                                        <li><a href="#" title="">Integrations</a></li>
                                                        <li><a href="#" title="">Download</a></li>
                                                        <li><a href="#" title="">Pricing</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-6">
                                                <div class="link-widget" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
                                                    <h3 class="widget-title">Company</h3>
                                                    <ul class="footer-link">
                                                        <li><a href="#" title="">About us</a></li>
                                                        <li><a href="#" title="">Latest Blog</a></li>
                                                        <li><a href="#" title="">Our Clients</a></li>
                                                        <li><a href="#" title="">Careers</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-6">
                                                <div class="link-widget" data-aos="fade-up" data-aos-duration="900" data-aos-delay="500">
                                                    <h3 class="widget-title">Resources</h3>
                                                    <ul class="footer-link">
                                                        <li><a href="#" title="">Support center</a></li>
                                                        <li><a href="#" title="">Documentation</a></li>
                                                        <li><a href="#" title="">Community</a></li>
                                                        <li><a href="#" title="">Hosting</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="footer-widget" data-aos="fade-up" data-aos-duration="900" data-aos-delay="600">
                                        <div class="form-widget">
                                            <h3 class="title">Join Our Newsletter</h3>
                                            <p>Never Miss an Update — Sign Up Today</p>
                                            <form class="footer-form">
                                                <input type="text" name="name" placeholder="Enter email" required>
                                                <button type="submit">
                                                    <img src="assets/images/icon/check1-3.svg" alt="Submit newsletter form button icon">
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="carousel-container">
                        <div class="footer-box" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                            <div class="copyright-area">
                                <p>Sasico,2025 © All rights reserved</p>
                            </div>
                            <ul class="terms-list" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                                <li><a href="#" title="">Terms & Conditions</a></li>
                                <li><a href="#" title="">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End footer-style1 -->
        </section>
        <!-- End main-sec3 -->
       
    </div>


    <!--********************************
			Code End  Here 
	******************************** -->

    <!--==============================
        All Js File
    ============================== -->
    <!-- Bootstrap -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <!-- swiper -->
    <script src="assets/js/vendor/swiper-bundle.min.js"></script>
    <!-- AOS Js File -->
    <script src="assets/js/vendor/aos.js"></script>
    <!-- Main Js File -->
    <script src="assets/js/main.js"></script>


</body>
</html>