<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sasico || Websit Builder - SaaS & Tech Startup HTML Template</title>
    <meta name="author" content="Vecuro">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--==============================
	   Google Web Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- swiper slider -->
    <link rel="stylesheet" href="assets/css/vendor/swiper-bundle.min.css">
    <!-- AOS css file -->
    <link rel="stylesheet" href="assets/css/vendor/aos.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body class="website-builder">
    <!-- darkModeBtn -->
    <a href="#" id="darkModeBtn" class="dark-active">
        <img src="assets/images/icon/moon.png" alt="Moon Icon" class="moon">
        <img src="assets/images/icon/sun.png" alt="Sun Icon" class="sun">
    </a>

    <!--********************************
   		Code Start From Here
	******************************** -->

    <!--==============================
        Preloader
    ==============================-->
    <div id="preloader">
        <div class="loader">
            <img src="assets/images/logo.svg" alt="Site Logo">
        </div>
    </div>

    <div class="wrapper">
        <!-- Mobile Menu -->
        <div class="mobile-menu">
            <!-- Close Button -->
            <div class="close-btn">
                <img src="assets/images/icon/xmark2.svg" alt="Close Menu">
            </div>
            <nav>
                <ul class="main-menu11 menu-style11">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="feature.html">Features</a>
                    </li>
                    <li><a href="templates.html">Templates</a></li>
                    <li>
                        <a href="pricing.html">Pricing</a>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu-overlay"></div>

        <!-- search box -->
        <div class="search-popup">
            <form class="search-form">
                <input type="text" placeholder="Enter Keywords..." required>
                <button type="submit" class="submit-btn">
                    <img src="assets/images/icon/search.svg" alt="Search Icon">
                </button>
            </form>
        </div>
        <div class="search-overlay"></div>

        <!-- header-main -->
        <header class="header-main">
            <div class="carousel-container">
                <div class="header-bottom">
                    <div class="row">
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="header-logo">
                                <a href="index.html" title="" class="logo">
                                    <img src="assets/images/logo.svg" alt="Sasico Logo">
                                </a>
                                <a href="index.html" title="">
                                    <img src="assets/images/dark-logo.svg" alt="Sasico Dark Logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <nav class="main-menu11 menu-style11">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="feature.html">Features</a></li>
                                    <li><a href="templates.html">Templates</a></li>
                                    <li><a href="pricing.html">Pricing</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="header-btn">
                                <a href="#" class="search-btn">
                                    <img src="assets/images/icon/search.svg" alt="Search icon">
                                </a>
                                <a href="#" title="" id="openMenu" class="login-btn">Log In</a>
                                <a href="#" title="" class="sign-btn menu-btn">Sign Up</a>
                                <!-- Hamburger Button -->
                                <button class="hamburger-btn">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separator-line"></div>
            </div>
        </header>
        <!-- End header-main -->

        <!-- hero-sec -->
        <section class="page-banner2">
            <div class="animation-icon">
                <img src="assets/images/icon/anim1-1.svg" alt="Animated Shape 1" class="icon1">
                <img src="assets/images/icon/anim1-2.svg" alt="Animated Shape 2" class="icon2">
            </div>
            <div class="carousel-container">
                <div class="hero-info">
                    <div class="page-content">
                        <span class="sub-title"><small>Pricing</small>Simple, Transparent Pricing</span>
                        <h1 class="title" data-aos="fade" data-aos-duration="500" data-aos-delay="300">
                            Scalable Pricing for Every Stage of Growth
                        </h1>
                        <p data-aos="fade" data-aos-duration="500" data-aos-delay="400">
                            Simple, transparent pricing for every stage. Pick a plan, unlock
                            powerful features grow your website with confidence.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End hero-sec -->

        <!-- pricing-sec -->
        <section class="pricing-sec space-bottom">
            <div class="carousel-container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="price-card" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                            <span class="offer">15% OFF</span>
                            <h4 class="price"><span class="dollar">$</span>18<span class="monthly">/month</span></h4>
                            <h3 class="title">Regular Website Builder</h3>
                            <p>Simple solution & powerful</p>
                            <a href="#" class="btn-style1">Choose Package
                                <span><img src="assets/images/icon/arrow.svg" alt="Arrow icon"></span>
                            </a>
                            <h3 class="title2">Features:</h3>
                            <ul class="price-list">
                                <li>Free domain for 1 year</li>
                                <li>AI website builder</li>
                                <li>250+ templates</li>
                                <li>Social Media Marketing</li>
                                <li>Marketing integrations</li>
                                <li>Built-in analytics</li>
                                <li>Mobile editing</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="price-block" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
                            <span class="pack">popular package</span>
                            <div class="price-card">
                                <span class="offer">28% OFF</span>
                                <h4 class="price"><span class="dollar">$</span>93<span class="monthly">/month</span>
                                </h4>
                                <h3 class="title">Premium Website Builder</h3>
                                <p>Simple solution & powerful</p>
                                <a href="#" class="btn-style1">Choose Package
                                    <span><img src="assets/images/icon/arrow.svg" alt="Arrow icon"></span>
                                </a>
                                <h3 class="title2">Features:</h3>
                                <ul class="price-list">
                                    <li>Free domain for 1 year</li>
                                    <li>AI website builder</li>
                                    <li>250+ templates</li>
                                    <li>Social Media Marketing</li>
                                    <li>Marketing integrations</li>
                                    <li>Built-in analytics</li>
                                    <li>Mobile editing</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="price-card" data-aos="fade-up" data-aos-duration="900" data-aos-delay="600">
                            <span class="offer">83% OFF</span>
                            <h4 class="price"><span class="dollar">$</span>250<span class="monthly">/month</span></h4>
                            <h3 class="title">Custom Website Builder</h3>
                            <p>Simple solution & powerful</p>
                            <a href="#" class="btn-style1">Choose Package
                                <span><img src="assets/images/icon/arrow.svg" alt="Arrow icon"></span>
                            </a>
                            <h3 class="title2">Features:</h3>
                            <ul class="price-list">
                                <li>Free domain for 1 year</li>
                                <li>AI website builder</li>
                                <li>250+ templates</li>
                                <li>Social Media Marketing</li>
                                <li>Marketing integrations</li>
                                <li>Built-in analytics</li>
                                <li>Mobile editing</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End pricing-sec -->

        <!-- choose-us-sec2 -->
        <section class="choose-us-sec2 space-bottom">
            <div class="carousel-container">
                <div class="sec-title" data-aos="fade-up" data-aos-duration="900" data-aos-delay="500">
                    <span class="sub-title">Why Choose Us</span>
                    <h2 class="title">Built-In brilliance discover the smart side of chat</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="choose-block2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                            <div class="choose-icon2">
                                <img src="assets/images/icon/choose2-1.svg" alt="Multilingual Support Icon">
                            </div>
                            <div class="choose-content2">
                                <h4 class="title">Multilingual Support</h4>
                                <p>Break language barriers connect with users around the globe.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="choose-block2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
                            <div class="choose-icon2">
                                <img src="assets/images/icon/choose2-2.svg" alt="AI-driven Data Solutions Icon">
                            </div>
                            <div class="choose-content2">
                                <h4 class="title">AI-driven data solutions</h4>
                                <p>Harness power of artificial intelligence to streamline conversations.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="choose-block2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="600">
                            <div class="choose-icon2">
                                <img src="assets/images/icon/choose2-3.svg" alt="Seamless Integration Icon">
                            </div>
                            <div class="choose-content2">
                                <h4 class="title">Seamless Integration</h4>
                                <p>Easily connect your chatbot with the tools and platforms you already.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="choose-block2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                            <div class="choose-icon2">
                                <img src="assets/images/icon/choose2-4.svg" alt="Free Trial Available Icon">
                            </div>
                            <div class="choose-content2">
                                <h4 class="title">Free Trial Available</h4>
                                <p>No Strings Attached. Experience the full power of platform with a risk-free.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="choose-block2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
                            <div class="choose-icon2">
                                <img src="assets/images/icon/choose2-5.svg" alt="Customizable Options Icon">
                            </div>
                            <div class="choose-content2">
                                <h4 class="title">Customizable Options</h4>
                                <p>Every business is unique—and your tools should be too our customizable.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="choose-block2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="600">
                            <div class="choose-icon2">
                                <img src="assets/images/icon/choose2-6.svg" alt="Secure & Reliable Icon">
                            </div>
                            <div class="choose-content2">
                                <h4 class="title">Secure & Reliable</h4>
                                <p>Built for Security. Trusted for Reliability data is protected industry-leading.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End  choose-us-sec2 -->

        <!-- main-sec2 -->
        <section class="main-sec2">
            <!-- faq-sec -->
            <div class="faq-sec space-top">
                <div class="carousel-container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="faq-content" data-aos="fade-right" data-aos-duration="900" data-aos-delay="500">
                                <div class="sec-title white">
                                    <span class="sub-title">Fast answers</span>
                                    <h2 class="title">Still Curious? Find your answers Below</h2>
                                    <p>We’ve gathered the most common inquiries
                                        to help you get started quickly.
                                    </p>
                                    <a href="#" class="btn-style1">Get a Quote <span><img
                                                src="assets/images/icon/arrow.svg"
                                                alt="Arrow icon for Get a Quote button"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="accordion faq-accordion space-bottom" id="accordionExample" data-aos="fade-left"
                                data-aos-duration="900" data-aos-delay="500">
                                <!-- Item 1 -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            <span>1. What is an AI website builder?</span>
                                            <small class="arrow-img">
                                                <img src="assets/images/icon/arrow6.svg"
                                                    alt="Arrow icon for accordion toggle">
                                            </small>
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" role="region"
                                        aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Our platform combines simplicity with powerful features like real-time
                                            collaboration, smart task organization, and <a href="#">seamless
                                                integrations</a> — all
                                            in a clean, intuitive interface.
                                        </div>
                                    </div>
                                </div>
                                <!-- Item 2 -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                            <span>2. Do I need coding skills to use it?</span>
                                            <small class="arrow-img">
                                                <img src="assets/images/icon/arrow6.svg"
                                                    alt="Arrow icon for accordion toggle">
                                            </small>
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" role="region"
                                        aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Our platform combines simplicity with powerful features like real-time
                                            collaboration, smart task organization, and <a href="#">seamless
                                                integrations</a> — all
                                            in a clean, intuitive interface.
                                        </div>
                                    </div>
                                </div>
                                <!-- Item 3 -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                            aria-expanded="false" aria-controls="collapseThree">
                                            <span>3. How long does it take to build a website?</span>
                                            <small class="arrow-img">
                                                <img src="assets/images/icon/arrow6.svg"
                                                    alt="Arrow icon for accordion toggle">
                                            </small>
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" role="region"
                                        aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Our platform combines simplicity with powerful features like real-time
                                            collaboration, smart task organization, and <a href="#">seamless
                                                integrations</a> — all
                                            in a clean, intuitive interface.
                                        </div>
                                    </div>
                                </div>
                                <!-- Item 4 -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFour">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                            aria-expanded="false" aria-controls="collapseFour">
                                            <span>4. Can I customize the designs?</span>
                                            <small class="arrow-img">
                                                <img src="assets/images/icon/arrow6.svg"
                                                    alt="Arrow icon for accordion toggle">
                                            </small>
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse" role="region"
                                        aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Our platform combines simplicity with powerful features like real-time
                                            collaboration, smart task organization, and <a href="#">seamless
                                                integrations</a> — all
                                            in a clean, intuitive interface.
                                        </div>
                                    </div>
                                </div>
                                <!-- Item 5 -->
                                <div class="accordion-item mb-0">
                                    <h2 class="accordion-header" id="headingFive">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                            aria-expanded="false" aria-controls="collapseFive">
                                            <span>5. Is my website mobile-friendly?</span>
                                            <small class="arrow-img">
                                                <img src="assets/images/icon/arrow6.svg"
                                                    alt="Arrow icon for accordion toggle">
                                            </small>
                                        </button>
                                    </h2>
                                    <div id="collapseFive" class="accordion-collapse collapse" role="region"
                                        aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Our platform combines simplicity with powerful features like real-time
                                            collaboration, smart task organization, and <a href="#">seamless
                                                integrations</a> — all
                                            in a clean, intuitive interface.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="separator-line2"></div>
                </div>
            </div>
            <!-- End faq-sec -->
        </section>
        <!-- End main-sec2 -->

        <!-- footer-main -->
        <footer class="footer-main space-top">
            <div class="carousel-container">
                <div class="footer-top">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="footer-content" data-aos="fade-right" data-aos-duration="900"
                                data-aos-delay="500">
                                <h2 class="title">Build a Stunning Website with Expert Guidance</h2>
                                <p>Try it free today — turn your ideas into stunning creations.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="contact-form" data-aos="fade-left" data-aos-duration="900" data-aos-delay="500">
                                <form action="#">
                                    <input type="text" placeholder="Enter email" required>
                                    <button type="submit" class="btn-style1">
                                        Subscribe
                                        <span>
                                            <img src="assets/images/icon/arrow.svg" alt="Subscribe Arrow Icon">
                                        </span>
                                    </button>
                                </form>
                                <ul class="contact-list">
                                    <li><img src="assets/images/icon/check3.svg" alt="Check Icon">No credit card
                                        required</li>
                                    <li><img src="assets/images/icon/check3.svg" alt="Check Icon">Get 14-Day full free
                                        trial</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separator-line3"></div>
                <div class="widget-area">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="about-widget footer-widgets" data-aos="fade-up" data-aos-duration="900"
                                data-aos-delay="200">
                                <img src="assets/images/logo2.svg" alt="Footer Logo" class="light">
                                <img src="assets/images/logo2-dark.svg" alt="Footer Logo" class="dark">
                                <p>An AI website builder empowers anyone to create professional,
                                    high-performing websites without needing to write a single
                                    line of code.
                                </p>
                                <ul class="social-links">
                                    <li><a href="#" title=""><img src="assets/images/icon/facebook.svg"
                                                alt="Facebook Icon"></a></li>
                                    <li><a href="#" title=""><img src="assets/images/icon/twitter.svg"
                                                alt="Twitter Icon"></a></li>
                                    <li><a href="#" title=""><img src="assets/images/icon/linked.svg"
                                                alt="LinkedIn Icon"></a></li>
                                    <li><a href="#" title=""><img src="assets/images/icon/football.svg"
                                                alt="Football Icon"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="widget-info">
                                <div class="links-widget footer-widgets" data-aos="fade-up" data-aos-duration="900"
                                    data-aos-delay="400">
                                    <h4 class="widget-title">Product</h4>
                                    <ul class="footer-links">
                                        <li><a href="" title="">AI Site Builder</a></li>
                                        <li><a href="" title="">Figma Library</a></li>
                                        <li><a href="" title="">Webflow Library</a></li>
                                        <li><a href="" title="">Framer Library</a></li>
                                        <li><a href="" title="">Browser Extensions</a></li>
                                    </ul>
                                </div>
                                <div class="links-widget footer-widgets" data-aos="fade-up" data-aos-duration="900"
                                    data-aos-delay="600">
                                    <h4 class="widget-title">Tools</h4>
                                    <ul class="footer-links">
                                        <li><a href="" title="">Website Builder</a></li>
                                        <li><a href="" title="">AI Website Builder</a></li>
                                        <li><a href="" title="">Print on Demand</a></li>
                                        <li><a href="" title="">Link in Bio</a></li>
                                        <li><a href="" title="">Ecommerce Website</a></li>
                                    </ul>
                                </div>
                                <div class="links-widget footer-widgets" data-aos="fade-up" data-aos-duration="900"
                                    data-aos-delay="800">
                                    <h4 class="widget-title">Community</h4>
                                    <ul class="footer-links">
                                        <li><a href="" title="">Terms & Conditions</a></li>
                                        <li><a href="" title="">Privacy Policy</a></li>
                                        <li><a href="" title="">Refund Policy</a></li>
                                        <li><a href="" title="">GDPR Compliance</a></li>
                                        <li><a href="" title="">Affiliate Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="copyright-area" data-aos="fade-right" data-aos-duration="900" data-aos-delay="500">
                        <p>Sasico,2025 © All rights reserved</p>
                    </div>
                    <button id="scrollTopBtn">
                        <img src="assets/images/icon/arrow4.svg" alt="Scroll to top arrow icon">
                    </button>
                </div>
            </div>
        </footer>
        <!-- End footer-main -->
    </div>


    <!--********************************
			Code End  Here 
	******************************** -->

    <!--==============================
        All Js File
    ============================== -->
    <!-- Bootstrap -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <!-- swiper -->
    <script src="assets/js/vendor/swiper-bundle.min.js"></script>
    <!-- AOS Js File -->
    <script src="assets/js/vendor/aos.js"></script>
    <!-- Main Js File -->
    <script src="assets/js/main.js"></script>

</body>

</html>