<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sasico || Websit Builder - SaaS & Tech Startup HTML Template</title>
    <meta name="author" content="Vecuro">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--==============================
	   Google Web Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- swiper slider -->
    <link rel="stylesheet" href="assets/css/vendor/swiper-bundle.min.css">
    <!-- AOS css file -->
    <link rel="stylesheet" href="assets/css/vendor/aos.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body class="website-builder">
    <!-- darkModeBtn -->
    <a href="#" id="darkModeBtn" class="dark-active">
        <img src="assets/images/icon/moon.png" alt="Moon Icon" class="moon">
        <img src="assets/images/icon/sun.png" alt="Sun Icon" class="sun">
    </a>


    <!--********************************
   		Code Start From Here
	******************************** -->

    <!--==============================
        Preloader
    ==============================-->
    <div id="preloader">
        <div class="loader">
            <img src="assets/images/logo.svg" alt="Sasico Logo">
        </div>
    </div>

    <div class="wrapper">
        <!-- Mobile Menu -->
        <div class="mobile-menu">
            <!-- Close Button -->
            <div class="close-btn">
                <img src="assets/images/icon/xmark2.svg" alt="Close Menu">
            </div>
            <nav>
                <ul class="main-menu11 menu-style11">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="feature.html">Features</a>
                    </li>
                    <li><a href="templates.html">Templates</a></li>
                    <li>
                        <a href="pricing.html">Pricing</a>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu-overlay"></div>

        <!-- search box -->
        <div class="search-popup">
            <form class="search-form">
                <input type="text" placeholder="Enter Keywords..." required>
                <button type="submit" class="submit-btn">
                    <img src="assets/images/icon/search.svg" alt="Search Icon">
                </button>
            </form>
        </div>
        <div class="search-overlay"></div>

        <!-- header-main -->
        <header class="header-main">
            <div class="carousel-container">
                <div class="header-bottom">
                    <div class="row">
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="header-logo">
                                <a href="index.html" title="" class="logo">
                                    <img src="assets/images/logo.svg" alt="Sasico Logo">
                                </a>
                                <a href="index.html" title="">
                                    <img src="assets/images/dark-logo.svg" alt="Sasico Dark Logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <nav class="main-menu11 menu-style11">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="feature.html">Features</a></li>
                                    <li><a href="templates.html">Templates</a></li>
                                    <li><a href="pricing.html">Pricing</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="header-btn">
                                <a href="#" class="search-btn">
                                    <img src="assets/images/icon/search.svg" alt="Search Icon">
                                </a>
                                <a href="#" title="" id="openMenu" class="login-btn">Log In</a>
                                <a href="#" title="" class="sign-btn menu-btn">Sign Up</a>
                                <!-- Hamburger Button -->
                                <button class="hamburger-btn">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separator-line"></div>
            </div>
        </header>
        <!-- End header-main -->

        <!-- hero-sec -->
        <section class="page-banner3">
            <div class="animation-icon">
                <img src="assets/images/icon/anim1-1.svg" alt="Animated Shape 1" class="icon1">
                <img src="assets/images/icon/anim1-2.svg" alt="Animated Shape 2" class="icon2">
            </div>
            <div class="carousel-container">
                <div class="hero-info">
                    <div class="page-content">
                        <span class="sub-title"><small>Template</small>100+ Pre-made template</span>
                        <h1 class="title" data-aos="fade" data-aos-duration="500" data-aos-delay="300">Modern Templates
                            Ready to Use</h1>
                        <p data-aos="fade" data-aos-duration="500" data-aos-delay="400">Get a head start on your website
                            with over
                            100+ professionally designed templates
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End hero-sec -->

        <!-- project-sec2 -->
        <section class="project-sec2 space-bottom">
            <div class="carousel-container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="project-block2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                            <img src="assets/images/project/pro2-1.png"
                                alt="Task Management SaaS Landing Page Screenshot">
                            <h4 class="title"><a href="#" title="">Task Management SaaS Landing pages</a></h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="project-block2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
                            <img src="assets/images/project/pro2-2.png"
                                alt="SaaS Management Dark Landing Page Screenshot">
                            <h4 class="title"><a href="#" title="">SaaS Management Dark Landing pages</a></h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="project-block2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="600">
                            <img src="assets/images/project/pro2-3.png" alt="SaaS Startup Dark Landing Page Screenshot">
                            <h4 class="title"><a href="#" title="">SaaS Startup Dark Landing pages</a></h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="project-block2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                            <img src="assets/images/project/pro2-4.png"
                                alt="Digital Agency Dark Landing Page Screenshot">
                            <h4 class="title"><a href="#" title="">Digital Agency Dark Landing pages</a></h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="project-block2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
                            <img src="assets/images/project/pro2-5.png" alt="AI Chatbot Dark Landing Page Screenshot">
                            <h4 class="title"><a href="#" title="">AI chatbot dark Landing pages</a></h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="project-block2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="600">
                            <img src="assets/images/project/pro2-6.png" alt="AI Software Dark Landing Page Screenshot">
                            <h4 class="title"><a href="#" title="">Ai Software Dark Landing pages</a></h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="project-block2 v2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                            <img src="assets/images/project/pro2-7.png" alt="CRM Landing Page Screenshot">
                            <h4 class="title"><a href="#" title="">CRM Landing pages</a></h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="project-block2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
                            <img src="assets/images/project/pro2-8.png"
                                alt="AI Website Builder Landing Page Screenshot">
                            <h4 class="title"><a href="#" title="">AI website builder Landing pages</a></h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="project-block2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="600">
                            <img src="assets/images/project/pro2-9.png"
                                alt="Analytics Dark SaaS Landing Page Screenshot">
                            <h4 class="title"><a href="#" title="">Analytics Dark SaaS Landing pages</a></h4>
                        </div>
                    </div>
                </div>
                <div class="project-btn2" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                    <a href="#" class="btn-style1">View More Template <span><img src="assets/images/icon/arrow.svg"
                                alt="Arrow Icon"></span></a>
                </div>
            </div>
        </section>
        <!-- End project-sec2 -->

        <!-- main-sec2 -->
        <section class="main-sec2">
            <!-- feature-sec2 -->
            <div class="feature-sec2 space">
                <div class="carousel-container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6">
                            <div class="feature-content2" data-aos="fade-right" data-aos-duration="900"
                                data-aos-delay="500">
                                <div class="sec-title white mb-0">
                                    <span class="sub-title">All in one solutions</span>
                                    <h2 class="title">Launch your site in minutes with the AI website builder</h2>
                                    <p>Start creating your website today with the power of AI. Our
                                        intuitive AI website builder makes designing.
                                    </p>
                                    <div class="feature-btn">
                                        <a href="#" class="btn-style1 v2">Start For Free <span><img
                                                    src="assets/images/icon/arrow.svg" alt="Arrow Icon"></span></a>
                                        <a href="#" class="btn-style1 v3">Generate With AI <span><img
                                                    src="assets/images/icon/arrow.svg" alt="Arrow Icon"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-6">
                            <div class="feature-img2" data-aos="fade-left" data-aos-duration="900" data-aos-delay="500">
                                <img src="assets/images/feature/feature2-1.png"
                                    alt="AI Website Builder Interface Screenshot">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End feature-sec2 -->
        </section>
        <!-- End main-sec2 -->

        <!-- footer-main -->
        <footer class="footer-main space-top">
            <div class="carousel-container">
                <div class="footer-top">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="footer-content" data-aos="fade-right" data-aos-duration="900"
                                data-aos-delay="500">
                                <h2 class="title">Build a Stunning Website with Expert Guidance</h2>
                                <p>Try it free today — turn your ideas into stunning creations.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="contact-form" data-aos="fade-left" data-aos-duration="900" data-aos-delay="500">
                                <form action="#">
                                    <input type="text" placeholder="Enter email" required>
                                    <button type="submit" class="btn-style1">
                                        Subscribe
                                        <span>
                                            <img src="assets/images/icon/arrow.svg" alt="Subscribe Arrow Icon">
                                        </span>
                                    </button>
                                </form>
                                <ul class="contact-list">
                                    <li><img src="assets/images/icon/check3.svg" alt="Check Icon">No credit card
                                        required</li>
                                    <li><img src="assets/images/icon/check3.svg" alt="Check Icon">Get 14-Day full free
                                        trial</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separator-line3"></div>
                <div class="widget-area">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="about-widget footer-widgets" data-aos="fade-up" data-aos-duration="900"
                                data-aos-delay="200">
                                <img src="assets/images/logo2.svg" alt="Footer Logo" class="light">
                                <img src="assets/images/logo2-dark.svg" alt="Footer Logo" class="dark">
                                <p>An AI website builder empowers anyone to create professional,
                                    high-performing websites without needing to write a single
                                    line of code.
                                </p>
                                <ul class="social-links">
                                    <li><a href="#" title=""><img src="assets/images/icon/facebook.svg"
                                                alt="Facebook Icon"></a></li>
                                    <li><a href="#" title=""><img src="assets/images/icon/twitter.svg"
                                                alt="Twitter Icon"></a></li>
                                    <li><a href="#" title=""><img src="assets/images/icon/linked.svg"
                                                alt="LinkedIn Icon"></a></li>
                                    <li><a href="#" title=""><img src="assets/images/icon/football.svg"
                                                alt="Football Icon"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="widget-info">
                                <div class="links-widget footer-widgets" data-aos="fade-up" data-aos-duration="900"
                                    data-aos-delay="400">
                                    <h4 class="widget-title">Product</h4>
                                    <ul class="footer-links">
                                        <li><a href="" title="">AI Site Builder</a></li>
                                        <li><a href="" title="">Figma Library</a></li>
                                        <li><a href="" title="">Webflow Library</a></li>
                                        <li><a href="" title="">Framer Library</a></li>
                                        <li><a href="" title="">Browser Extensions</a></li>
                                    </ul>
                                </div>
                                <div class="links-widget footer-widgets" data-aos="fade-up" data-aos-duration="900"
                                    data-aos-delay="600">
                                    <h4 class="widget-title">Tools</h4>
                                    <ul class="footer-links">
                                        <li><a href="" title="">Website Builder</a></li>
                                        <li><a href="" title="">AI Website Builder</a></li>
                                        <li><a href="" title="">Print on Demand</a></li>
                                        <li><a href="" title="">Link in Bio</a></li>
                                        <li><a href="" title="">Ecommerce Website</a></li>
                                    </ul>
                                </div>
                                <div class="links-widget footer-widgets" data-aos="fade-up" data-aos-duration="900"
                                    data-aos-delay="800">
                                    <h4 class="widget-title">Community</h4>
                                    <ul class="footer-links">
                                        <li><a href="" title="">Terms & Conditions</a></li>
                                        <li><a href="" title="">Privacy Policy</a></li>
                                        <li><a href="" title="">Refund Policy</a></li>
                                        <li><a href="" title="">GDPR Compliance</a></li>
                                        <li><a href="" title="">Affiliate Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="copyright-area" data-aos="fade-right" data-aos-duration="900" data-aos-delay="500">
                        <p>Sasico,2025 © All rights reserved</p>
                    </div>
                    <button id="scrollTopBtn">
                        <img src="assets/images/icon/arrow4.svg" alt="Scroll to top arrow icon">
                    </button>
                </div>
            </div>
        </footer>
        <!-- End footer-main -->
    </div>

    <!--********************************
			Code End  Here 
	******************************** -->

    <!--==============================
        All Js File
    ============================== -->
    <!-- Bootstrap -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <!-- swiper -->
    <script src="assets/js/vendor/swiper-bundle.min.js"></script>
    <!-- AOS Js File -->
    <script src="assets/js/vendor/aos.js"></script>
    <!-- Main Js File -->
    <script src="assets/js/main.js"></script>

</body>

</html>